<div class="content-b" ng-show="lang == 1">

    <h1>{{about}}</h1>

    <div class="row">
        <div class="col-md-3">
            <img class="img-responsive img-rounded img-thumbnail" src="images/content/about/1.jpg"/>
        </div>

        <div class="col-md-8">

            <p>Группа Компаний «РуссНефть» является вертикально интегрированным нефтяным холдингом.</p>

            <p>В структуре «РуссНефти» <b class="text-danger">45</b> добывающих предприятий.</p>

            <p>
                Предприятия Группы Компаний расположены в <b class="text-danger">16</b>
                регионах России, странах СНГ и Западной Африки.
            </p>

            <p>Головной офис расположен в Москве.</p>

            <p>Численность персонала Группы Компаний составляет <b class="text-danger">21 тыс. сотрудников</b>.</p>
        </div>

    </div>

    <div class="row">

        <div class="col-md-8">
            <p>
                «РуссНефть» осуществляет геолого-разведочные работы и добычу нефти, газа и конденсата <br>
                на
                <b class="text-danger">208</b>
                лицензионных участках.
            </p>

            <p>Общий объем добычи нефти предприятиями Группы составляет <b class="text-danger">17,0 млн. тонн</b>.</p>

            <p>Суммарные извлекаемые запасы нефти Группы Компаний «РуссНефть» превышают <b class="text-danger">765 млн. тонн</b>.</p>

            <p>
                <br/>
                <img class="img-responsive" src="images/content/graph/neft1.png"/>
            </p>

        </div>

        <div class="col-md-4">
            <img class="img-responsive img-rounded img-thumbnail" src="images/content/about/5.jpg"/>
            <br/>
            <br/>
            <br/>

            <div class="text-center fs20">
                <p>«РуссНефть» занимает</p>

                <p><span class="btn btn-primary btn-lg btn-block fs25">8-е</span></p>

                <p>место по объему добычи нефти и конденсата в РФ</p>
            </div>
        </div>

    </div>

    <div class="row">

        <div class="col-md-8">
            <p>Общий объем добычи газа предприятиями Группы Компаний «РуссНефть» достиг <b class="text-danger">2 257 млн м<sup>3</sup></b>.</p>

            <p>Суммарные извлекаемые запасы газа составляют <b class="text-danger">177 млрд м<sup>3</sup></b>.</p>

            <p>
                <br/>
                <img class="img-responsive" src="images/content/graph/gas1.png"/>
            </p>
        </div>

        <div class="col-md-4">
            <img class="img-responsive img-rounded img-thumbnail" src="images/content/about/6.jpg"/>
            <br/>
            <br/>
            <br/>

            <div class="text-center fs20">
                <p>«РуссНефть» занимает</p>

                <p><span class="btn btn-primary btn-lg btn-block fs25">8-е</span></p>

                <p>место по объему добычи газа в РФ</p>
            </div>
        </div>

    </div>

</div>


<div class="content-b" ng-show="lang == 2">

    <h1>{{about}}</h1>

    <div class="row">
        <div class="col-md-3">
            <img class="img-responsive img-rounded img-thumbnail" src="images/content/about/1.jpg"/>
        </div>

        <div class="col-md-8">

            <p>
                RussNeft Group of Companies is a vertically - integrated oil holding.
            </p>

            <p>
                The structure of RussNeft Group includes <b class="text-danger">45</b> upstream companies.
            </p>

            <p>
                Subsidiaries of the Group are located in <b class="text-danger">16</b>
                regions of Russia, CIS countries and West Africa.
            </p>

            <p>
                The head office of the company is in Moscow.
            </p>

            <p>
                The Company’s personnel is <b class="text-danger">21 000 employees</b>.
            </p>

        </div>

    </div>

    <div class="row">

        <div class="col-md-8">
            <p>
                RussNeft performs exploration works and produces oil and condensate at
                <b class="text-danger">208</b>
                licenses.
            </p>

            <p>The total amount of oil production output by the companies of RussNeft Group is <b class="text-danger">17.0 million tons</b>.</p>

            <p>Oil net effective pay of RussNeft Group exceeds <b class="text-danger">765 million tons</b>.</p>

            <p>
                <br/>
                <img class="img-responsive" src="images/content/graph/neft1-en.png"/>
            </p>

        </div>

        <div class="col-md-4">
            <img class="img-responsive img-rounded img-thumbnail" src="images/content/about/5.jpg"/>
            <br/>
            <br/>
            <br/>

            <div class="text-center fs20">
                <p>RussNeft ranks:</p>

                <p><span class="btn btn-primary btn-lg btn-block fs25">8th</span></p>

                <p>
                    among the oil and condensate producers in Russia
                </p>
            </div>
        </div>

    </div>

    <div class="row">

        <div class="col-md-8">
            <p>
                The total amount of gas produced by the companies of RussNeft Group is
                <b class="text-danger"> 2 257 mln m<sup>3</sup></b>.
            </p>

            <p>
                Gas net effective pay –
                <b class="text-danger">177 bcm</b>.
            </p>

            <p>
                <br/>
                <img class="img-responsive" src="images/content/graph/gas1-en.png"/>
            </p>
        </div>

        <div class="col-md-4">
            <img class="img-responsive img-rounded img-thumbnail" src="images/content/about/6.jpg"/>
            <br/>
            <br/>
            <br/>

            <div class="text-center fs20">

                <p>
                    RussNeft ranks
                </p>

                <p><span class="btn btn-primary btn-lg btn-block fs25">8th</span></p>

                <p>among gas producers in Russia</p>
            </div>
        </div>

    </div>

</div>
