<div class="content-b" ng-show="lang == 1">

    <h1>{{contacts}}</h1>

    <div class="row">

        <div class="col-md-5 col-md-offset-1 fs20">
            <br>
            <br>
            <br>
            <br>
            115054, г. Москва, ул.Пятницкая, д.69<br>
            Тел.: (495) 411-6309 <br>
            Факс: (495) 411-6325 <br>
            Е-mail: <a href="">russneft@russneft.ru</a> <br>
            <a href="">www.russneft.ru</a>
        </div>

        <div class="col-md-6">
            <img class="img-responsive img-thumbnail" src="images/content/contacts/1.png"/>
        </div>

    </div>

</div>


<div class="content-b" ng-show="lang == 2">

    <h1>{{contacts}}</h1>

    <div class="row">

        <div class="col-md-5 col-md-offset-1 fs20">
            <br>
            <br>
            <br>
            <br>
            69, Pyatnitskaya ul., Moscow, Russia, 115054<br>
            Tel.: (495) 411-6309<br>
            Fax: (495) 411-6325<br>
            Е-mail: <a href="">russneft@russneft.ru</a> <br>
            <a href="">www.russneft.ru</a>
        </div>

        <div class="col-md-6">
            <img class="img-responsive img-thumbnail" src="images/content/contacts/1en.png"/>
        </div>

    </div>

</div>