<div class="content-b" ng-show="lang == 1">

    <h1>{{dev}}</h1>

    <div class="row" style="margin-bottom: 30px">
        <div class="col-md-7">
            <p>
                В 2014–2015 годах ОАО НК «РуссНефть» объединится с ОАО НК «Нефтиса». Также в состав объединенной компании войдут активы в Азербайджане и Казахстане.
            </p>
            <br/>

            <div class="row" style="margin-bottom: 0">
                <div class="col-md-5 text-center">
                    <p>
                        Предполагаемый объем добычи нефти к 2016 году составит
                    </p>

                    <p>
                        <span class="btn btn-primary btn-lg btn-block fs20">
                            18,0 млн т
                        </span>
                    </p>
                </div>
                <div class="col-md-5 col-md-offset-1 text-center">

                    <p>
                        Предполагаемый объем запасов нефти к 2016 году составит
                    </p>

                    <p>
                        <span class="btn btn-primary btn-lg btn-block fs20">
                            800 млн т        
                        </span>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <img class="img-responsive img-thumbnail" src="images/content/dev/2.jpg"/>
        </div>
    </div>

    <div class="row" style="margin-bottom: 0">
        <div class="col-md-5">
            <img class="img-responsive img-thumbnail" src="images/content/dev/1.jpg"/>
        </div>
        <div class="col-md-7">
            <h3>Перспективы развития:</h3>
            <ul>
                <li>
                    «РуссНефть» будет рассматривать вопросы приобретения новых активов, соответствующих профилю компании и отвечающих ее стратегическим приоритетам
                </li>
                <li>
                    «РуссНефть» намерена повысить эффективность путем внедрения передовых технологий и современного нефтегазового оборудования, инвестируя в развитие собственных
                    производственных мощностей
                </li>
                <li>
                    «РуссНефть» будет стремиться обеспечить конкурентный уровень операционных издержек на добычу нефти и газа за счет структурных и технологических инноваций
                </li>
            </ul>
        </div>
    </div>

</div>


<div class="content-b" ng-show="lang == 2">

    <h1>{{dev}}</h1>


    <div class="row" style="margin-bottom: 30px">
        <div class="col-md-7">
            <p>
                OAO NK RussNeft merges with OAO NK Neftisa in 2014-2015. Assets in Azerbaijan and Kazakhstan will be included into the associated company.
            </p>
            <br/>

            <div class="row" style="margin-bottom: 0">
                <div class="col-md-5 text-center">
                    <p>
                        Estimated oil production by 2016 will amount to
                    </p>

                    <p>
                        <span class="btn btn-primary btn-lg btn-block fs20">
                            18.0 mln tons
                        </span>
                    </p>
                </div>
                <div class="col-md-5 col-md-offset-1 text-center">

                    <p>
                        <br/>
                        Oil reserves by 2016 will exceed
                    </p>

                    <p>
                        <span class="btn btn-primary btn-lg btn-block fs20">
                            800 mln tons      
                        </span>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <img class="img-responsive img-thumbnail" src="images/content/dev/2.jpg"/>
        </div>
    </div>

    <div class="row" style="margin-bottom: 0">
        <div class="col-md-5">
            <img class="img-responsive img-thumbnail" src="images/content/dev/1.jpg"/>
        </div>
        <div class="col-md-7">
            <h3>Development outlook:</h3>
            <ul>
                <li>
                    RussNeft will consider purchase of the new assets which are in compliance with the profile of the company and correspond to its strategic priorities
                </li>
                <li>
                    RussNeft intends to increase efficiency by introducing new technologies and oil and gas equipment as well as by investing to the development of its own
                    operational capacities
                </li>
                <li>
                    RussNeft will aim to secure competitiveness of operating costs for oil and gas production by means of structural and technological innovations
                </li>
            </ul>
        </div>
    </div>


</div>