<div class="content-b" ng-show="lang == 1">

    <div class="row" style="margin-bottom: 10px">
        <div class="col-md-2">
            <h1 style="margin-bottom: 0">{{environment}}</h1>
        </div>
        <div class="col-md-2 text-right" style="padding-top: 5px">
            <a class="btn btn-primary" href="#/environment">
                <span class="glyphicon glyphicon-arrow-left" style="vertical-align: top"></span>
                <span style="vertical-align: top">ВЕРНУТЬСЯ</span>
            </a>
        </div>
    </div>

    <h2>Система управления охраной окружающей среды и охраной труда Группы Компаний «РуссНефть»</h2>

    <div class="row" style="margin-bottom: 0">
        <div class="col-md-9">
            <p>
                В 2011 Группа Компаний «РуссНефть» завершила разработку и внедрение корпоративной Системы Управления охраной окружающей среды и
                охраной труда в
                холдинге и обществах, входящих в корпоративную структуру компании. Соответствие Системы Управления международным стандартам ISO 14001:
                2004 и OHSAS 18001:2007 подтверждено сертификатами, которые были вручены официальным сертификационным органом BUREAU VERITAS
                Certification Russia.
            </p>

            <p>
                Работы по разработке корпоративной Системы Управления велись в Группе Компаний «РуссНефть» в течение нескольких лет. За это время был
                проведен
                полный анализ существующей системы охраны труда и окружающей среды, а также дана оценка экологических и промышленных рисков Группы.
                Разработаны корпоративные документы Системы Управления, назначены представители руководства по Системе Управления, проведено обучение
                менеджеров высшего и среднего звена, персонала дочерних обществ. Осуществлены мероприятия по улучшению условий труда работников,
                предотвращению производственного травматизма и профзаболеваний. Проведены внутренние аудиты, в ходе которых были устранены все
                выявленные недостатки.
            </p>

            <p>
                В 2012 году был проведен Первый надзорный аудит корпоративной системы управления, в ходе которого «РуссНефть» продемонстрировала
                результативное поддержание и улучшение системы управления охраной окружающей среды и охраной труда.
            </p>

            <p>
                Группа Компаний «РуссНефть» считает внедрение корпоративной Системы управления охраной окружающей среды и охраной труда одним из
                важнейших
                элементов создания успешного бизнеса. Получение сертификатов соответствия международным стандартам ISO 14001: 2004 и OHSAS 18001:2007
                является веским подтверждением эффективности созданной корпоративной Системы.
            </p>

            <p>
                В 2013 году «РуссНефть» успешно прошла Второй надзорный аудит Системы управления, проведенный Bureau Veritas Certification Russia.
            </p>

            <p>
                В настоящее время сертифицированы все общества, входящие в корпоративную структуру холдинга. Таким образом, во всех регионах
                деятельности «РуссНефти» действует единая Система управления охраной окружающей среды и охраной труда, направленная на сохранение
                жизни и
                здоровья работников Группы Компаний «РуссНефть», безопасность на производстве и снижение негативного воздействия на окружающую среду.
            </p>
        </div>
        <div class="col-md-3">
            <img class="img-responsive img-thumbnail" src="images/content/environment/SERT1.png"/>
            <br/>
            <br/>
            <img class="img-responsive img-thumbnail" src="images/content/environment/SERT2.png"/>
        </div>
    </div>

</div>


<div class="content-b" ng-show="lang == 2">
    <div class="row" style="margin-bottom: 10px">
        <div class="col-md-2">
            <h1 style="margin-bottom: 0">{{environment}}</h1>
        </div>
        <div class="col-md-2 text-right" style="padding-top: 5px">
            <a class="btn btn-primary" href="#/environment">
                <span class="glyphicon glyphicon-arrow-left" style="vertical-align: top"></span>
                <span style="vertical-align: top">BACK</span>
            </a>
        </div>
    </div>

    <h2>
        RussNeft Group Health, Safety and Environment Management System
    </h2>

    <div class="row" style="margin-bottom: 0">
        <div class="col-md-9">
            <p>In 2011 RussNeft Group has completed development and implementation of the corporate Health, Safety and Environment Management System
                in the holding and the incorporated companies. The HSE Management System of RussNeft Group meets the international standards ISO14001:
                2004 and OHSAS 18001:2007, this is confirmed by certificates issued by the official certification center, BUREAU VERITAS Certification
                Russia.
            </p>
            <p>The process of the corporate HSE Management System development at the Group took several years. During this period a complete analysis
                of the existing labor and environment protection system was carried out and ecological and industrial risks of RussNeft Group were
                assessed. The process also included development of the corporate HSE Management system documents, appointment of Management System
                administrative representatives, training of top and mid-level managers and personnel of the subsidiaries. RussNeft took measures for
                improvement of the employees’ labor conditions, industrial injuries and occupational diseases prevention. Internal audits were
                conducted and all the faults found were rectified.
            </p>
            <p>In 2012 the First Compliance audit of the corporate management system was carried out. In the course of the audit the Group
                demonstrated effective maintenance and improvement of OHSAS. The second compliance audit is planned for November, 2013.
            </p>
            <p>RussNeft Group considers introduction of the corporate HSE Management System one of the key elements of setting up a prosperous
                business. Obtaining of the certificates of conformity to international standards ISO 14001:2004 and OHSAS 18001:2007 is a solid
                confirmation of efficiency of the worked out corporate System.
            </p>
            <p>Second compliance audit of corporate management system conducted by Bureau Veritas Certification Russia was performed in the Group in
                2013.
            </p>
            <p>All the companies included into corporate structure of the holding are certified at present time. Thus the corporate HSE Management
                System is launched in all the regions of the Group’s operations. The system is targeted at saving lives and health of RussNeft Group
                employees, industrial safety and reducing of environmental negative impact.
            </p>
        </div>
        <div class="col-md-3">
            <img class="img-responsive img-thumbnail" src="images/content/environment/SERT1.png"/>
            <br/>
            <br/>
            <img class="img-responsive img-thumbnail" src="images/content/environment/SERT2.png"/>
        </div>
    </div>


</div>