<div class="content-b">

    <h1>{{environment}}</h1>

    <br/>

    <div class="row">
        <div class="col-md-3">
            <a href="#/environment/1">
                <img class="img-responsive img-thumbnail" src="images/content/environment/1.jpg"/>
            </a>
        </div>
        <div class="col-md-9 fs20" style="padding-top: 62px">
            <a ng-show="lang == 1" href="#/environment/1">Политика Группы Компаний «РуссНефть» в области охраны окружающей среды и охраны труда</a>
            <a ng-show="lang == 2" href="#/environment/1">RussNeft Group HSE policy</a>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <a href="#/environment/2">
                <img class="img-responsive img-thumbnail" src="images/content/environment/2.jpg"/>
            </a>
        </div>
        <div class="col-md-9 fs20" style="padding-top: 62px">
            <a ng-show="lang == 1" href="#/environment/2">Система управления охраной окружающей среды и охраной труда Группы Компаний «РуссНефть»</a>
            <a ng-show="lang == 2" href="#/environment/2">RussNeft Group Health, Safety and Environment Management System</a>
        </div>
    </div>

</div>