<div class="content-b" ng-show="lang == 1">

    <div class="row" style="margin-bottom: 10px">
        <div class="col-md-2">
            <h1 style="margin-bottom: 0">{{environment}}</h1>
        </div>
        <div class="col-md-2 text-right" style="padding-top: 5px">
            <a class="btn btn-primary" href="#/environment">
                <span class="glyphicon glyphicon-arrow-left" style="vertical-align: top"></span>
                <span style="vertical-align: top">ВЕРНУТЬСЯ</span>
            </a>
        </div>
    </div>

    <h2>Политика Группы Компаний «РуссНефть» в области охраны окружающей среды и охраны труда</h2>

    <div class="row" style="margin-bottom: 0">
        <div class="col-md-8">
            <p>Группа Компаний «РуссНефть» входит в десятку крупнейших нефтяных компаний России.</p>

            <p>
                Сохранение жизни и здоровья работников Группы, безопасность на производстве, защита окружающей среды в районах деятельности обществ,
                входящих в корпоративную структуру Холдинга, являются основными приоритетами и важнейшими условиями успешного развития бизнеса «РуссНефти».
            </p>
            <h4>
                Руководство Группы Компаний осознает свою ответственность в области охраны окружающей среды и охраны труда и принимает на себя следующие обязательства:
            </h4>
            <ul>
                <li>
                    Соблюдать требования федерального, регионального и отраслевого законодательства в сфере
                    охраны окружающей среды и рационального использования природных ресурсов, охраны труда и
                    иные требования, применимые к деятельности Группы Компаний «РуссНефть», в том числе требования
                    международных стандартов в области экологического менеджмента и менеджмента в области
                    охраны труда.
                </li>
                <li>
                    Предпринимать все возможные действия по предотвращению травматизма и ущерба здоровью
                    персонала, снижению негативного воздействия на окружающую среду.
                </li>
                <li>
                    Постоянно совершенствовать Систему Управления охраной окружающей среды и охраной труда
                    Группы Компаний «РуссНефть».
                </li>
            </ul>
        </div>
        <div class="col-md-4">
            <img class="img-responsive img-thumbnail" src="images/content/environment/3.jpg"/>
        </div>
    </div>

    <div class="row" style="margin-bottom: 0">
        <div class="col-md-12">
            <h4>Для выполнения поставленных обязательств Группа Компаний «РуссНефть» будет:</h4>
            <ol>
                <li>
                    Осуществлять идентификацию и оценку рисков в области охраны окружающей среды и охраны труда и эффективное управление
                    выявленными рисками.
                </li>
                <li>
                    Рационально использовать природные ресурсы и энергию, внедрять малоотходные технологии, технологии безопасного накопления,
                    хранения и утилизации отходов производства и потребления, иные технологии, направленные на снижение негативного воздействия на окружающую среду.
                </li>
                <li>
                    Совершенствовать производственные процессы, применять оборудование и технологии, обеспечивающие безопасность труда.
                </li>
                <li>
                    Осуществлять мониторинг, проверки, внутренние аудиты, аттестацию рабочих мест для контроля соответствия законодательным и иным
                    требованиям, применимым к рискам Компании в области охраны окружающей среды и охраны труда.

                </li>
                <li>
                    Обеспечивать компетентность персонала в области охраны окружающей среды и охраны труда, поддерживать и поощрять работников,
                    которые вносят конкретный вклад в повышение экологической безопасности и безопасность персонала.
                </li>
                <li>
                    Доводить до поставщиков и подрядчиков обязательства настоящей Политики, стандарты и нормы в области охраны окружающей среды и
                    охраны труда, принятые в Группе Компаний «РуссНефть».
                </li>
                <li>
                    Осуществлять информационный обмен с внешними заинтересованными сторонами по вопросам охраны окружающей среды и охраны труда.
                </li>
            </ol>
            <p>
                Руководство Группы Компаний «РуссНефть» принимает на себя ответственность за реализацию настоящей Политики путем установления соответствующих
                целей и задач, выделения необходимых организационных и финансовых ресурсов для их достижения, контроля и анализа деятельности Группы Компаний
                в области охраны окружающей среды и охраны труда.
            </p>
        </div>
    </div>

</div>


<div class="content-b" ng-show="lang == 2">
    <div class="row" style="margin-bottom: 10px">
        <div class="col-md-2">
            <h1 style="margin-bottom: 0">{{environment}}</h1>
        </div>
        <div class="col-md-2 text-right" style="padding-top: 5px">
            <a class="btn btn-primary" href="#/environment">
                <span class="glyphicon glyphicon-arrow-left" style="vertical-align: top"></span>
                <span style="vertical-align: top">BACK</span>
            </a>
        </div>
    </div>

    <h2>RussNeft Group HSE policy</h2>

    <div class="row" style="margin-bottom: 0">
        <div class="col-md-8">
            <p>
                RussNeft is one of Russia`s top oil & gas companies.
            </p>

            <p>
                Life and health safety of the Group’s employees, industrial safety and environmental protection in the areas of Company presence are the major priorities and key
                prerequisites for RussNeft Group successful business development.
            </p>

            <h4>
                RussNeft Management recognizes its responsibility in the sphere of environmental and labor protection and undertakes to:
            </h4>
            <ul>
                <li>
                    observe the requirements of federal, regional and industry legislation in the sphere of environmental protection and harmonious exploitation of natural
                    resources, labor protection and other requirements applicable to the business activity of RussNeft Group, including the requirements of international standards
                    for environmental management and labor protection management;
                </li>
                <li>
                    do everything possible to prevent personnel accident and injures and mitigate environmental impact;
                </li>
                <li>
                    constantly improve RussNeft Group HSE Management System.
                </li>
            </ul>
        </div>
        <div class="col-md-4">
            <img class="img-responsive img-thumbnail" src="images/content/environment/3.jpg" style="height: 355px"/>
        </div>
    </div>

    <div class="row" style="margin-bottom: 0">
        <div class="col-md-12">
            <h4>To fulfill these commitments RussNeft Group is going to:</h4>
            <ol>
                <li>Identify and assess industrial and environmental risks, manage the identified risks effectively.
                </li>
                <li>Efficient use of natural resources and energy, introduce low-waste technologies, technologies of safe accumulation, storage and disposal of industrial and
                    consumer waste
                    s as well as other technologies aimed at environment impact reduction.
                </li>
                <li>Improve production processes; apply technologies and equipment which secure labor safety.
                </li>
                <li>Perform monitoring, inspections, internal audits, review of work places for meeting legislation and other requirements applicable to RussNeft Group HSE risks.
                </li>
                <li>Ensure staff HSE competence, support and encourage the employees, who contribute to the improvement of industrial and environmental safety.
                </li>
                <li>Communicate Policy commitments, RussNeft norms and standards of environment and labor protection to suppliers and subcontractors.
                </li>
                <li>Exchange HSE information with third interested parties.
                </li>
            </ol>
            <p>
                Management of RussNeft Group undertakes responsibility to implement this Policy by means of setting relevant tasks and targets, assigning necessary organizational
                and financial resources, controlling and analyzing RussNeft Group HSE activity.
            </p>
        </div>
    </div>


</div>