<div ng-click="pRus = 1" class="btn btn-primary btn-sm btn-mos">Moscow</div>
<div ng-click="pRus = 2" class="btn btn-primary btn-sm btn-br">Bryansk</div>
<div ng-click="pRus = 3" class="btn btn-primary btn-sm btn-kir">Kirov</div>
<div ng-click="pRus = 4" class="btn btn-primary btn-sm btn-volg">Volgograd</div>
<div ng-click="pRus = 5" class="btn btn-primary btn-sm btn-sar">Saratov</div>
<div ng-click="pRus = 6" class="btn btn-primary btn-sm btn-ul">Ulyanovsk</div>
<div ng-click="pRus = 7" class="btn btn-primary btn-sm btn-pnz">Penza</div>
<div ng-click="pRus = 8" class="btn btn-primary btn-sm btn-ig">Izhevsk</div>
<div ng-click="pRus = 9" class="btn btn-primary btn-sm btn-rd">Raduzhny</div>
<div ng-click="pRus = 10" class="btn btn-primary btn-sm btn-xm">Khanty-Mansiysk</div>
<div ng-click="pRus = 11" class="btn btn-primary btn-sm btn-tm">Tomsk</div>
<div ng-click="pRus = 12" class="btn btn-primary btn-sm btn-nt">Nizhnevartovsk</div>

<!--begin panel Nizhnevartovsk-->
<div ng-show="pRus == 12" class="panel panel-primary">
    <div class="panel-heading">
        Nizhnevartovsk
        <div ng-click="pRus = 0" class="bnt btn-danger"><span class="glyphicon glyphicon-remove-circle"></span></div>
    </div>
    <div class="panel-body">
        <ul class="link">
            <li ng-click="panelRus = 21">ZAO Chernogorskoye</li>
            <li ng-click="panelRus = 22">OOO Mokhtikneft</li>
            <li ng-click="panelRus = 23">OAO MPK Aganneftegazgeologia</li>
            <!--<li ng-click="panelRus = 24">ООО "РуссНефть-Бурение"</li>-->
            <li ng-click="panelRus = 25">ST ZAO Goloil</li>
        </ul>
    </div>
</div>
<div class="panel panel-primary" ng-show="panelRus == 21 && pRus == 12">
    <div class="panel-heading">
        ZAO Chernogorskoye
        <div ng-click="panelRus = 0" class="bnt btn-danger"><span class="glyphicon glyphicon-remove-circle"></span></div>
    </div>
    <div class="panel-body">
        <h3>
            General Director – Igor Gerasimov
        </h3>

        <p>
            ZAO Chernogorskoye was founded in 1991. In August 2004, the company was incorporated into RussNeft Group. Since January 2009 OAO MPK
            Aganneftegazgeologia making operation for oil extraction to ZAO Chernogorskoe developing Chernogorskoye oilfield. Net effective pay of
            Chernogorskoye oilfield is assessed as 10.3 million tons.
        </p>

        <p>The operating stock counts 64 oil producing wells. The annual oil production output in 2013 exceeded 121 thousand tons. The main task of
           the company in 2014 is to stop production decline and reach stable oil production with the existing stock of the operating wells, build up
           the produced hydrocarbons volumes. The company is going to reach tis aim mainly by way application of new oil production methods and
           optimization of the wells operation.
        </p>

        <p>In the current year the company plans to produce more than 120 thousand tons of oil.
        </p>
        <h4></h4>
        ul. Chapayeva 26, Nizhnevartovsk,<br>
        KhMAO–Yugra, Tyumen region, <br>
        628617, Russian Federation <br>
        Tel.: +7 (3466) 495-299; 495-219; 495-203 <br>
        Fax: +7 (3466) 495-241 <br>
        e-mail: office@angg.ru
    </div>
</div>
<div class="panel panel-primary" ng-show="panelRus == 22 && pRus == 12">
    <div class="panel-heading">
        OOO Mokhtikneft
        <div ng-click="panelRus = 0" class="bnt btn-danger"><span class="glyphicon glyphicon-remove-circle"></span></div>
    </div>
    <div class="panel-body">
        <h3>General Director  - Igor Gerasimov</h3>

        <p>OAO Mokhtikneft was founded on December 7, 1999. The company was included into corporate structure of RussNeft Group in 2004. OAO MPK
           Aganneftegazgeologiya has been an upstream operator for OAO Mokhtikneft since January 2009. The company is developing Mokhtikovskoye
           oilfield with initial recoverable resources of more than 7.6 million tons. The operating stock of Mokhtikovskoye field numbers 34 oil
           producing wells. The annual production output in 2012 exceeded 333,788 thousand tons.
        </p>

        <p>Last year the company put into operation a gas energy complex including 7 gas piston modules produced by GE Jenbacher with total capacity
           of 6.4MW. Implementation of this project together with putting into operation in 2011 of the pipeline CPF of Mokhtikovskoye oilfield – Gas
           turbine power station of Zapadno-Poludennoye oilfield enabled the company to satisfy electric power demand of the oilfield and to bring
           the level of associated petroleum gas utilization to 95%.
        </p>

        <p>In 2013 it is planned to construct 4 new exploitation wells at the Mokhtikovskoye oilfield. The annual oil target will exceed 393 thousand
           tons.
        </p>
        <h4>Contacts:</h4>
        ul. Chapayeva 26, Nizhnevartovsk,<br/>
        KhMAO–Yugra, Tyumen region, <br/>
        628617, Russian Federation <br/>
        Tel.: +7 (3466) 495-299; 495-219; 495-203 <br/>
        Fax: +7 (3466) 495-241 <br/>
        e-mail: office@angg.ru
    </div>
</div>
<div class="panel panel-primary" ng-show="panelRus == 23 && pRus == 12">
    <div class="panel-heading">
        OAO MPK Aganneftegazgeologia
        <div ng-click="panelRus = 0" class="bnt btn-danger"><span class="glyphicon glyphicon-remove-circle"></span></div>
    </div>
    <div class="panel-body">
        <h3>
            General Director – Konstantin Terenin
        </h3>

        <p>OAO MPK Aganneftegazgeologia was set up in 1998. The company is a legal successor of Agansk Oil and Gas Exploratory Expedition set up in
           1962 for exploration and development of mineral resources of Tyumen North. The company discovered 84 oilfields. OAO MPK
           Aganneftegazgeologia was incorporated in RussNeft Group in 2005. The company has been acting as the operator for oil production to three
           subsidiary enterprises of RussNeft Group, among which OOO SP Chernogorskoye, ST ZAO Goloil and OAO Mokhtikneft since January 2009.
        </p>

        <p>The company holds the licenses for development of three subsoil areas, which include eight oilfields: Zapadno-Mogutlorskiy license area
           (Zapadno-Mogutlorskoye, Mogutlorskoye, Vat’-Yeganskoye, Severo-Pokachevskoye, and Zhilinskoye fields); Roslavlskiy license area
           (Roslavlskoye field); Chukhlorskiy license area (Yuzhno-Roslavlskoye and Chukhlorskoye oilfields).
        </p>

        <p>The total initial recoverable reserves are estimated at more than 26 million tons of oil. 10-millionth ton of oil was produced at the
           fields of Aganneftegazgeologia On September 29, 2011.
        </p>

        <p>Production output of the company exceeded 990.530 thousand tons of oil in 2013. The active wells stock numbers 77 oil producing wells.
        </p>

        <p>
            7 new high rate horizontal wells on the multiple well platforms №19 and №20 were put into production Last year at Roslavlskoye field.
            Daily flow rate of each new well at start-up exceeded 482.336 tons.
        </p>

        <p>
            Gas compressor station and gas pipeline from Zapadno-Mogutlorskoye field to Lokosovskiy Gas Processing Plant (GPP) (OOO Lukoil – Western
            Siberia) were constructed and commissioned under the program of APG utilization in 2013.
        </p>

        <p>
            Supply of APG through gas pipeline from from Zapadno-Variogansky FWKU to Varioganskaya KS compressor station-3 involving the gas pipeline
            from Booster pump station of Roslavlskoye field.
        </p>

        <p>
            It allowed to increase APG volume utilization to 95%, produced at the licenses of the Company.
        </p>

        <p>
            Design works and construction of vacuum compressor station at Booster Pump Station -3 at Roslavolskoye oilfield as well as design of gas
            pipeline from Zapadno-Mogutlorskoye compressor station to gas pipeline of Booster pump station-2 at Roslavlskoye field are scheduled
            within 2014-2015.
        </p>

        <p>
            Field seismic 3D will be performed with CDP method in the northern part of Roslavlskoye and Chukhlorskoye fields during the winter period
            of 2013-2014. (Total area will amount to 440 km2).
        </p>

        <p>
            The studies will allow to discover new structural hydrocarbon traps and to confirm the earlier investigated oil geological structure in
            the neocomian deposits, achimovskoi mass and the middle Jurassic measures. The data interpretation will form the basis of the perspective
            production drilling program.
        </p>

        <p>Construction works on production wells will continue at Roslavlskoye oilfield in 2014.
        </p>

        <p>Start-up of 1 horizontal Well 1089 at Pad 20 is scheduled within a year.
        </p>

        <p>Apart from that, drilling of 8 directional wells at Pad 12 is on schedule and another 6 already existing wells of Roslavlskoye field (Pads
           15 and 16) will be deepened to UJ12.
        </p>

        <p>
            Implementation of design options in terms of construction of new production wells and performing well interventions
            will enable Aganneftegazgeologia to increase its annual hydrocarbon target up to 1, 397.916 thousand tons .
        </p>
        <h4>Contacts:</h4>
        ul. Chapayeva 26, Nizhnevartovsk,<br>
        KhMAO–Yugra, Tyumen region, <br>
        628615, Russian Federation <br>
        Tel.: +7 (3466) 495-299; <br>
        +7 (3466) 495-203 <br>
        Fax: +7 (3466) 495-241 <br>
        e-mail: office@angg.ru
    </div>
</div>
<!--<div class="panel panel-primary" ng-show="panelRus == 24 && pRus == 12">-->
<!--<div class="panel-heading">-->
<!--ООО "РуссНефть-Бурение"-->
<!--<div ng-click="panelRus = 0" class="bnt btn-danger"><span class="glyphicon glyphicon-remove-circle"></span></div>-->
<!--</div>-->
<!--<div class="panel-body">-->
<!--<h3>-->
<!--Генеральный директор – Гнатив Владимир Васильевич.-->
<!--</h3>-->

<!--<p>-->
<!--Общество с ограниченной ответственностью «РуссНефть-Бурение», созданное 1 января 2007г. на базе Управления по бурению ОАО «МПК-->
<!--«Аганнефтегазгеология», является генеральным подрядчиком по строительству скважин для нефтегазодобывающих предприятий компании-->
<!--«РуссНефть».-->
<!--</p>-->

<!--<p>-->
<!--Главные задачи, поставленные перед ООО «РуссНефть-Бурение» - выбор подрядчиков и организация работ по технико-технологическому контролю-->
<!--над полным циклом строительства скважины - от монтажа буровых установок до освоения пробуренных скважин; соблюдение единой ценовой-->
<!--политики при строительстве скважин в рамках холдинга.-->
<!--</p>-->
<!--<h4>-->
<!--Контакты:-->
<!--</h4>-->

<!--<p>-->
<!--628617, Россия, ХМАО-Югра,<br>-->
<!--Тюменская область, г. Нижневартовск,<br>-->
<!--ул. Авиаторов, д.6 <br>-->
<!--тел.: 8 (3466) 63-37-00; <br>-->
<!--факс: 8( 3466) 63-34-80.-->
<!--</p>-->
<!--</div>-->
<!--</div>-->
<div class="panel panel-primary" ng-show="panelRus == 25 && pRus == 12">
    <div class="panel-heading">
        ST ZAO Goloil
        <div ng-click="panelRus = 0" class="bnt btn-danger"><span class="glyphicon glyphicon-remove-circle"></span></div>
    </div>
    <div class="panel-body">
        <h3>
            General Director -  Igor Gerasimov
        </h3>

        <p>Siberian and Texas Closed Joint-Stock Company GOLOIL was established in December 1995. Incorporation into the structure of RussNeft Group
           in September 2003 enabled ST ZAO Goloil to attract new investments and to continue field infrastructure development. Since January 2009
           OAO MPK Aganneftegazgeologia rendering oil extraction for ST ZAO GOLOIL. The company has a license for the development of Yeguriakhskoye
           license area, which includes four oilfields: Yeguriakhskoye, Yuzhno-Yeguriakhskoye, Vostochno-Golevoye and Golevoye. The total recoverable
           reserves of hydrocarbons are estimated at 6.4 million tons. The main objectives of the company in 2013 are to stabilize oil production at
           the active wells stock, which includes 27 oil producing wells, and to expand hydrocarbon extraction.
        </p>

        <p>
            Exploration well 413 with daily flow rate of 38.1 tons was launched within a year at Pad 4 of Yeguriakhskoye field. The total production
            output exceeded 152,141 thousand tons of oil.
        </p>

        <p>Significant amount of works in terms of expanding and update of gas power system of Yeguryakhskoye field was executed last year. Last year
           the company has started up the gas piston power unit №8. Units №9 and №10 are scheduled for commission in 2014.
        </p>

        <p>Last year the company continued implementing the APG utilization program at. Two line heaters at the oilfield were reconstructed. APG
           utilization level at the oilfield amounts to 95%.
        </p>

        <p>Drilling at Yeguryakhinskoye license will be continued in 2014. 5 wells, among which 2 wells are horizontal, are scheduled for drilling at
           Pad 3. New Pad will be located between two oilfields in order to improve the technological and economic efficiency of drilling .One of the
           wells will open oil-bearing strata of South Yeguryakhskoye field and four of them will extract oil from Golevoye field.
        </p>

        <p>The expected growth of oil this year is above 175 thousand tons.
        </p>
        <h4>Contacts:</h4>
        ul. Chapayeva 26, Nizhnevartovsk,<br>
        KhMAO–Yugra, Tyumen region, <br>
        628615, Russian Federation <br>
        Tel.: +7 (3466) 495-299; <br>
        +7 (3466) 495-203 <br>
        Fax: +7 (3466) 495-241 <br>
        e-mail: office@angg.ru
    </div>
</div>


<!--begin panel Tomsk-->
<div ng-show="pRus == 11" class="panel panel-primary">
    <div class="panel-heading">
        Tomsk
        <div ng-click="pRus = 0" class="bnt btn-danger"><span class="glyphicon glyphicon-remove-circle"></span></div>
    </div>
    <div class="panel-body">
        <ul class="link">
            <li ng-click="panelRus = 20">OOO Tomskaya Neft</li>
            <li ng-click="panelRus = 30">OOO Muromskoye</li>
            <li ng-click="panelRus = 31">OOO Sredne-Vasyganskoye</li>
        </ul>
    </div>
</div>
<div class="panel panel-primary" ng-show="panelRus == 20 && pRus == 11">
    <div class="panel-heading">
        OOO Tomskaya Neft
        <div ng-click="panelRus = 0" class="bnt btn-danger"><span class="glyphicon glyphicon-remove-circle"></span></div>
    </div>
    <div class="panel-body">
        <h3>General Director – Nail Garipov</h3>

        <p>
            OOO Tomskaya neft develops 10 oifields (Sobolinoye, Stolbovoye, Duklinskoye, Grushevoye, Fedyushkinskoye, Poselkovoye,
            Yuzhno-Myldzinskoye, Verkhne-Salatskoye) and one condensate field (Rechnoye) at the territory of Tomsk region. Current recoverable oil
            resources (ABC1+C2) make up 38.653 mln tons.
        </p>

        <p>
            In 2013 Tomskaya neft produced 1005.638 thousand tons of oil and 4.076 million cbm of natural gas.
        </p>

        <p>The company was set up in November 2001. In 2004 Tomskaya Neft was intergrated into the corporate structure of RussNeft Group. Integration
           into the holding stimulated implementation of large-scale production programs, aimed at involving the existing reserves into development
           and building up oil production output at Tomsk oilfields. RussNeft Group refers development of licenses of Tomsk region to perspective
           projects of the company with which it plans to secure sustainable production growth.
        </p>

        <p>OOO Tomskaya Neft purchased licenses for subsoil use of Gurarinsloye, YAsnoye, Muromskoye and Sredne-Vasyuganskoye fields in 2013. The
           current volume of exploration drilling reached 70 thousand of lineal meters. 20 oil and 3 injection production wells were drilled. One
           exploration well and two water supply wells were drilled in 2013 as well. Around 100 mln RUB were allocated at performing seismic and
           geophysical exploration. Annual amount of general capital investments of OOO Tomskaya Neft exceeded 3 bn 985 thousand rubles, while the
           main amount of these funds was targeted at capital construction.
        </p>

        <p>In 2013 the company continued developing engineering infrastructure of OOO Tomskaya Neft oilfields. Thus, construction and drilling of a
           number of new cluster pads with access roads and power lines was completed,
           the first start-up complex of oil treatment unit at Fedyushkinskoye field was launched.
        </p>
        <h4>Contacts:</h4>

        ul.Petropavlovskaya 4, Tomsk,<br/>
        Tomsk Region, 634029 Russia,<br/>
        Tel: 8 (3822) 53-00-00<br/>
        Fax: 8 (3822) 52-23-30
    </div>
</div>
<div class="panel panel-primary" ng-show="panelRus == 30 && pRus == 11">
    <div class="panel-heading">
        OOO Muromskoye
        <div ng-click="panelRus = 0" class="bnt btn-danger"><span class="glyphicon glyphicon-remove-circle"></span></div>
    </div>
    <div class="panel-body">
        <h3>General Director – Vladimir Nosov</h3>

        <p>
            OOO Muromskoye has rights to subsoil on Murom idle area that is located in Kargasok area of the Tomsk region. Murom C3 oil resources
            totals 0.9 million tons and C3 gas resources 0.6 billion m3.
        </p>

        <p>The Company has entered into a holding company in 2013. The integration into RussNeft Group gives dynamics implementation of production
           programs aimed at hydrocarbon increasing production. OOO Tomsk neft acts as the operator for OOO Muromskoe.
        </p>

        <h4>Contacts:</h4>
        ul.Petropavlovskaya 4, Tomsk,<br/>
        Tomsk Region, 634029 Russia,<br/>
        Tel: 8 (3822) 53-00-00<br/>
        Fax: 8 (3822) 52-23-30
    </div>
</div>
<div class="panel panel-primary" ng-show="panelRus == 31 && pRus == 11">
    <div class="panel-heading">
        OOO Sredne-Vasyganskoye
        <div ng-click="panelRus = 0" class="bnt btn-danger"><span class="glyphicon glyphicon-remove-circle"></span></div>
    </div>
    <div class="panel-body">

        <h3>General director Nosov Vladimir</h3>

        <p>
            OOO Sredne- Vasyuganskoye has rights to subsoil Srednevasyugan oil field which located in Kargasok, Tomsk region. Recoverable oil extracts
            in this idle area is estimated at 0.73 million tons.
        </p>

        <p>The Company has entered into a holding company in 2013.
        </p>

        <p>Integration of the RussNeft Group provides dynamics to implementation of production programs aimed at increasing the growth of hydrocarbon
           production. OOO Tomsk neft putting operations for OOO Sredne- Vasyuganskoye .
        </p>

        <h4>Contacts:</h4>
        11, Silginskaya str., Neftyannikov,Kargasogskiy dist.br <br/>
        Tomsk Region, 636701 Russia, <br/>
        Tel: 8 (3822) 51-02-40 <br/>
        Fax: 8 (3822) 51-61-16
    </div>
</div>


<!--begin panel Khanty-Mansiysk-->
<div ng-show="pRus == 10" class="panel panel-primary">
    <div class="panel-heading">
        Khanty-Mansiysk
        <div ng-click="pRus = 0" class="bnt btn-danger"><span class="glyphicon glyphicon-remove-circle"></span></div>
    </div>
    <div class="panel-body">
        <ul class="link">
            <li ng-click="panelRus = 19">OAO NAK Aki-Otyr</li>
        </ul>
    </div>
</div>
<div class="panel panel-primary" ng-show="panelRus == 19 && pRus == 10">
    <div class="panel-heading">
        OAO NAK Aki-Otyr
        <div ng-click="panelRus = 0" class="bnt btn-danger"><span class="glyphicon glyphicon-remove-circle"></span></div>
    </div>
    <div class="panel-body">
        <h3>
            General Director  –  Aleksey Shatalov
        </h3>

        <p>
            OAO Oil Joint Stock Company AKI-OTYR is engaged in oil production and treatment at the territory of Khanty-Mansi Autonomous Okrug – Yugra.
            The company develops Shapshinskaya group of fields (Verkhne-Shapshinskiy, Nizhne-Shapshinskiy, Sredne-Shapshinskiy license areas) and
            Peschanoye field with the overall recoverable hydrocarbon reserves of more than 100 million tons. 
        </p>

        <p>RussNeft Group mentions development of Shapshinskaya group of fields among the projects strategically important for the Company. Further
           development will enable the Company in the near future to bring up annual oil production at these license areas to 1.8 million tons.
        </p>

        <p>Preparation for commissioning of three oilfields of the group through phases was completed in 2004-2005. During this time there main
           engineering infrastructure facilities were built, which allowed to reach commercial operation phase. Oil production at
           Nizhne-Shapshinskoye oilfield was started in 2006. Verkhne-Shapshinskoye oilfield was commissioned in 2008 and– Sredne-Shapshinskoye
           oilfield was launched in May 2009.
        </p>

        <p>In 2010-2011 the company continued engineering and production infrastructure development of Shapshinskaya group. Construction works of four
           well pads were completed; more than 20 km of motor ways were built; high voltage power lines more than 14 km long were mounted. To secure
           oil transportation from Verkhne-Shapshinskoye oilfield to oil treatment plant 1500 of Nizhne-Shapshinskoye oilfield a 52 km gathering
           pipeline was built. Today the company is implementing at its oilfields a complex exploitation drilling program and well intervention
           program. 39 new wells were commissioned in 2013 including frac job. 24 well inventions performed allowed to additionally produce around 81
           thousand tons. Oil production at Khanty-Mansi block amounted to 1,620 million tons. Activities targeted at replenishment of mineral
           resources base were significantly efficient. Reserves increase at verkhne-Shapshinskoye field reached 4 mln tons. The total increase of
           hydrocarbon recoverable resources exceeded 13 mln tons in 2010-2013. One of the most important directions of the activity of the Company
           is gas program implementation targeted at increase of efficient utilization of APG in recoverable oil up to 95%.
        </p>

        <p>100% power supply of oil production facilities has been reached at present by means of associated gas processing. Gas piston power station
           was launched at Verkhne-Shapshinskoye field. Start-up and commission activities at block unit station were completed at
           Nizhne-Shapshinskoye field. 52 km supply pipeline was constructed to transport gas from Booster pump station of Verkhne-Shapshinskoye
           field to Oil treatment unit at Nizhne-Shapshinskoye field. The projects were performed together with OOO MONOLIT. Expansion of oil
           treatment unit at Nizhne-Shapshinskoye field continues. Ejector unit, low pressure flare system is under construction there. It will allow
           transporting APG from oil separation phases to compressor station. Projecting of oil heating system with sanitary water utilization is
           being completed at Peschanoye field. The complex will allow zero-emissions into atmosphere and greenhouse emission reduction by means of
           thermal treatment and thermal energy.
        </p>

        <p>RussNeft Group, Salym Petroleum Development, OOO MONOLIT launched the unit of complex APG processing, constructed at Salymskaya group of
           oil fields in Western Siberia. Salymkaya group will hold around 110 mln cbm of gas per year. Production increase will be the result of
           exploration drilling program in 2014. In particular 46 new wells are scheduled for start-up. Additional production of new wells will reach
           around 266. 878 thousand tons of oil.
        </p>

        <p>Contacts:
           ul. Mikhaila Znamenskogo 1, Khanty-Mansiysk,<br>
           Khanty-Mansik Autonomous District - Yugra, Tyumen Region,<br>
           628010 Russian Federation <br>
           Tel./Fax: +7 (3467) 396-382, 3960174 <br>
           e-mail: aki-otyr@aki-otyr.ru
    </div>
</div>


<!--begin panel Raduzhny-->
<div ng-show="pRus == 9" class="panel panel-primary">
    <div class="panel-heading">
        Raduzhny
        <div ng-click="pRus = 0" class="bnt btn-danger"><span class="glyphicon glyphicon-remove-circle"></span></div>
    </div>
    <div class="panel-body">
        <ul class="link">
            <li ng-click="panelRus = 17">OAO Varioganneft</li>
            <li ng-click="panelRus = 18">OOO Beliye Nochi</li>
        </ul>
    </div>
</div>
<div class="panel panel-primary" ng-show="panelRus == 17 && pRus == 9">
    <div class="panel-heading">
        OAO Varioganneft
        <div ng-click="panelRus = 0"
             class="bnt btn-danger"><span class="glyphicon glyphicon-remove-circle"></span></div>
    </div>
    <div class="panel-body">

        <h3>General Director - Yuri Nishkevich</h3>

        <p>The company is developing Varioganskoye, Novo-Aganskoye and Valyuninskoye oilfields. Varioganneft acts as an operator for oil production to
           OOO Beliye Nochi, OOO Severneft-Yarayner, OOO Novo-Aganskoye, and OOO Valyuninskoye. Total recoverable oil reserves of oil are more than
           85 million tons.
        </p>

        <p>Production output level at license areas of Varioganneft made 1.169 million tons in 2013.
        </p>

        <p>194 well interventions were performed in 2013.
        </p>

        <p>The average daily flow rate increment resulting from well interventions amounted to 4.7 tons per well, which in aggregate allowed to
           additionally produce 131 thousand tons of oil.
        </p>

        <p>The Company is implementing an extensive gas program.
        </p>

        <p>Gas pipeline from FWKU of Zapadno-Varioganskoye field to pump station (KS)-3 Varioganskaya with a loading line of Roslavlskoye field has
           been commissioned.
        </p>

        <p>Gas pipeline start-up will enable OAO Varioganneft to reach 95% utilization of associated petroleum gas at license areas and will improve
           environmental situation in the oilfields.
        </p>
        <h4>Contacts:</h4>
        p/o box 754, Raduzhny,<br/>
        KhMAO,Tyumen region, <br/>
        628463 Russia <br/>
        Tel.: +7 (34668) 41-577; <br/>
        +7 (34668) 41-550 <br/>
        Fax: +7 (34668) 41-606 <br/>
        www.oaovn.ru
    </div>
</div>
<div class="panel panel-primary" ng-show="panelRus == 18 && pRus == 9">
    <div class="panel-heading">
        OOO Beliye Nochi
        <div ng-click="panelRus = 0"
             class="bnt btn-danger"><span class="glyphicon glyphicon-remove-circle"></span></div>
    </div>
    <div class="panel-body">

        <h3>General Director – Aleksandr Tropin</h3>

        <p>The company is developing Zapadno-Varioganskoye and Tagrinskoye oilfields. The current recoverable oil resources exceed 116 million tons.
           OAO Varioganneft acts as the operator for oil production to OOO Beliye Nochi.
        </p>

        <p>In 2013 the company produced 1 727 million tons of oil. In 2013 the extent of daily production reached 4 732 tons. Oil production growth
           was stipulated by active implementation of production drilling program.
        </p>

        <p>29 new wells were commissioned after production drilling at the fields of OOO Beliye Nochi which allowed additional production of 254
           thousand tons.
        </p>

        <p>The company performed 88 well interventions in 2013. The average daily flow rate increase resulting from well interventions amounted to 7.9
           tons per day per well, in aggregate allowed to produce 107 thousand tons of additional oil.
        </p>

        <p>Well interventions, performed in 2013, included hydraulic fracture, plug back, downhole electrical centrifugal pump at packer, etc.
        </p>

        <p>The Company continued large-scale works on engineering infrastructure development and reconstruction of production facilities at
           Zapadno-Varioganskiy and Tagrinskiy license areas in 2013.
        </p>
        <h4> Contacts:</h4>
        bld.13, m/d 1, Raduzhny,<br>
        KhMAO,Tyumen region, <br>
        628461 Russia<br>
        Tel.: +7 (34668) 47-852<br>
        Fax: +7 (34668) 48-502
    </div>
</div>


<!--begin panel Izhevsk-->
<div ng-show="pRus == 8" class="panel panel-primary">
    <div class="panel-heading">
        Ижевск
        <div ng-click="pRus = 0" class="bnt btn-danger"><span class="glyphicon glyphicon-remove-circle"></span></div>
    </div>
    <div class="panel-body">
        <ul class="link">
            <li ng-click="panelRus = 8">ОАО Belkamneft</li>
            <li ng-click="panelRus = 9">ООО Belkamneft</li>
            <li ng-click="panelRus = 10">OAO Udmurtskaya neftyanaya kompaniya</li>
            <li ng-click="panelRus = 11">ОАО Uralkaya neft</li>
            <li ng-click="panelRus = 12">ОOО Udmurtskaya natsionalnaya neftyanaya kompaniya</li>
            <li ng-click="panelRus = 13">ОOО Regionalny neftyanoy konsortsium</li>
            <li ng-click="panelRus = 14">ОOО Udmurtgeologiya</li>
            <li ng-click="panelRus = 15">ООО Ryabovskoye</li>
            <li ng-click="panelRus = 16">ООО Kambarskaya national oil company</li>
            <li ng-click="panelRus = 161">ООО Okunyovskoye</li>
            <li ng-click="panelRus = 162">ООО Reshetnikovskaya oil company</li>
        </ul>
    </div>
</div>
<div class="panel panel-primary" ng-show="panelRus == 8 && pRus == 8">
    <div class="panel-heading">
        ОАО Belkamneft

        <div ng-click="panelRus = 0"
             class="bnt btn-danger"><span class="glyphicon glyphicon-remove-circle"></span></div>
    </div>
    <div class="panel-body">
        <h3>General Director – Yury Fyodorov</h3>

        <p>
            OAO Belkmaneft produces and makes oil treatment at the territory of the Udmurt Republic, Bashkiriya and Kirovsk region. OAO Belkamneft is
            an upstream operator for the companies OOO Belkamneft, OOO Udmurtskaya natsionalnaya neftyanaya kompaniya, OAO Udmurtskaya neftyanaya
            kompaniya, OOO Udmurtgeologiya, OAO Uralskaya neft, OOO Regionalny neftyanoy konsortsium, OOO Ryabovskoye, OOO Reshetnikovskaya neftyanaya
            kompaniya, OOO Okunyovskoye, OOO Kambarskaya natsionalnaya neftyanaya kompaniya.
        </p>

        <p>Belkamneft Group balance includes 53 oilfields. The output of oil produced by the companies of Belkamneft Group made up 4 mln 314 thousand
           510 tons of oil in 2013, which is by 53.9 thousand tons bigger against 2012. Production output increase was enabled by performance of
           modern well interventions and drilling works. 914 well interventions were performed at the objects of the company in course of 2013.The
           well interventions contributed to additional production of 375.4 thousand tons which is by 9.2% higher than the target production.
        </p>

        <p>24 new wells at 6 oilfields (Uskinsky, Patrakovsky, Chernovsky, Buranovsky, Novoselkinsky, Sosnovsky, Dintemsky blocks) were commissioned
           in accordance with the license agreements.
        </p>

        <p>More than 800 mln rubles were allocated at implementing ecological programs in 2013.
        </p>
        <h4>Contacts:</h4>
        ul. Pastukhova 100, 426004, Izhevsk,<br>
        The Udmurt Republic <br>
        Tel. 8-(3412) 911-730 <br>
        Fax 8-(3412) 66-60-25 <br>
        E-mail:belkamneft@belkam.com
    </div>
</div>
<div class="panel panel-primary" ng-show="panelRus == 9 && pRus == 8">
    <div class="panel-heading">
        ООО Belkamneft
        <div ng-click="panelRus = 0"
             class="bnt btn-danger"><span class="glyphicon glyphicon-remove-circle"></span></div>
    </div>
    <div class="panel-body">

        <h3>General Director – Vyacheslav Vavilin</h3>

        <p>The company develops 7 oilfields: Alekseevskoye, Arlanskoye (Vyatskaya area), Yershovskoye, Nikolskoye, Pogranichnoye, Severo-Nikolskoye,
           Novoselkinskoye (Yuzhny block).
        </p>

        <p>Current recoverable ABC1 oil reserves as of 01.01.2014 make up 18.201 mln tons, C2 reserves amount to 0.831 mln tons. OAO Belkamneft acts
           as an upstream operator for oil production. The company produced 2213 thousand tons of oil in 2013.
        </p>

        <p>The main objective for 2014 of the company is to keep the tendency of increasing the oil production output by means of new production
           capacities and by applying new oil production methods.
        </p>
    </div>
</div>
<div class="panel panel-primary" ng-show="panelRus == 10 && pRus == 8">
    <div class="panel-heading">
        OAO Udmurtskaya neftyanaya kompaniya
        <div ng-click="panelRus = 0"
             class="bnt btn-danger"><span class="glyphicon glyphicon-remove-circle"></span></div>
    </div>
    <div class="panel-body">
        <h3>General Director – Nikolay Akinin </h3>

        <p>OAO Udmurtskaya neftyanaya kompaniya was founded in 1997. It develops Turetskoye, Patrakovskoye and Tsentralnoye oilfields. The company won the bids for the
           above-mentioned oilfields also in 1997. Commercial oil production started at the fields in 1998. The current recoverable BC1 oil reserves as of 01.01.2014 make up 8.536
           mln tons, C2 reserves amount to 0.901 mln tons. OAO Belkamneft acts as an upstream operator for the company. The company produced 419.5 thousand tons of oil in 2013.</p>

        <p>The main objective for 2014 of the company is to keep the tendency of increasing the oil production output by means of new producing capacities and by applying new oil
           production methods.</p>
    </div>
</div>
<div class="panel panel-primary" ng-show="panelRus == 11 && pRus == 8">
    <div class="panel-heading">
        ОАО Uralkaya neft
        <div ng-click="panelRus = 0"
             class="bnt btn-danger"><span class="glyphicon glyphicon-remove-circle"></span></div>
    </div>
    <div class="panel-body">

        <h3>General Director – Nikolay Akinin</h3>

        <p>The company started to be managed by OAO Belkamneft in 2004. It develops Oshvortsevsko-Dmitriyevskoye and Nikolayevskoye fields in Udmurtiya. The current recoverable BC1
           oil reserves as of 01.01.2014 make up 0.830 mln tons, C2 reserves amount to 0.08 mln tons. Oil production output made up 31.1 thousand tons in 2013.</p>

        <p>Uralskaya neft implements the production program targeted at stabilization of oil production output. The company managed to reach the production increase along with
           expenses decrease per one ton of oil. </p>
    </div>
</div>
<div class="panel panel-primary" ng-show="panelRus == 12 && pRus == 8">
    <div class="panel-heading">
        ОOО Udmurtskaya natsionalnaya neftyanaya kompaniya
        <div ng-click="panelRus = 0"
             class="bnt btn-danger"><span class="glyphicon glyphicon-remove-circle"></span></div>
    </div>
    <div class="panel-body">

        <h3>General Director – Vladimir Morozov</h3>

        <p>ООО Udmurtskaya natsionalnaya neftyanaya kompaniya is included into Belkamneft Group. The company develops 13 oilfields: Buranovskoye, Debesskoye, Polomskoye,
           Pyzepskoye, Shadbegovskoye, Yuskinskoye (well 16 area - GS), Yakshur-Bodyinskoye (North-Western part), Kuliginskoye, Zolotarevskoye, Pionerskoye and Dintemskoye. The
           current recoverable BC1 oil reserves as of 01.01.2014 make up 23.302 mln tons, C2 reserves amount to 10.925 mln tons. OAO Belkamneft acts as an upstream operator for the
           company. Oil production output made up 109.3 thousand tons in 2013.</p>

        <p>The main objective for 2014 of the company is to keep the tendency of increasing the oil production output by means of new producing capacities and by applying new oil
           production methods.</p>
    </div>
</div>
<div class="panel panel-primary" ng-show="panelRus == 13 && pRus == 8">
    <div class="panel-heading">
        ОOО Regionalny neftyanoy konsortsium
        <div ng-click="panelRus = 0"
             class="bnt btn-danger"><span class="glyphicon glyphicon-remove-circle"></span></div>
    </div>
    <div class="panel-body">

        <h3>General Director – Vladimir Morozov</h3>

        <p>OOO Regional neftyanoy konsortsium is included into Belkamneft Group. The company develops 11 fields: Byginskoye, Vostochno-Postolskoye, Zabegalovskoye, Korobovskoye,
           Smolnikovskoye, Sosnovskoye, Tukmachovskoye, Chernovskoye, Yuskinskoye, Oblastnovskoye, Novoselkinskoye (Butorikhinsky block). The current recoverable BC1 oil reserves
           as of 01.01.2014 make up 30.129 mln tons, C2 reserves amount to 2.620 mln tons. OAO Belkamneft acts as a production operator for the company. Oil production output made
           up 1 mln 178 thousand tons in 2013.</p>

        <p>The main objective for 2014 of the company is to keep the tendency of increasing the oil production output by means of new producing capacities and by applying new oil
           production methods.</p>
    </div>
</div>
<div class="panel panel-primary" ng-show="panelRus == 14 && pRus == 8">
    <div class="panel-heading">
        ОOО Udmurtgeologiya
        <div ng-click="panelRus = 0"
             class="bnt btn-danger"><span class="glyphicon glyphicon-remove-circle"></span></div>
    </div>
    <div class="panel-body">

        <h3>General Director – Nikolay Akinin</h3>

        <p>ООО Udmurtgeologiya is included into Belkamneft Group. The company develops 10 oilfields: Novoselkinskoye (Nothern area), Rusinovskoye, Oreshnikovskoye (well 1479 area),
           zapadno-Elnikovskoye, Zapadno-Ezhovskoye, itinskoye, tylovayskoye, Irymskoye, Yuzhno-Smolnikovskoye, Pogrebnyakovskoye. The current recoverable BC1 oil reserves as of
           01.01.2014 make up 2.815 mln tons, C2 reserves amount to 0.463 mln tons. OAO Belkamneft acts as a production operator for the company. Oil production output made up
           124.3 thousand tons in 2013.</p>

        <p>The main objective for 2014 of the company is to keep the tendency of increasing the oil production output by means of new producing capacities and by applying new oil
           production methods.</p>
    </div>
</div>
<div class="panel panel-primary" ng-show="panelRus == 15 && pRus == 8">
    <div class="panel-heading">
        ООО Ryabovskoye
        <div ng-click="panelRus = 0"
             class="bnt btn-danger"><span class="glyphicon glyphicon-remove-circle"></span></div>
    </div>
    <div class="panel-body">

        <h3>General Director – Nikolay Akinin</h3>

        <p>The company was founded in 2005. The company was included into OAO NK RussNeft holding in 2010. It develops Yakshur-Bodyinskoye,Yuzhno-Listvenskoye, Pokrovskoye fields
           in Udmurtiya. The current recoverable BC1 oil reserves as of 01.01.2014 make up 1.554 mln tons, C2 reserves amount to 0.053 mln tons. OAO Belkamneft acts as a production
           operator for the company. Oil production output made up 193.8 thousand tons in 2013.</p>

        <p>The main objective for 2014 of the company is to keep the tendency of increasing the oil production output by means of new producing capacities and by applying new oil
           production methods.</p>
    </div>
</div>
<div class="panel panel-primary" ng-show="panelRus == 16 && pRus == 8">
    <div class="panel-heading">
        ООО Kambarskaya national oil company
        <div ng-click="panelRus = 0"
             class="bnt btn-danger"><span class="glyphicon glyphicon-remove-circle"></span></div>
    </div>
    <div class="panel-body">

        <h3> General Director – Timur Khaybullin</h3>

        <p>ООО Kambarskaya national oil company is included in Belkamneft Group. The company develops Kambarskoye field. The current recoverable BC1 oil reserves as of 01.01.2014
           make up 0.491 mln tons, C2 reserves amount to 0.607 mln tons. OAO Belkamneft acts as a production operator for the company. Oil production output made up 4.3 thousand
           tons in 2013.</p>
    </div>
</div>
<div class="panel panel-primary" ng-show="panelRus == 161 && pRus == 8">
    <div class="panel-heading">
        ООО Okunyovskoye
        <div ng-click="panelRus = 0"
             class="bnt btn-danger"><span class="glyphicon glyphicon-remove-circle"></span></div>
    </div>
    <div class="panel-body">
        <h3>General Director – Vyacheslav Vavilin</h3>

        <p>ООО Okunevskoye is included into OAO Belkamneft Group. The company develops Okunyovskoye field (Okunyovskoye, Oreshnikovskoye fields). The current recoverable BC1 oil
           reserves as of 01.01.2014 make up 1.066 mln tons, C2 reserves amount to 0.237 mln tons. OAO Belkamneft acts as a production operator for the company. Oil production
           output made up 19.1 thousand tons in 2013.</p>

        <p>The main objective for 2014 of the company is to keep the tendency of increasing the oil production output by means of new producing capacities and by applying new oil
           production methods.</p>
    </div>
</div>
<div class="panel panel-primary" ng-show="panelRus == 162 && pRus == 8">
    <div class="panel-heading">
        ООО Reshetnikovskaya oil company
        <div ng-click="panelRus = 0"
             class="bnt btn-danger"><span class="glyphicon glyphicon-remove-circle"></span></div>
    </div>
    <div class="panel-body">
        <h3>General Director – Nikolay Akinin</h3>

        <p>ООО Reshetnikovskoye has been operating in Belkamneft structure since January 1, 2011. The company develops Reshetnikovskoye field. The current recoverable BC1 oil
           reserves as of 01.01.2014 make up 0.557 mln tons, C2 reserves amount to 0.100 mln tons. OAO Belkamneft acts as a production operator for the company. Oil production
           output made up 23.1 thousand tons in 2013.</p>

        <p>The main objective for 2014 of the company is to keep the tendency of increasing the oil production output by means of new producing capacities and by applying new oil
           production methods.</p>
    </div>
</div>


<!--begin panel Ульяновск-->
<div ng-show="pRus == 6 || pRus == 7" class="panel panel-primary">
    <div class="panel-heading">
        <div ng-show="pRus == 6">Ulyanovsk</div>
        <div ng-show="pRus == 7">Penza</div>
        <div ng-click="pRus = 0" class="bnt btn-danger"><span class="glyphicon glyphicon-remove-circle"></span></div>
    </div>
    <div class="panel-body">
        <ul class="link">
            <li ng-click="panelRus = 6">OAO Ulyanovskneft</li>
        </ul>
    </div>
</div>
<div class="panel panel-primary" ng-show="panelRus == 6 && (pRus == 6 || pRus == 7)">
    <div class="panel-heading">
        OAO Ulyanovskneft
        <div ng-click="panelRus = 0"
             class="bnt btn-danger"><span class="glyphicon glyphicon-remove-circle"></span></div>
    </div>
    <div class="panel-body">

        <h3>General Director – Oleg Shulga</h3>

        <p>ОАО Ulyanovskneft develops 39 oilfields in the Ulyanovsk and Penza regions. The existing well stock numbers 249 producing wells.
        </p>

        <p>All the oilfields under development by OAO Ulyanovskneft are divided into two groups: Southern and Northern groups. The Southern Group
           includes Baranovskoye, Varvarovskoye, Golodiayevskoye, Novospasskoye, Repiovskoye, Volodarskoye Verkhozimskoye, Komarovskoye, Truyevskoye
           and Alexeevskoye oilfields. The Northern Group consists of Zapadnoye, Pravdinskoye, Filippovskoye,Vostochno-Filippovskoye,
           Yuzhno-Filippovskoye, Birlinskoye, Vishenskoye, Yuzhno-Vishenskoye, Ovrazhnoye, Vostochnoye, Zapadno-Raduzhnoye, Bezymiannoye,
           Kudriashovskoye, Zimnitskoye Severo-Zimnitskoye, Allagulovskoye, Mordovoozerskoye, Ravninnoye, , Novobesovskoye, Novolabitovskoye,
           Primorskoye, Yuzhno-Lebiazhinskoye Rudnevskoye, Severo-Susranskoye, Alexandeovskoye, Severo-Philippovskoye, Vostochno-Suskanskoye,
           Stepnoye and Mayskoye oilfields. The Northern group oilfields are situated in the North-East of Ulyanovsk region in Melekessky
           Cherdaklinsky and Novomalyklinsky districts, the Southern group oilfields are in the South of the region, in Novospassky, Nikolayevsky and
           Radischevsky districts as well as at the territory of the Penza region in Kuznetsky and Kameshkirsky districts. The current АВC1+C2
           reserves as of 01.01.2013 make 73.015 million tons. Growth and development of the resource base is provided by means of exploration works.
        </p>

        <p>115 well interventions were carried out in 2012 with additional production of 75.708 thousand tons of oil. 12 producing wells were
           commissioned with additional oil production of 113.743 tons per year according to 2013 drilling program
        </p>

        <p>RussNeft Group makes substantial investments into upgrading the operations infrastructure of the Southern group and Northern group
           oilfields of OAO Ulyanovskneft.
        </p>

        <p>New 10.5 km pipeline was commissioned in 2013 which connects FWKU at Baranovskoye and Varvarovskoye oilfields. Construction of FWKU at
           Verkhozimskoye and Zapadnoye fields was completed fast. Treatment facilities Kristall have been launched at FWKU Yuzhnaya. The company
           also installed equipment for operations in the wells with high viscosity emulsion and foreign solids.
        </p>

        <p>In 2012 the company introduced energy-saving ESCPs with improved performance factor; a project of Northern group oilfields equipment with
           high speed data delivery channels was completed, remote visual control system for subsurface wells workover teams; workover of oil fluid
           discharge unit from cystern trucks to oil treatment unit “Severnaya” was completed; a new high pressure water pipeline for bottom water
           utilization into the wells of formation pressure maintaining at Philippovskoye oilfield, a new laboratory complex was mounted at oil
           treatment unit 500.
        </p>

        <p>In 2012 Ulyanovskneft completed implementation of APG rational use program. The 100 level of associated gas utilization is achieved at all
           the major facilities of the Company.
        </p>

        <p>By the results of 2013 the Company produced 838.218 thousand tons of oil. Workover of seven tanks at tank stock of Oil Treatment Facility
           500, Preliminary Oil Treatment Facility Yuzhnaya, FWKU at Verkhozimskoye, Varvarovskoye and Novobesovskoye fields. Apart from that the
           station for bottom-hole process and emergency equipment has been launched. The company also purchased new high flotation rig. Workover
           brigades received new ergonomic mobile units.
        </p>

        <p>APG utilization rate was reached at FWKU Novobesovskoye field and Oil Treatment Facility – 500.
        </p>

        <p>According to 2013 results the company produced 838.218 thousand tons of oil.
        </p>
        <h4>Contacts:</h4>
        ul. Minayeva 32,<br>
        Ulyanovsk, Ulyanovsk Region,<br>
        433870, Russia <br>
        Tel.: +7 (8422) 41-17-17<br>
        Fax: +7 (8422) 49-02-83

    </div>
</div>

<!--begin panel Bryansk-->
<div ng-show="pRus == 2" class="panel panel-primary">
    <div class="panel-heading">
        Bryansk
        <div ng-click="pRus = 0" class="bnt btn-danger"><span class="glyphicon glyphicon-remove-circle"></span></div>
    </div>
    <div class="panel-body">
        <ul class="link">
            <li ng-click="panelRus = 2">OOO NK RussNeft Group-Bryansk</li>
        </ul>
    </div>
</div>
<div class="panel panel-primary" ng-show="panelRus == 2 && pRus == 2">
    <div class="panel-heading">
        OOO NK RussNeft Group-Bryansk
        <div ng-click="panelRus = 0"
             class="bnt btn-danger"><span class="glyphicon glyphicon-remove-circle"></span></div>
    </div>
    <div class="panel-body">
        <h3>General Director - Alexander Titov</h3>

        <p>
            OOO NK RussNeft Group-Bryansk runs the operation of oil loading terminal in the Bryansk region near the railway station of Zhecha in order
            to deliver-by-railway crude oil to the Republic of Belarus, Baltic States and Eastern Europe.
        </p>

        <p>The initial transshipment capacity of oil loading terminal, equipped with the facilities that meet the world’s technological and
           environmental standards, is 5 million tons of feed in a year, to eventually be expanded to 7 million tons. The terminal’s infrastructure
           also includes a 19.7 km oil trunk pipeline and a tank farm whose vessels store more than 60 thousand tons of crude, oil delivery-oil
           acceptance station from OAO Transneft, a modern automated on-spot station. Production facilities are located on an area of 62 ha.
        </p>

        <p>In the course of the terminal construction at Zhecha a railway station building was erected and the railway lines at the stations of Zhecha
           and Unecha including the span between them were reinstated. Today Zhecha is a contemporary station with 12 receiving-and-departure tracks,
           dead-end and team tracks equipped with block route control interlocking system.
        </p>

        <p>The oil loading terminal being the biggest investment project of the region means new jobs for the local population, more taxes in the
           local budget, favorable conditions for developing new kinds of activities in the area and rapid development of social and engineering
           infrastructure.
        </p>
        <h4>Contacts:</h4>

        243300, Russia, Bryanskaya Region,<br/>
        Unecha, ul. Transportnaya, 35<br/>
        Tel.: 8 (08351) 2-40-97<br/>
        Fax: 8 (08351) 2-40-96
    </div>
</div>


<!--begin panel Киров-->
<div ng-show="pRus == 3 || pRus == 4 || pRus == 5" class="panel panel-primary">
    <div class="panel-heading">
        <div ng-show="pRus == 3">Kirov</div>
        <div ng-show="pRus == 4">Volgograd</div>
        <div ng-show="pRus == 5">Saratov</div>
        <div ng-click="pRus = 0" class="bnt btn-danger"><span class="glyphicon glyphicon-remove-circle"></span></div>
    </div>
    <div class="panel-body">
        <ul class="link">
            <li ng-click="panelRus = 3">OAO Saratovneftegaz</li>
            <li ng-click="panelRus = 323">OOO RedOil</li>
        </ul>
    </div>
</div>
<div class="panel panel-primary" ng-show="panelRus == 323 && (pRus == 3 || pRus == 4 || pRus == 5)">
    <div class="panel-heading">
        OOO RedOil
        <div ng-click="panelRus = 0"
             class="bnt btn-danger"><span class="glyphicon glyphicon-remove-circle"></span></div>
    </div>
    <div class="panel-body">

        <h3>General Director – Tagir Latypov</h3>

        <p>
            OOO RedOil own rights for subsoil use at 4 licenses in Saratov region (Perelyubsky, ZApadno-Vishnevsky, Yuzhno-Pervomaysky, Smolensky), it
            also owns one license in the Republic of Kalmykiya (Bairsky). All fields have been commissioned. At the same time the company continues to
            increase the resource base within the boundaries of licenses by means of exploration drilling and seismic 2D and 3D.
        </p>

        <p>
            The volume of current С1+С2 reserves makes up 3.623 mln tons of oil; 1.18 mln tons of condensate; 7 027 bn. m3 of gas. The company has
            high geological potential. Synergy of assets of OAO RedOil and OAO Saratovneftegaz will allow to minimize the holdings expenses for
            production, treatment and logistics of hydrocarbons in the Volga region.
        </p>

        <h4>Contact details:</h4>
        2 Sokolovogorsky proezd d. 2, 410038, Saratov<br/>
        Tel.: 8 (8452) 75-30-32 <br/>
        Fax.: 8 (8452) 75-04-02 <br/>
        E-mail: office.saratov@redoil.spb.ru
    </div>
</div>
<div class="panel panel-primary" ng-show="panelRus == 3 && (pRus == 3 || pRus == 4 || pRus == 5)">
    <div class="panel-heading">
        OAO Saratovneftegaz
        <div ng-click="panelRus = 0"
             class="bnt btn-danger"><span class="glyphicon glyphicon-remove-circle"></span></div>
    </div>
    <div class="panel-body">
        <h3>General Director - Tagir Latypov</h3>

        <p>ОАО Saratovneftegaz is a leading mineral developer of the Saratov region producing the major part of hydrocarbons in the region. It
           develops more than 40 oilfields in Saratov and Volgograd regions. Initial net effective oil pay exceeds 105 million tons.
        </p>

        <p>OAO Saratovneftegaz produced 855. 682 thousand tons of oil and gas condensate in 2013. Well interventions allowed to produce additionally
           above 85 thousand tons oil. Saratovneftegaz will seek stabilization of the hydrocarbons production level in 2014.
        </p>

        <p>The joint stock company completed drilling of 2 wells at Belpkamennoye field and 1 well at Vostochno-Suslovskoye field. The company pays
           special attention to reinstatement of mineral resources. In 2013 Saratovneftegas added 1.05 million tons of remaining recoverable
           resources and 500 mln m3 of condensate. Refining of resources covered 6 licenses.
        </p>

        <p>Gas production output amounted to 435.398 mln m3, including 79. 562 mln m3 of APG and 355.836 mln m3 of NPG. Gas utilization rate made up
           97.5%.
        </p>

        <p>Saratovneftegaz continued its gas program in 2013. Within the program reconstruction was performed and new pipelines were launched, 2
           metering stations of APG at flaring stations were launched together with 20 metering station of gas used for auxiliaries. Reconstruction
           of 13 metering stations at the flaring units, construction of 1 metering station at the flaring unit and 6 metering stations for
           auxiliaries.
        </p>

        <p>Automatic system for collecting data from metering stations designed by the specialists of the company was launched in 2013. Activities for
           upgrade of technical processes for treatment and transporting of gas as well as development of OAO Saratovneftegaz gas infrastructure
           which includes:
        </p>
        <ul>
            <li>Upgrade of FWKU Oktyabrskaya</li>
            <li>Construction of 2 heat exchangers</li>
            <li>Construction of gas supply pipeline from Header Guselsky to Brick factory, 2 km</li>
            <li>Reconstruction of the pipeline from children’s vacation camp ROVESNIK to automated gas distribution station</li>
            <li>Inspection of external gas supply pipelines</li>
        </ul>
        <p>
            The program of rational and complex gas resources utilization in OAO Saratovneftegaz will be economically efficient as well as improve
            ecological situation in the regions where the fields are being developed.
        </p>

        <h4>Contacts:</h4>

        ul. Sakko i Vantsetti 21,<br>
        Saratov, 410056, Russia<br>
        Tel.: +7 (845-2) 393-555,<br>
        Fax: +7 (845-2) 393-444,<br>
        E-mail: Russneft@sng.ru<br>
        www.sng.ru
    </div>
</div>


<!--begin panel Moscow-->
<div ng-show="pRus == 1" class="panel panel-primary">
    <div class="panel-heading">
        Moscow
        <div ng-click="pRus = 0" class="bnt btn-danger"><span class="glyphicon glyphicon-remove-circle"></span></div>
    </div>
    <div class="panel-body">
        <ul class="link">
            <li>GK RussNeft</li>
            <li ng-click="panelRus = 1">ООО RussNeft Group – Research and Technical Center</li>
        </ul>
    </div>
</div>
<div class="panel panel-primary" ng-show="panelRus == 1 && pRus == 1">
    <div class="panel-heading">
        ООО RussNeft Group – Research and Technical Center
        <div ng-click="panelRus = 0"
             class="bnt btn-danger"><span class="glyphicon glyphicon-remove-circle"></span></div>
    </div>
    <div class="panel-body">
        <h3>Director General – Viktor Kundin</h3>

        <p>
            Own Research and Technical Center provides RussNeft Group with high efficiency of the oil fields development and proper operation of the
            continuously growing resource base.
        </p>

        <p>
            The structure of the Center has divisions focused on monitoring and design of the hydrocarbons production at the fields of Volga river
            block, Central Siberian block, West Siberian block and Ural block of the Company.
        </p>

        <p>
            The objectives of the Center are also to increase the production efficiency using creation and monitoring of geological and hydrodynamic
            models of the fields, geological analysis of the reservoirs, issuance of design and process documents for fields development. In addition,
            the Center defines conceptual characteristics and methodological aspects of scientific, research and design works, performs quality
            control of the works done for RussNeft Group by services contractors.
        </p>

        <p>
            The personnel of RussNeft Group – Research and technical center is highly professional: 7 Doctors of Science and Philosophy, an
            academician of the Russian Academy of Natural Sciences, an awardee of RF Government awards in the area of sciences and technics. The
            scientists of the Scientific and Technical Center regularly make reports at international and all-Russia conferences, publish articles in
            industrial magazines where they talk about the most interesting results of their researches. They also work actively with students and
            postgraduates of Gubkin State Oil and Gas University, Lomonosov Moscow State University and others. The most talented specialists are
            invited to work at the Center.
        </p>

        <h4>Contacts:</h4>

        <p>
            109004, Moscow,<br/>
            Solzhenitsyna st., 6А <br/>
            Tel.: 8 (495) 787-57-50 <br/>
            Fax: 8 (495) 787-57-51
        </p>
    </div>
</div>

