<div class="content-b">

    <h1>{{geographic}}</h1>

    <div class="row" style="margin-bottom: 0;padding-top: 50px">
        <div class="col-md-4">
            <div class="row" style="margin-bottom: 19px">
                <div class="col-md-7">
                    <a href="#/geographic/ru">
                        <img class="img-thumbnail" src="images/content/geo/1.png"/>
                    </a>
                </div>
                <div class="col-md-5 fs20" style="padding-top: 24px">
                    <a href="#/geographic/ru" ng-show="lang == 1">Россия</a>
                    <a href="#/geographic/ru" ng-show="lang == 2">Russia</a>
                </div>
            </div>
            <div class="row" style="margin-bottom: 19px">
                <div class="col-md-7">
                    <a href="#/geographic/mv">
                        <img class="img-thumbnail" src="images/content/geo/2.png"/>
                    </a>
                </div>
                <div class="col-md-5 fs20" style="padding-top: 24px">
                    <a href="#/geographic/mv" ng-show="lang == 1">Мавритания</a>
                    <a href="#/geographic/mv" ng-show="lang == 2">Mauritania</a>
                </div>
            </div>
            <div class="row" style="margin-bottom: 19px">
                <div class="col-md-7">
                    <a href="#/geographic/az">
                        <img class="img-thumbnail" src="images/content/geo/3.png"/>
                    </a>
                </div>
                <div class="col-md-5 fs20" style="padding-top: 24px">
                    <a href="#/geographic/az" ng-show="lang == 1">Азербайджан</a>
                    <a href="#/geographic/az" ng-show="lang == 2">Azerbaijan</a>
                </div>
            </div>
            <div class="row" style="margin-bottom: 0">
                <div class="col-md-7">
                    <a href="#/geographic/be">
                        <img class="img-thumbnail" src="images/content/geo/4.png"/>
                    </a>
                </div>
                <div class="col-md-5 fs20" style="padding-top: 24px">
                    <a href="#/geographic/be" ng-show="lang == 1">Беларусь</a>
                    <a href="#/geographic/be" ng-show="lang == 2">Belarus</a>
                </div>
            </div>
        </div>
        <div class="col-md-8 text-right">
            <img class="img-thumbnail" src="images/content/geo/1.jpg"/>
        </div>
    </div>

</div>