<div class="content-b" ng-show="lang == 1">

    <h1>{{md}}</h1>

    <div class="row" style="margin-bottom: 0">
        <div class="col-md-12">
            Долгосрочная стратегия развития Группы Компаний «РуссНефть» определяет активную позицию на международных сырьевых рынках. Группа планирует выходить в новые
            регионы и расширять географию деятельности. В сфере интересов холдинга - месторождения углеводородного сырья стран Африки, Ближнего Востока и СНГ.
        </div>
    </div>

    <div class="row" style="margin-bottom: 0">
        <div class="col-md-12">
            <h2>Исламская Республика Мавритания</h2>
        </div>
        <div class="col-md-4">
            <img class="img-responsive img-thumbnail" src="images/content/homes/1.jpg"/>
        </div>
        <div class="col-md-8">
            <p>
                «РуссНефть» через участие в совместном предприятии IPG S.A. ведет геологоразведочные работы на лицензионном блоке № 11 «Танит» площадью 29143 км<sup>2</sup>,
                расположенном в Мавританско-Сенегальском осадочном бассейне Мавритании.
            </p>

            <p>Эксклюзивное разрешение на разведку лицензионного блока №11 предоставлено IPG S.A. на основании Соглашения о разделе продукции (СРП), заключенного IPG S.A. и
               Исламской Республикой Мавритания 21.06. 2002 года.</p>

            <p>СРП включает 3 этапа.</p>

            <p>
                В течение каждого этапа, продолжительностью 3 года, «РуссНефть» обязана:
            </p>
            <ul>
                <li>провести не менее 1000 км сейсморазведочных работ 2D и/или ЗD</li>
                <li>пробурить не менее 2 разведочных скважин на минимальную глубину 3000 м каждая.</li>
            </ul>
        </div>
        <div class="col-md-12">
            <p>
                При завершении каждого этапа IPG S.A. обязуется возвратить государству 25% от площади разведываемого блока.
            </p>
        </div>
    </div>

    <div class="row" style="margin-bottom: 0">
        <div class="col-md-12">
            <h2>Республика Азербайджан</h2>
        </div>
        <div class="col-md-7">
            <p>
                В Азербайджане Группа Компаний «РуссНефть» участвует в совместном предприятии с Государственной Нефтяной Компанией (ГНКАР) и ведет геологоразведочные работы на
                лицензионном блоке «Падар».
            </p>

            <p>
                В настоящее время осуществляется геологическая интерпретация сейсморазведочных работ МОГТ-3D (площадь 220 км²). Вероятные извлекаемые ресурсы
                углеводородного сырья на Падаре по последним оценкам составляют 28,089 млн. тонн.
            </p>
        </div>
        <div class="col-md-5">
            <img class="img-responsive img-thumbnail" src="images/content/md/1.jpg"/>

            <div class="text-center img-annotate">На фото: Президент Группы Компаний «РуссНефть» М.Гуцериев<br> и Президент ГНКАР Р.Абдуллаев. Во время встречи.</div>
        </div>
    </div>

    <div class="row" style="margin-bottom: 0">
        <div class="col-md-12">
            <h2>Республика Алжир</h2>
        </div>
        <div class="col-md-7">
            <p>
                Группа Компаний «РуссНефть» получила сертификат на право ведения поисковой и геологоразведочной деятельности на территории Алжира в статусе «Оператор-Инвестор» на
                суше.
            </p>

            <p>
                Решение о квалификации российского нефтедобывающего холдинга было принято Министерством энергетики и горнодобывающей промышленности и Национальным агентством по
                развитию углеводородных ресурсов «Алнафт» на основе изучения предоставленных Компанией документов и отчетов о деятельности холдинга.
            </p>

            <p>
                Получение квалификации определяет широкое участие «РуссНефти» в перспективных нефтегазовых проектах Алжира и свидетельствует о возможностях и потенциале
                российской Группы в их совместной реализации.
            </p>
        </div>
        <div class="col-md-5">
            <img class="img-responsive img-thumbnail" src="images/content/md/2.jpg"/>
        </div>
    </div>

</div>


<div class="content-b" ng-show="lang == 2">

    <h1>{{md}}</h1>

    <div class="row" style="margin-bottom: 0">
        <div class="col-md-12">
            Long-term development strategy of RussNeft Group defines its active position at the international primary markets. The Group intends to enter new regions and expand its
            presence. RussNeft is focused on hydrocarbons deposits in Africa, Middle East and CIS countries.
        </div>
    </div>

    <div class="row" style="margin-bottom: 0">
        <div class="col-md-12">
            <h2>
                Islamic Republic of Mauritania
            </h2>
        </div>
        <div class="col-md-4">
            <img class="img-responsive img-thumbnail" src="images/content/homes/1.jpg"/>
        </div>
        <div class="col-md-8">

            <p>
                Via joint venture with IPG S.A. RussNeft performs exploration of Tanit license block 11 of 29143 km<sup>2</sup>, which is located in Mauritania-Senegal
                sedimentary basin of Mauritania. Exclusive exploration rights for license block 11 are granted to IPG S.A. based on Production Sharing Agreement (PSA), signed by
                IPG S.A. and Islamic Republic of Mauritania on June 21, 2002.
            </p>

            <p>
                PSA comprises 3 stages.
            </p>

            <p>
                During each stage of 3 years RussNeft undertakes to:
            </p>
            <ul>
                <li>
                    Acquire not less than 1000 km of 2D and/or 3D seismic;
                </li>
                <li>
                    Drill at least 2 appraisal wells of 3000 meters depth minimum.
                </li>
            </ul>
        </div>
        <div class="col-md-12">
            <p>
                Upon completion of each stage IPG S.A. undertakes to return 25% from the exploration block area to the State.
            </p>
        </div>
    </div>

    <div class="row" style="margin-bottom: 0">
        <div class="col-md-12">
            <h2>
                Republic of Azerbaijan
            </h2>
        </div>
        <div class="col-md-7">
            <p>
                In Azerbaijan, the Group participates in a joint venture with the State Oil Company (SOCAR) and carries out geological exploration activities on the Padar license
                block. Currently, geological interpretation is being carried out on the seismological exploration works  CDP-3D (220 km<sup>2</sup>).
            </p>

            <p>
                The potentially recoverable hydrocarbon resources at Padar, according to recent estimates, amount to 28.089 million tons.
            </p>
        </div>
        <div class="col-md-5">
            <img class="img-responsive img-thumbnail" src="images/content/md/1.jpg"/>

            <div class="text-center img-annotate">
                Photo: President of RussNeft Group, M.Gutseriev and President of SOCAR. During the meeting.
            </div>
        </div>
    </div>

    <div class="row" style="margin-bottom: 0">
        <div class="col-md-12">
            <h2>
                Republic of Algeria
            </h2>
        </div>
        <div class="col-md-7">
            <p>
                RussNeft Group has obtained the certificate for the right to carry out geological prospecting work at the territory of Algeria in the status of Onshore
                Operator-Investor.
            </p>

            <p>
                The decision on qualification of the Russian oil holding was taken by the Energy and Mining Ministry and the National Agency for Hydrocarbon Resources Development
                Alnaft on the basis of the holding business documents and reports submitted by the Group.
            </p>

            <p>
                Obtaining of the qualification determines active participation of RussNeft in Algerian prospective oil and gas projects and reveals the Russian company’s prospects
                and potential in joint implementation of these projects.
            </p>
        </div>
        <div class="col-md-5">
            <img class="img-responsive img-thumbnail" src="images/content/md/2.jpg"/>
        </div>
    </div>

</div>