<div class="content-b" ng-show="lang == 1">

<h1>Президент Группы Компаний «РуссНефть» Гуцериев Михаил Сафарбекович</h1>

<div class="row" style="margin-bottom: 0">
    <div class="col-md-8">

        <p>Родился 9 марта 1958 г. в г. Целинограде, Казахской ССР в многодетной семье.</p>

        <p>В 1975 г. закончил среднюю школу.</p>

        <h2>Образование, ученые степени и звания</h2>
        <ul>
            <li>Технологический институт, г. Джамбул, Казахская ССР, инженер, химик-технолог.</li>
            <li>Российский государственный университет нефти и газа им. Губкина, г. Москва, инженер, специальность "техника и технология
                нефтегазового дела".
            </li>
            <li>Финансовая академия при Правительстве РФ, г. Москва, экономист, специальность "финансы и кредит".</li>
            <li>Санкт-Петербургский юридический университет, юрист, специальность "гражданское право".</li>
            <li>Аспирантура Санкт-Петербургского юридического университета, кандидат юридических наук, специализация "уголовно- процессуальное
                право".
            </li>
            <li>Докторантура Российской экономической академии им.Г.В.Плеханова, доктор экономических наук, специализация "свободные экономические
                зоны".
            </li>
            <li>Академик "Российской академии естественных наук".</li>
            <li>Академик "Международной академии информатизации".</li>
            <li>Академик "Российской академии социальных наук".</li>
            <li>Академик "Международной академии экономики и права".</li>
        </ul>
    </div>

    <div class="col-md-4">
        <img class="img-responsive img-rounded img-thumbnail" src="images/content/president/1.jpg"/>
    </div>
</div>

<h2>Трудовая биография:</h2>

<p>
    <b class="text-info">В 1975 г.</b>
    начал трудовую деятельность грузчиком (складским рабочим) в г. Грозном.
</p>

<p>
    <b class="text-info">1976 – 1982 гг.</b>
    работает на Джамбульской фабрике народных художественных промыслов, г. Джамбул, Казахская ССР,
    где проходит путь от рабочего-накатчика до мастера цеха. Одновременно учится и успешно заканчивает в 1981 г. вечернее отделение
    химико-технологического факультета Джамбульского технологического института легкой и пищевой промышленности по специальности
    "Технология кожи и меха".
</p>

<p>
    <b class="text-info">1982 г.</b>
    - инженер-технолог, затем старший инженер-технолог Грозненского производственного объединения
    Минместпрома РСФСР, г. Грозный.
</p>

<p>
    <b class="text-info">1983 г.</b>
    - начальник технического, затем производственного отдела предприятия.
</p>

<p>
    <b class="text-info">1984 г.</b>
    - старший мастер цеха.
</p>

<p>
    <b class="text-info">1985 г.</b>
    - главный инженер предприятия.
</p>

<p>
    <b class="text-info">С 1986 по 1992 гг.</b>
    - генеральный директор объединения.
</p>

<p>
    На заре перестройки создал первое на Северном Кавказе совместное российско-итальянское предприятие - мебельную фабрику "Чиитал".
    Михаил Гуцериев был пионером частного банковского дела в СССР - в конце 80-х он основал один из первых в стране кооперативных банков.
</p>

<p>
    <b class="text-info">В 1991 г.</b>
    был избран председателем Ассоциации предпринимателей Чечено-Ингушской АССР.
</p>

<p>
    <b class="text-info">В 1992 г.</b>
    создал и возглавил в Москве промышленно-финансовую компанию "БИН" (Банк инвестиций и инноваций). С 1994 г. - президент акционерного
    коммерческого банка "БИН".
</p>

<p>
    <b class="text-info">В 1994 г.</b>
    избран президентом консорциума "БИН", объединяющего промышленные предприятия, торговые и консалтинговые компании, финансовые
    учреждения, в том числе предприятия, работающие на рынке нефтепродуктов.
</p>

<p>
    <b class="text-info">В ноябре 1994 г.</b>
    создал первую в России зону экономического благоприятствования "Ингушетия" и постановлением Правительства РФ был назначен ее Главой.
    За годы своей работы зона экономического благоприятствования привлекла в республику реальные капиталовложения, было построено более
    200 объектов промышленного, социального и административного назначения.
</p>

<p>
    <b class="text-info">В 1995 г.</b>
    Михаил Гуцериев оставляет предпринимательскую деятельность и уходит в политику. На парламентских выборах 1995г. избран депутатом
    Государственной Думы Федерального Собрания второго созыва. В Думе занимает пост Заместителя Председателя, координирует деятельность
    Комитета по промышленности, строительству, транспорту и энергетике, Комитета по конверсии и наукоемким технологиям, Комитета по науке
    и образованию, Комитета по аграрным вопросам, Комитета по делам национальностей, Комитета по делам общественных объединений и
    религиозных организаций, а также курирует связи с арабскими странами и государствами Ближнего Востока. Как куратор в Думе всех
    вопросов, связанных с Кавказом, принимал активное участие в разрешении многочисленных межнациональных конфликтов в регионе,
    урегулировании чеченского кризиса и прекращении боевых действий на территории республики.
</p>

<p>
    <b class="text-info">В декабре 1999 г.</b>
    в качестве независимого кандидата избран депутатом Государственной Думы Федерального Собрания третьего созыва по 12-ому одномандатному
    округу.
</p>

<p>
    <b class="text-info">В феврале 2000 г.</b>
    на внеочередном собрании акционеров государственной российско-белорусской нефтегазовой компании ОАО НК "Славнефть" избран президентом
    компании.
</p>

<p>
    <b class="text-info">В мае 2000 г.</b>
    был отмечен Министерством РФ по налогам и сборам ежегодной премией "Добросовестный налогоплательщик".
</p>

<p>
    <b class="text-info">В августе 2000 г.</b>
    был награжден Русской Православной Церковью Орденом Сергия Радонежского III степени за постоянную помощь Толгской обители и
    строительство на территории Свято-Введенского Толгского монастыря (Ярославская область) приюта для девочек-сирот.
</p>

<p>
    <b class="text-info">В сентябре 2000 г.</b>
    признан победителем авторитетного конкурса журнала "Компания" как "Лучший менеджер года" в нефтяной отрасли.
</p>

<p>
    <b class="text-info">В феврале 2001 г.</b>
    избран вице-президентом Российского союза промышленников и предпринимателей.
</p>

<p>
    <b class="text-info">В феврале 2001 г.</b>
    за выдающийся вклад в развитие экономической науки и заслуги в организации нефтяного дела в России первым из
    руководителей нефтегазового комплекса страны избран действительным членом Российской академии естественных наук (РАЕН).
</p>

<p>
    <b class="text-info">В мае 2001 г.</b>
    получил национальную общественную премию им. Петра Великого за значительный вклад в развитие экономики Российской Федерации.
</p>

<p>
    <b class="text-info">В августе 2001 г.</b>
    за вклад в строительство Храма Покрова Пресвятой Богородицы (г. Мегион, ХМАО) и Храма Рождества Христова
    (г.Нижневартовск, ХМАО) награжден Орденом Русской Православной Церкви Даниила Московского II степени.
</p>

<p>
    <b class="text-info">В марте 2002 г.</b>
    стал победителем общероссийского конкурса "Финансист года", проводимого под эгидой Торгово-промышленной палаты.
</p>

<p>
    <b class="text-info">В сентябре 2002 г.</b>
    основал и возглавил нефтегазовую компанию "РуссНефть".
</p>

<p>
    <b class="text-info">В июне 2003 г.</b>
    на годовом собрании Ассоциации малых и средних нефтегазодобывающих предприятий "Ассонефть" был избран Президентом Ассоциации.
</p>

<p>
    <b class="text-info">В ноябре 2003 г.</b>
    переизбран вице-президентом Российского союза промышленников и предпринимателей.
</p>

<p>
    <b class="text-info">В декабре 2003 г.</b>
    собрание членов Ассоциации малых и средних нефтегазодобывающих предприятий "Ассонефть" удовлетворило просьбу Михаила
    Гуцериева о снятии с себя полномочий Президента Ассоциации в связи с динамичным ростом "РуссНефти" и превращением Компании в
    вертикально-интегрированный нефтяной холдинг.
</p>

<p>
    <b class="text-info">В июле 2004 г.</b>
    награжден Русской Православной Церквью Орденом Даниила Московского I степени за значительный вклад в возрождение и
    строительство Храма Святого Великомученика и целителя Пантелеймона (Каракулинский район, Удмуртия) и Спасо-Вознесенского кафедрального
    собора
    ( г.Ульяновск).
</p>

<p>
    <b class="text-info">В сентябре 2004 г.</b>
    Михаил Гуцериев признан победителем конкурса делового еженедельника «Компания» как «Лучший менеджер года» в топливно-энергетическом
    комплексе.
</p>

<p>
    <b class="text-info">В октябре 2004 г.</b>
    стал лауреатом ведущей общероссийской премии «Российский национальный олимп», а ОАО НК «РуссНефть» отмечена авторитетным жюри премии как
    одна из ведущих компаний России.
</p>

<p>
    <b class="text-info">В ноябре 2004 г.</b>
    в рамках Международной премии «Профессия-жизнь», учрежденной Всемирной организаций здравоохранения, МЧС РФ за выдающиеся заслуги в
    строительстве социальных учреждений и пожертвований на благо человека удостоен звания «Меценат года».
</p>

<p>
    <b class="text-info">В декабре 2004 г.</b>
    ОАО НК «РуссНефть» признана лауреатом премии «Компания года» в номинации «Открытие года», проводимого информационным
    холдингом РБК под эгидой Министерства экономического развития и торговли РФ.
</p>

<p>
    <b class="text-info">В марте 2005 г.</b>
    корпоративная газета «Время РуссНефти» признана лучшим корпоративным изданием 2004 года.
</p>

<p>
    <b class="text-info">В июле 2005 г.</b>
    за вклад в строительство Храма святых царственных великомучеников (г.Ижевск, Удмуртия) и Храма святого великомученика
    Пантелеймона на территории Центрального клинического военного госпиталя ФСБ России (г.Москва) награжден Орденом Русской православной церкви
    Сергия Радонежского II степени.
</p>

<p>
    <b class="text-info">В сентябре 2005 г.</b>
    именем Президента Компании Михаила Сафарбековича Гуцериева названы улицы в г.Грозный и с.Гойты (Чеченская Республика).
</p>

<p>
    <b class="text-info">В марте 2006 г.</b>
    избран председателем Российско-алжирского делового совета, действующего под эгидой ТПП РФ и патронажем Министерства иностранных дел РФ.
</p>

<p>
    <b class="text-info">В мае 2006 г.</b>
    М.С.Гуцериев награжден Большой Золотой медалью «Ордена «Меценат» I степени.
</p>

<p>
    <b class="text-info">В сентябре 2006 г.</b>
    за вклад в строительство Спасо-Преображенского храма (Новоспасский район, Ульяновская область); Храма Иоанна Кронштадского <br>
    (г.Радужный, ХМАО) награжден Русской Православной Церковью Орденом Cергия Радонежского I степени.
</p>

<p>
    <b class="text-info">В декабре 2006 г.</b>
    деловой еженедельник "Компания" признал Михаила Гуцериева победителем ежегодного конкурса «Лучшие менеджеры года» в номинации "Руководитель нефтегазовой отрасли".
</p>

<p>
    <b class="text-info">В декабре 2006 г.</b>
    Президент "РуссНефти" стал лауреатом авторитетного общественного конкурса «Лица года» в номинации «Предприниматель года»,
    проводимого издательским холдингом «Совершенно секретно».
</p>

<p>
    <b class="text-info"> В мае 2007 г.</b>
    за существенный вклад в дело духовно-нравственного возрождения народов РФ и ее традиционных конфессий, а также масштабную
    благотворительную деятельность награжден Советом муфтием России высшей мусульманской религиозной наградой - Орденом Почета "Аль-Фахр" I степени.
</p>

<p>
    <b class="text-info">2007–2010 гг.</b>
    жил и работал в Великобритании; успешно реализовал ряд масштабных нефтегазовых проектов в Азербайджане, Казахстане, странах Африки.
    С июня 2010 г. президент ОАО НК «РуссНефть».
</p>

<p>
    <b class="text-info">В июле 2010 г.</b>
    за вклад в воссоздание одного из самых величественных храмов Русской Православной Церкви - Свято-Михайловского собора <br>
    (г. Ижевск, Удмуртия) был награжден Патриархом Московским и Всея Руси Кириллом Орденом князя Владимира II степени.
</p>

<p>
    <b class="text-info">В июне 2011 г.</b>
    был награжден Знаком «Медаль им. Василия Николаевича Хитрово» Императорского Православного Палестинского Общества (ИППО) за вклад в
    строительство Культурно-делового центра РФ в г. Вифлеем (Палестинская автономия).
</p>

<p>
    <b class="text-info">1 сентября 2011 г.</b>
    распоряжением Президента Удмуртской Республики А. Волкова за вклад в строительство здания Института нефти и газа Удмуртского
    государственного университета институту было присвоено имя Михаила Гуцериева.
</p>

<p>
    <b class="text-info">В октябре 2011 г.</b>
    стал лауреатом Всероссийской премии "Лучший руководитель России-2011" в номинации "Добыча полезных ископаемых".
</p>

<p>
    <b class="text-info">В ноябре 2011 г.</b>
    награжден медалью Бенджамина Франклина, одной из авторитетных общественных наград США, за значительный вклад в развитие
    предпринимательства в России и Восточной Европе, а также масштабную благотворительную деятельность в области образования.
</p>

<p>
    <b class="text-info">В марте 2012 г.</b>
    Президент НК «РуссНефть» Михаил Гуцериев отмечен международной общественной премией «Персона года 2011» в номинации «Бизнесмен года»,
    учрежденной медиа-холдингом «РосБизнесКонсалтинг».
</p>

<p>
    <b class="text-info">Декабрь 2013 г.</b>
    стал лауреатом престижной премии "Лучший бизнесмен Евразии-2013", ежегодно вручаемой
    авторитетной общественной организацией Center for Global Dialogue and Cooperation (CGDC) за эффективную реализацию масштабных
    бизнес-проектов на территории России и стран СНГ.
</p>

<h2>Награжден правительственными и общественными наградами:</h2>
<ul>
    <li>Орденом Дружбы</li>
    <li>Орденом "Знак Почета"</li>
    <li>Орденом Сергия Радонежского I степени</li>
    <li>Орденом Сергия Радонежского II степени</li>
    <li>Орденом Сергия Радонежского III степени</li>
    <li>Орденом Даниила Московского I степени</li>
    <li>Орденом Даниила Московского II степени</li>
    <li>Орденом князя Владимира II степени</li>
    <li>Орденом Почета "Аль-Фахр" I степени</li>
    <li>Орденом "Содружество" Межпарламентской Ассамблеи СНГ</li>
    <li>Медалью "За трудовую доблесть"</li>
    <li>Медалью "За трудовое отличие"</li>
    <li>Медалью "За отличие в специальных операциях"</li>
    <li>Четырежды награжден именным оружием за выполнение специальных поручений правительства РФ</li>
    <li>Званием "Почетный нефтяник России"</li>
    <li>Званием "Почетный работник топливно-энергетического комплекса"</li>
    <li>Званием "Заслуженный экономист России"</li>
</ul>
<p>За широкую благотворительную помощь религиозным организациям, ветеранам-интернационалистам, детским домам, образовательным и культурным учреждениям
   отмечен орденскими Знаками, дипломами и благодарственными письмами Президента Российской Федерации, Президента Республики Беларусь, Патриарха Всея
   Руси, Председателя Совета Муфтиев России, Главного раввина России и руководства Федерации еврейских общин, руководителей ряда регионов России,
   государственных и общественных организаций, силовых структур страны.
</p>

<p>Автор пяти монографий и серии научных публикаций по проблемам развития свободных экономических зон и оффшорного бизнеса в России.</p>

<p>Учредитель ряда общественных и благотворительных организаций.</p>

<p>Кандидат в мастера спорта по десятиборью.</p>

<p>Играет на скрипке, фортепиано, пишет стихи, увлекается живописью.</p>

<p>Владеет английским языком.</p>

</div>


<div class="content-b" ng-show="lang == 2">

<h1>
    President of RussNeft Group Mikhail Safarbekovich Gutseriev
</h1>

<div class="row" style="margin-bottom: 0">
    <div class="col-md-8">

        <p>
            Born on March 9, 1958 in Tselinograd, Kazakh SSR, in a family with many children.
            Finished secondary school in 1975.
        </p>

        <h2>
            Education, graduate degrees, titles:
        </h2>

        <ul>
            <li>Institute of Technology, Dzhambul, Kazakh SSR, chemical process engineer.</li>
            <li>Russian State Oil and Gas University named after Gubkin, Moscow, engineer, majoring in “Methods and Technology of Oil and Gas engineering”.</li>
            <li>Finance Academy under the Government of the RF, Moscow, economist, majoring in “Finance and Credits”.
            </li>
            <li>Saint-Petersburg University of Law. Lawyer, majoring in “Civil Law”.

            </li>
            <li>Post-graduate course of Saint-Petersburg University of Law, Master of law, with specialization in “Criminal Procedure Law”.

            </li>
            <li>Doctoral studies at the Russian Academy for Economics named after G.V.Plekhanov, Doctor of Economics, with specialization in “Free Economic Zones”.

            </li>
            <li>Academician of Russian Academy of Natural Sciences (RANS).

            </li>
            <li>Academician of International Academy for Informatization.

            </li>
            <li>Academician of Russian Academy for Social Sciences.

            </li>
            <li>Academician of International Academy for Economics and Law.</li>
        </ul>
    </div>

    <div class="col-md-4">
        <img class="img-responsive img-rounded img-thumbnail" src="images/content/president/1.jpg"/>
    </div>
</div>

<h2>Work record:</h2>

<p>
    <b class="text-info">In 1975</b>
    - started labor activity as a loader (store worker) in Grozny.
</p>

<p>
    <b class="text-info">In 1976 – 1982</b>
    worked at Dzhambul Factory of folk arts, Dzhambul, Kazakh SSR, initially starting from a reel operator up to the foreman. Simultaneously he studied at
    chemical-engineering evening department of Dzhambul Technological Institute of light and food industry majoring in “Leather and Furs” and in 1981 successfully graduated.
</p>

<p>
    <b class="text-info">1982</b>
    – process engineer, later – senior process engineer of Grozny Production Association at the Ministry of Local Industry of the RSFSR, Grozny.
</p>

<p>
    <b class="text-info">1983</b>
    – Head of Technological Department, later – of Production Department of the enterprise.
</p>

<p>
    <b class="text-info">1984</b>
    – Senior workshop foreman.
</p>

<p>
    <b class="text-info">1985</b>
    – Chief Engineer of the enterprise.
</p>

<p>
    <b class="text-info">1986 -1992</b>
    – General Director of the Association.
</p>

<p>
    At the early stage of perestroika M. Gutseriev founded the first at the Northern Caucasus Russian-Italian joint venture – a furniture factory “Chiital”. He became a pioneer of
    private banking business in the USSR – at the end of the 80-s he founded one of the first in the country cooperative banks.
</p>

<p>
    <b class="text-info">In 1991</b>
    – M. Gutseriev was elected the Chairman of Businessmen Association of the Checheno-Ingush ASSR.
</p>

<p>
    <b class="text-info">In 1992</b>
    – he founded and headed in Moscow the industrial and financial company “BIN” (Bank of Investments and Innovations). Since 1994 - President of the Joint Stock Commercial Bank
    “BIN”.
</p>

<p>
    <b class="text-info">In 1994</b>
    – he was elected the president of the consortium “BIN” which associated industrial enterprises, trading and consulting companies, financial institutions, including enterprises
    engaged in the oil products market.
</p>

<p>
    <b class="text-info">In November 1994</b>
    – M. Gutseriev set up the first in Russia Zone of Economic Favor “Ingushetia” and headed it in virtue of the statement of the Government of the RF. During the years of its
    functioning the Zone of Economic Favor attracted to the republic real investments, there were built more than 200 industrial, social and administrative facilities.
</p>

<p>
    <b class="text-info">In 1995</b>
    - Gutseriev gave up business and turned to politics. At the parliamentary elections of 1995 he was elected a Deputy of the State Duma of the Federal Assembly of the Second
    convocation. At the Duma he occupied the position of Deputy Chairman, coordinating the activity of the Committee for Industry, Construction, Transport and Energy, the Committee
    for Conversion and High Technologies, the Committee for Science and Education, the Committee for Agrarian Problems, the Committee for Nationalities, the Committee for Social
    Associations and Religious Organizations and administering the relations with Arab countries and Middle East states. Being the curator on behalf of the Duma of all the matters
    connected with the Caucasus, Gutseriev took an active part in solving numerous national conflicts in the region, settling Chechenian crisis and stopping the war operations on
    the territory of the Republic.
</p>

<p>
    <b class="text-info">In December 1999</b>
    – being an independent candidate, M. Gutseriev was elected as a Deputy of the Third Convocation Federal Meeting of the State Duma for the 12th single-mandate district.
</p>

<p>
    <b class="text-info">February 2000</b>
    – At the extraordinary meeting of shareholders of the State Russian-Belorussian Oil and Gas Company “Slavneft” M. Gutseriev was elected the President of the Company.
</p>

<p>
    <b class="text-info">Мay 2000</b>
    – The Ministry of the RF for Taxation and Revenue vouchsafed M.Gutseriev with the annual prize “Bona Fide Taxpayer”.
</p>

<p>
    <b class="text-info">2000</b>
    – M. Gutseriev was awarded with the Order of Sergiy of Radonezh III grade of the Russian Orthodox Church for permanent help to Tolga monastery and construction at the territory
    of the Tolga Monastery of Sent Presentation (the Yaroslavl Region) of an orphanage for orphaned girls.
</p>

<p>
    <b class="text-info">In September 2000</b>
    – he won the prestigious contest of the magazine “Kompaniya” as the “Best Manager of the year” for the petroleum branch.

</p>

<p>
    <b class="text-info">In February 2001</b>
    – M.Gutseriev was elected the Vice President of the Russian Union of Manufacturers and Entrepreneurs.

</p>

<p>
    <b class="text-info">In February 2001</b>
    – for his notable contribution in the development of the science of economics and the great services rendered to organization of the oil business in Russia M. Gutseriev was the
    first among the managers of the oil and gas complex of the country to be elected the full member of the Russian Academy of Natural Sciences.
</p>

<p>
    <b class="text-info">In May 2001</b>
    – M. Gutseriev was given the national social premium named after Peter the Great for his substantial contribution in the development of the economy of the Russian Federation.
</p>

<p>
    <b class="text-info">In August 2001</b>
    – Mikhail Gutseriev was awarded with the Order of the Russian Orthodox Church of Daniel of Moscow, II grade, for construction of orthodox temples in the towns of Megion and
    Nizhnevartovsk.
</p>

<p>
    <b class="text-info">In March 2002</b>
    – he became the winner of the all-Russian contest “The Financier of the Year”, held under the aegis of the Chamber of Industry and Commerce.
</p>

<p>
    <b class="text-info">In September 2002</b>
    – Mikhail Gutseriev founded and headed the oil and gas company RussNeft.

</p>

<p>
    <b class="text-info">In June 2003</b>
    – at the annual meeting of the Association of small-scale and medium-scale oil-and-gas producing companies “Assoneft” M. Gutseriev was elected the President of the Association.

</p>

<p>
    <b class="text-info">In November 2003</b>
    – he was re-elected as the Vice President of the Russian Union of Manufacturers and Entrepreneurs.
</p>

<p>
    <b class="text-info">In December 2003</b>
    – the meeting of ASSONEFT members, Association of Small-Scale and Medium-Scale Oil and Gas Production Companies, complied with the request of M. Gutseriev to relieve him of the
    duties of the Association President due to dynamic growth of RussNeft and its transformation into a vertically-integrated oil holding company.
</p>

<p>
    <b class="text-info">In July 2004</b>
    – was rewarded by Russian Orthodox Church with the Order of Saint Daniel of Moscow, I grade, for his substantial contribution in the resurrection and construction of the Saint
    Great Martyr and Healer Panteleimon Church (Karakulinsky District, Udmurtia) and the Church of the Cathedral of Ascension (Ulyanovsk).

</p>

<p>
    <b class="text-info">September 2004</b>
    – Winner of the contest held by the business weekly “Kompaniya” “The Best Manager of the Year” for the fuel and energy branch.

</p>

<p>
    <b class="text-info">October 2004</b>
    – Winner of the RUSSIAN NATIONAL OLYMPUS, a leading Russian prize, RussNeft being acknowledged one of the leading Russian companies by the authoritative jury.

</p>

<p>
    <b class="text-info">November 2004</b>
    – Within the framework of the International Prize “Profession: Life”, instituted by the World Health Organization and the Ministry of Emergencies of the RF M. Gutseriev was
    recognized as the “Donator of the Year” for his prominent services in construction of social institutions and donations to the benefit of people.
</p>

<p>
    <b class="text-info">December 2004</b>
    – OAO NK RussNeft is pronounced the laureate of the prize “Company of the Year” held by the information holding RBK under the sponsoring of the Ministry of Economic Development
    and Trade of the RF.

</p>

<p>
    <b class="text-info">March 2005</b>
    – the corporate newspaper “Vremia RussNefti” is pronounced the best corporate issue of the year 2004.

</p>

<p>
    <b class="text-info">July 2005</b>
    – for his contribution in the construction of the Temple of Holy Royal Great Martyrs in Izhevsk (Udmurtia) and the Temple of Holy Great Martyr Panteleimon at the territory of
    the Central Military Clinic of the Federal Security Service of Russia (Moscow) M. Gutseriev was awarded with the Russian Orthodox Church Order of Sergiy of Radonezh, II grade.

</p>

<p>
    <b class="text-info">In September 2005</b>
    – a street in Grozny and a street in the village of Goity (Chechen Republic) were named after Mikhail Safarbekovich Gutseriev.

</p>

<p>
    <b class="text-info">In March 2006</b>
    – M. Gutseriev was elected the Chairman of Russian-Algerian Business Council functioning under the aegis of the Chamber of Industry and Commerce.

</p>

<p>
    <b class="text-info">In May 2006</b>
    – M.S.Gutseriev was awarded the Great Golden Medal of the Order “Donator” , I grade.

</p>

<p>
    <b class="text-info">In September 2006</b>
    – for his contribution in construction of Spaso-Preobrazhensky Church (Novospassky District, (Ulyanovsk Region), John of Kronstadt Church (Raduzhny, KhMAO), Russian Orthodox
    Church rewarded him with Sergiy of Radonezh Order, I grade.
</p>

<p>
    <b class="text-info">December, 2006</b>
    – Mikhail S. Gutseriev won the awards ‘Best Managers of the Year’, presented by the business weekly ‘Kompaniya’, in the nomination “Oil and Gas Branch Manager”.

</p>

<p>
    <b class="text-info">December, 2006</b>
    – Mikhail S. Gutseriev won the ‘Persons of the Year’ awards in the category “Businessman of the Year”, presented by the publisher’s holding ‘Sovershenno Sekretno’.

</p>

<p>
    <b class="text-info">In May, 2007</b>
    – the Council of Muftis of Russia gave to Mr. Gutseriev the highest Muslim religious award– Al-Fakhr Order of Honor, First Grade, for outstanding contribution to moral and
    spiritual renaissance of Russia’s peoples and its traditional religious confessions and for large-scale charity work.

</p>

<p>
    <b class="text-info">2007 – 2010</b>
    – lived and worked in Great Britain; successfully implemented a number of large-scale oil and gas projects in Azerbaijan, Kazakhstan, African countries.

</p>

<p>
    <b class="text-info">Since June 2010</b>
    – President of OAO NK RussNeft.
</p>

<p>
    <b class="text-info">In July 2010</b>
    – for the contribution to restoration of one of the most dignified churches of the Russian Orthodox Church – St. Mikhailovsky Cathedral (Izhevsk, Udmurtia), the Patriarch of
    Moscow and all Russia, Kyrill awarded him whis the Order of knyazh Vladimir, the II degree.

</p>

<p>
    <b class="text-info">In June 2011</b>
    – was awarded with the plaque “Vassili Nikolayevich Khitrovo Medal”, of the Imperial Orthodox Palestine Society (IOPS) for his contribution in construction of the Culture and
    Business center of the RF in the city of Bethlehem (the Palestinian Authority).
</p>

<p>
    <b class="text-info">On the 1st of September, 2011</b>
    – By the order of Udmurt Republic President Alexander Volkov Oil and Gas Institute of the Udmurt State University was named after Mikhail Gutseriev for his contribution into
    the construction of the building of the Institute.

</p>

<p>
    <b class="text-info">In October 2011</b>
    – M.Gutseriev became the winner of the All-Russian award “Best CEO-2011” in the nomination “Mining Operations”.
</p>

<p>
    <b class="text-info">In November 2011</b>
    – Mr. Gutseriev was awarded with Benjamin Franklin medal, one of the USA prestigious social awards for his significant contribution into business development in Russia and
    Eastern Europe as well as for his large-scale charitable activity in education sphere.

</p>

<p>
    <b class="text-info">In March 2012</b>
    – the President of NK RussNeft Mikhail Gutseriev became the winner of international public prize “Person of the year 2011” in the nomination “Businessman of the year”,
    established by media-holding RosBusinessConsulting.

</p>

<p>
    <b class="text-info">In December 2013</b>
    Mr. Gutseriev became the winner of the prestigious award «Best Eurasian Businessman 2013», annually awarded by an authoritative public organization Сenter for
    Global Dialogue and Cooperation (CGDC). The award recognizes efficient implementation of major business-projects in Russia and CIS.
</p>

<h2>Government and public awards:</h2>

<ul>
    <li>Order of Friendship
    </li>
    <li>Honor Sign Order
    </li>
    <li>Order of Sergiy of Radonezh, I Grade
    </li>
    <li>Order of Sergiy of Radonezh, II Grade
    </li>
    <li>Order of Sergiy of Radonezhsky, III Grade
    </li>
    <li>Order of Daniel of Moscow, I Grade
    </li>
    <li>Order of Daniel of Moscow, II Grade
    </li>
    <li>Order of Knyaz Vladimir, II nd degree
    </li>
    <li>Al-Fakhr Order of Honor, First Grade
    </li>
    <li>Order of the Community of Interparliamentary Assembly of the CIS
    </li>
    <li>For Labor Virtue
    </li>
    <li>For Labor Distinction
    </li>
    <li>For Distinguished Services in Special Operations
    </li>
    <li>Four times awarded with autographed weapons for completing special missions of the Government of the RF
    </li>
    <li>Honoured Oilman of Russia
    </li>
    <li>Honoured Functionary of Fuel and Energy Complex
    </li>
    <li>Honoured Economist of Russia
    </li>
</ul>

<p>
    For widespread charitable aid to religious organizations, international war veterans, orphanages, educational and cultural organizations Mikhail Gutseriev has been awarded with
    order signs, diplomas and letters of gratitude from the President of Russian Federation, the President of Belarus Republic, the Russian Patriarch, the Chairman of Russia Muftis
    Council, the Chief Rabbi of Russia and Jewish Communities Federation leaders, officials of a number of Russian regions, leaders of some state, public and power organizations of
    this country.
</p>

<p>
    Mikhail Safarbekovich is the author of five monographs and a series of science publications on the problems of free trade zones and offshore business in Russia.
</p>

<p>
    He is a founder of a number of public and charitable organizations.
</p>

<p>
    Mikhail Safarbekovich is a master of sports' contender in decathlon.
</p>

<p>
    He plays the violin and the piano, writes verses, likes to paint.
</p>

<p>
    Has a good command in English.
</p>

</div>