<div class="content-b">
    <h1>{{projects}}</h1>

    <div class="row" style="padding-top: 60px">
        <div class="col-md-3 text-center">
            <a href="#/projects/1" class="img-thumbnail">
                <img class="img-responsive" src="images/content/upstream/neft/5.jpg"/>
            </a>
        </div>
        <div class="col-md-8" style="padding-top: 62px">
            <a href="#/projects/1" class="fs20" ng-show="lang == 1">
                Разработка Шапшинской группы месторождений в Ханты-Мансийском автономном округе
            </a>
            <a href="#/projects/1" class="fs20" ng-show="lang == 2">
                Shapshinskaya group of oilfields (3 oilfields) is located in Khanty-Mansiysk Autonomous Okrug
            </a>
        </div>
    </div>
    <div class="row" style="margin-bottom: 20px">
        <div class="col-md-3 text-center">
            <a href="#/projects/2" class="img-thumbnail">
                <img class="img-responsive" src="images/content/upstream/neft/17.jpg"/>
            </a>
        </div>
        <div class="col-md-8" style="padding-top: 62px">
            <a href="#/projects/2" class="fs20" ng-show="lang == 1">
                Разработка нефтегазовых месторождений в Томской области
            </a>
            <a href="#/projects/2" class="fs20" ng-show="lang == 2">
                Development of oil and gas oilfields in Tomsk region
            </a>
        </div>
    </div>
</div>