<style>
    .dl-horizontal-m dt{
        width: 200px;
    }

    .dl-horizontal-m dd{
        margin-left: 215px;
    }
</style>

<div class="content-b" ng-show="lang == 1">

    <div class="row" style="margin-bottom: 10px">
        <div class="col-md-5">
            <h1 style="margin-bottom: 0">{{projects}}</h1>
        </div>
        <div class="col-md-2 text-right" style="padding-top: 5px">
            <a class="btn btn-primary" href="#/projects">
                <span class="glyphicon glyphicon-arrow-left" style="vertical-align: top"></span>
                <span style="vertical-align: top">ВЕРНУТЬСЯ</span>
            </a>
        </div>
    </div>

    <div class="row" style="margin-bottom: 0">
        <div class="col-md-8">
            <h2>
                Разработка нефтегазовых месторождений в Томской области
            </h2>

            <p>
                Особое внимание Группа Компаний «РуссНефть» уделяет нефтегазовым месторождениям, расположенным в Томской области. В будущем
                «РуссНефть» планирует на базе
                месторождений томского
                региона сформировать и развивать новый добывающий центр, который существенно дополнит традиционные регионы добычи холдинга.
            </p>

            <br/>

            <div class="row" style="margin-bottom: 0">
                <div class="col-md-5 text-center">
                    <p>
                        общий объем эксплуатационного и разведочного бурения в 2013 году
                    </p>

                    <p>
                        <span class="btn btn-primary btn-lg btn-block fs20">
                            70 тыс. погонных метров        
                        </span>
                    </p>
                </div>
                <div class="col-md-5 col-md-offset-1 text-center">
                    <br/>

                    <p style="white-space: nowrap">
                        годовой объем капвложений в 2013 году
                    </p>

                    <p>
                        <span class="btn btn-primary btn-lg btn-block fs20">
                                                3 985 млрд. рублей        
                        </span>
                    </p>
                </div>
            </div>

            <h3>Этапы разработки месторождений:</h3>

            <ul>
                <li>
                    2010 г. – пробурено 11 новых скважин; построен трубопровод протяженностью 16 км.; объем добычи достиг 128 тыс. тонн.
                </li>
                <li>
                    2011 г. – объем добычи -565 тыс. тонн, продолжение формирования инженерной инфраструктуры.
                </li>
                <li>
                    2012 г. – в декабре уровень годовой добычи перешагнул планку в 1 млн. тонн; эксплуатационный фонд вырос на 35%.
                </li>
                <li>
                    2013 г. – в состав томского блока вошли новые перспективные активы – ООО «Средне-Васюганское» и ООО «Муромское». Интеграция в
                    состав холдинга придала динамику
                    реализации масштабных производственных программ, направленных на вовлечение в разработку имеющихся запасов и увеличение объемов
                    добычи нефти на месторождениях
                    томского блока.
                </li>
            </ul>

        </div>
        <div class="col-md-4" style="padding-top: 30px">
            <img class="img-responsive img-thumbnail" src="images/content/about/3.jpg"/>
        </div>
    </div>


</div>


<div class="content-b" ng-show="lang == 2">
    <div class="row" style="margin-bottom: 10px">
        <div class="col-md-3">
            <h1 style="margin-bottom: 0">{{projects}}</h1>
        </div>
        <div class="col-md-2 text-right" style="padding-top: 5px">
            <a class="btn btn-primary" href="#/projects">
                <span class="glyphicon glyphicon-arrow-left" style="vertical-align: top"></span>
                <span style="vertical-align: top">BACK</span>
            </a>
        </div>
    </div>
    <div class="row" style="margin-bottom: 0">
        <div class="col-md-9">
            <h2>
                Development of oil and gas oilfields in Tomsk region
            </h2>

            <p>
                RussNeft Group of Companies pays special attention to gas fields in the Tomsk region. In future RussNeft is planning to form up and
                develop on the basis of the Tomsk region gas fields a new producing center which will become a substantial contribution to traditional
                producing regions of the holding.
            </p>

            <br/>

            <div class="row" style="margin-bottom: 0">
                <div class="col-md-5 text-center">
                    <p>
                        total volume of exploration drilling in 2013.
                    </p>

                    <p>
                        <span class="btn btn-primary btn-lg btn-block fs20">
                            70 thousand linear meters
                        </span>
                    </p>
                </div>
                <div class="col-md-5 col-md-offset-1 text-center">

                    <p style="white-space: nowrap">
                        annual amount of capital investments in 2013
                    </p>

                    <p>
                        <span class="btn btn-primary btn-lg btn-block fs20">
                            3,986 bn. RUB
                        </span>
                    </p>
                </div>
            </div>


            <ul>
                <li>
                    2010 – 11 new wells were drilled, a 16 km long pipeline was built; production output reached 128 thousand tons.
                </li>
                <li>
                    2011 – production output – 565 thousand tons, engineering infrastructure development going on.
                </li>
                <li>
                    2012 – In December the annual production level exceeded 1 million tons; the operating well stock grew by 35%.
                </li>
                <li>
                    2013 - New perspective assets of OOO Sredne-Vasyuganskoye and OOO Muromskoye were included into Tomsky block. This integration
                    allowed dynamic implementation of
                    large-scale production programs. The programs are targeted at involving of already existing reserves into development and at oil
                    production output increase at
                    the fields of Tomsky block.
                </li>
            </ul>

        </div>
        <div class="col-md-3" style="padding-top: 30px">
            <img class="img-responsive img-thumbnail" src="images/content/about/3.jpg"/>
        </div>
    </div>
</div>