<div class="content-b" ng-show="lang == 1">

    <div class="row" style="margin-bottom: 10px">
        <div class="col-md-5">
            <h1 style="margin-bottom: 0">{{projects}}</h1>
        </div>
        <div class="col-md-2 text-right" style="padding-top: 5px">
            <a class="btn btn-primary" href="#/projects">
                <span class="glyphicon glyphicon-arrow-left" style="vertical-align: top"></span>
                <span style="vertical-align: top">ВЕРНУТЬСЯ</span>
            </a>
        </div>
    </div>

    <div class="row" style="margin-bottom: 0">
        <div class="col-md-8">
            <h2>
                Разработка Шапшинской группы месторождений в Ханты-Мансийском автономном округе
            </h2>

            <p>
                Шапшинская группа месторождений (3 месторождения) расположена в Ханты-Мансийском автономном округе. Разработку группы «РуссНефть»
                начала с «нуля».
            </p>

            <h3>Этапы разработки месторождений Группы:</h3>

            <ul>
                <li>
                    2004 - 2005 гг. – построены основные объекты инженерной инфраструктуры, которые позволили вплотную подойти к промышленной
                    эксплуатации.
                </li>
                <li>
                    2006 - 2009 гг. – поэтапный ввод в эксплуатацию всех месторождений Шапшинской группы.
                </li>
                <li>
                    2010 г. – введено 45 новых скважин; выполнено 11 геолого-технических мероприятий, включая 5 гидроразрывов пласта. Объем добычи
                    составил 1, 386 млн. тонн.
                </li>
                <li>
                    2011 г. – введено в эксплуатацию 55 новых скважин, в том числе 12 с горизонтальным окончанием; объем добычи достиг 1,430 млн. тонн
                    нефти.
                </li>
                <li>
                    2012 г. – общий объем добычи на Шапшинской группе месторождений составил 1,514 млн. тонн нефти. Эксплуатационный фонд вырос;
                    введено в эксплуатацию 32 новых
                    скважины. Прирост добычи от ввода новых скважин составил 125 тыс.тонн.
                </li>
                <li>
                    2013 год. «Русснефть» продолжила реализацию программ бурения и развития инженерной инфраструктуры Шапшинской группы. Введено 43
                    новых скважины, из них 37 –
                    добывающие. Прирост добычи от ввода новых скважин составил 296 тыс. тонн.
                </li>
            </ul>
        </div>
        <div class="col-md-4" style="padding-top: 30px">
            <img class="img-responsive img-thumbnail" src="images/content/about/2.jpg"/>
        </div>
    </div>


</div>


<div class="content-b" ng-show="lang == 2">

    <div class="row" style="margin-bottom: 10px">
        <div class="col-md-5">
            <h1 style="margin-bottom: 0">{{projects}}</h1>
        </div>
        <div class="col-md-2 text-right" style="padding-top: 5px">
            <a class="btn btn-primary" href="#/projects">
                <span class="glyphicon glyphicon-arrow-left" style="vertical-align: top"></span>
                <span style="vertical-align: top">BACK</span>
            </a>
        </div>
    </div>

    <div class="row" style="margin-bottom: 0">
        <div class="col-md-8">
            <h2>
                Development of Shapshinskaya group of oilfields in Khanty-Mansiysk Autonomous Okrug
            </h2>

            <p>
                Shapshinskaya group of oilfields (3 oilfields) is located in Khanty-Mansiysk Autonomous Okrug. Its development was started by the
                Company from scratch.
            </p>
            

            <h3>Phases of development of the Group fields:</h3>
            <ul>
                <li>
                    2004-2005 – During this time there were built the main facilities of engineering infrastructure which permitted to come close to
                    commercial exploitation.
                </li>
                <li>
                    2006-2009 – All fields were brought into exploitation step by step.
                </li>
                <li>
                    In 2010 – there were drilled more 45 wells, carried out 11 GEO, Including 5 hydraulic fractures of geological horizons. Oil
                    production volume amounted to 1,386
                    million tons.
                </li>
                <li>
                    2011 – 55 new wells put in operation, among them 12 horizontal wells, oil production volume amounted to 1, 430 mln.tons.
                </li>
                <li>
                    2012 – the total production output at Shapshinskaya group in 2012 amounted to 1.514 million tons. Operating well stock grew, 32
                    new wells were put into
                    operation. Production gain resulted from the new wells commissioning amounted to 125 thousand tons.
                </li>
                <li>
                    2013 – RussNeft continued drilling programs implementation as well as engineering infrastructure development of the group. 43 new
                    wells were launched, among
                    which: 37 wells are production wells. Production growth amounted to 296 thousand tons as a result of new wells start-up.
                </li>
            </ul>
        </div>
        <div class="col-md-4" style="padding-top: 30px">
            <img class="img-responsive img-thumbnail" src="images/content/about/2.jpg"/>
        </div>
    </div>
</div>