<div class="content-b" ng-show="lang == 1">
    <h1>{{social}}</h1>

    <div class="row" style="margin-bottom: 15px">
        <div class="col-md-12">
            <p>
                Группа Компаний «РуссНефть» придерживается принципа ответственного отношения бизнеса к обществу.
                Компания стремится всецело способствовать развитию экономики регионов и росту благосостояния их жителей.
                Холдинг направляет весомые налоговые платежи в местные бюджеты, создает новые рабочие места, реализует масштабные социальные программы
                на основе соглашений с администрациями субъектов Федерации.
            </p>
            <h4>В числе наиболее ярких социальных и благотворительных проектов:</h4>
        </div>
    </div>
    <div class="row" style="margin-bottom: 35px">
        <div class="col-md-3">
            <a href="#/social/1">
                <img class="img-responsive img-thumbnail" src="images/content/social/111.jpg"/>
            </a>
        </div>
        <div class="col-md-2 fs20" style="padding-top: 70px">
            <a href="#/social/1">Образование</a>
        </div>
        <div class="col-md-3">
            <a href="#/social/2">
                <img class="img-responsive img-thumbnail" src="images/content/social/2.jpg"/>
            </a>
        </div>
        <div class="col-md-2 fs20" style="padding-top: 70px">
            <a href="#/social/2">Спорт</a>
        </div>
    </div>
    <div class="row" style="margin-bottom: 0">
        <div class="col-md-3">
            <a href="#/social/3">
                <img class="img-responsive img-thumbnail" src="images/content/social/3.jpg"/>
            </a>
        </div>
        <div class="col-md-2 fs20" style="padding-top: 70px">
            <a href="#/social/3">Здравоохранение</a>
        </div>
        <div class="col-md-3">
            <a href="#/social/4">
                <img class="img-responsive img-thumbnail" src="images/content/social/4.jpg"/>
            </a>
        </div>
        <div class="col-md-2 fs20" style="padding-top: 70px">
            <a href="#/social/4">Культура</a>
        </div>
    </div>
</div>

<div class="content-b" ng-show="lang == 2">
    <h1>{{social}}</h1>

    <div class="row" style="margin-bottom: 15px">
        <div class="col-md-12">
            <p>
                RussNeft Group adheres to the principle of responsible attitude of business to the society. The Group aims to promote development of
                the economy of the regions and growth of their residents’ well-being in every possible way. The holding assigns substantial tax
                payments to local budgets, creates new jobs, implements large-scale social programs on the basis of agreements with administrations of
                constituent entities of the Federation.
            </p>
            <h4>The most significant social and charity projects are the following:</h4>
        </div>
    </div>
    <div class="row" style="margin-bottom: 35px">
        <div class="col-md-3">
            <a href="#/social/1">
                <img class="img-responsive img-thumbnail" src="images/content/social/111.jpg"/>
            </a>
        </div>
        <div class="col-md-2 fs20" style="padding-top: 70px">
            <a href="#/social/1">Education</a>
        </div>
        <div class="col-md-3">
            <a href="#/social/2">
                <img class="img-responsive img-thumbnail" src="images/content/social/2.jpg"/>
            </a>
        </div>
        <div class="col-md-2 fs20" style="padding-top: 70px">
            <a href="#/social/2">Sports</a>
        </div>
    </div>
    <div class="row" style="margin-bottom: 0">
        <div class="col-md-3">
            <a href="#/social/3">
                <img class="img-responsive img-thumbnail" src="images/content/social/3.jpg"/>
            </a>
        </div>
        <div class="col-md-2 fs20" style="padding-top: 70px">
            <a href="#/social/3">Healthcare</a>
        </div>
        <div class="col-md-3">
            <a href="#/social/4">
                <img class="img-responsive img-thumbnail" src="images/content/social/4.jpg"/>
            </a>
        </div>
        <div class="col-md-2 fs20" style="padding-top: 70px">
            <a href="#/social/4">Culture</a>
        </div>
    </div>
</div>