<div class="content-b" ng-show="lang == 1">
    <div class="row" style="margin-bottom: 10px">
        <div class="col-md-5">
            <h1 style="margin-bottom: 0">{{social}}</h1>
        </div>
        <div class="col-md-2 text-right" style="padding-top: 5px">
            <a class="btn btn-primary" href="#/social">
                <span class="glyphicon glyphicon-arrow-left" style="vertical-align: top"></span>
                <span style="vertical-align: top">ВЕРНУТЬСЯ</span>
            </a>
        </div>
    </div>

    <h2>Спорт</h2>

    <div class="row" style="margin-bottom: 0">
        <div class="col-md-4">
            <img class="img-responsive img-thumbnail" src="images/content/social/2.jpg"/>

            <div class="text-center img-annotate">
                На снимке: В 2014 году Группа Компаний «РуссНефть» передала в дар детско-юношескому футбольному клубу «Нефтяник» (р.п. Новоспасское) автобус.
                Благодаря этому подарку удастся найти решение проблемы специализированного транспорта для перевозок юных спортсменов.
            </div>
        </div>
        <div class="col-md-8">
            <p>
                Поддержка массового спорта, пропаганда здорового образа жизни – приоритетные направления социальной политики Группы Компаний «РуссНефть». При
                поддержке «РуссНефти» проходят детские и юношеские соревнования по лыжам, хоккею, дзюдо, каратэ в Саратовской, Ульяновской
                областях. Группа оказывает содействие развитию детско-юношеского футбольного клуба «Нефтяник» в Ульяновской области и детской
                спортивной школы «БелкамМотоспорт» в Удмуртии. В Саратовской области на средства «РуссНефти» приобретается спортивный инвентарь для
                подростковых детских клубов.
            </p>

            <p>
                Традицией стали проводимые при поддержке Группы городские спортивные праздники в регионах действия предприятий холдинга. Они
                собирают целые семьи и становятся памятным событием для всех участников.
            </p>

            <p>
                Также «РуссНефть» оказывает помощь Всероссийской Федерации гребли на байдарках и каноэ в организации проведения учебно-тренировочных
                сборов, а так же спортивному обществу "Динамо".
            </p>
        </div>
    </div>
    <div class="row" style="margin-bottom: 0">
        <div class="col-md-4">
            <img class="img-responsive img-thumbnail" src="images/content/social/sport-1.jpg"/>

            <div class="text-center img-annotate">
                На снимке: Воспитанники детско-юношеского футбольного клуба «Нефтяник» в Ульяновской области
            </div>
        </div>
        <div class="col-md-4 text-center">
            <img class="img-responsive img-thumbnail" src="images/content/social/sport-2.jpg"/>

            <div class="img-annotate">
                На снимке: Соревнования в детской спортивной<br>школе «БелкамМотоспорт» в Удмуртии.
            </div>
        </div>
        <div class="col-md-4">
            <img class="img-responsive img-thumbnail" src="images/content/social/sport-3.jpg"/>

            <div class="text-center img-annotate">
                На снимке: Воспитанники детско-юношеского футбольного клуба «Нефтяник» в Ульяновской области
            </div>
        </div>
    </div>
</div>


<div class="content-b" ng-show="lang == 2">
    <div class="row" style="margin-bottom: 10px">
        <div class="col-md-5">
            <h1 style="margin-bottom: 0">{{social}}</h1>
        </div>
        <div class="col-md-2 text-right" style="padding-top: 5px">
            <a class="btn btn-primary" href="#/social">
                <span class="glyphicon glyphicon-arrow-left" style="vertical-align: top"></span>
                <span style="vertical-align: top">BACK</span>
            </a>
        </div>
    </div>
    <h2>Sport</h2>

    <div class="row" style="margin-bottom: 0">
        <div class="col-md-4">
            <img class="img-responsive img-thumbnail" src="images/content/social/2.jpg"/>

            <div class="text-center img-annotate">
                Photo: RussNeft Group granted the bus to the Junior Football club Neftyanik (Novospasskoe district) in 2014. This bus will solve the transportation problems for
                junior sportsmen.
            </div>
        </div>
        <div class="col-md-8">
            <p> Support of the mass sport, promotion of the healthy life style are the priorities of the social policy of RussNeft Group. RussNeft sponsors children and youth
                competitions in skiing, hockey, judo, karate in Saratov and Ulyanovsk regions. RussNeft Group contributes to the development of FC Neftyanik in Ulyanovsk region and
                BelkamMotosport, children sports school in Udmurtia. RussNeft Group sponsors purchasing of sports equipment for junior and children clubs in Saratov region.
            </p>

            <p>Municipal sports festivals with support of RussNeft Group have become traditional in the regions of operation of the holding’s assets, gathering entire families and
               being unforgettable for all the participants.
            </p>

            <p>RussNeft Group also supports Russian Rowing and Canoeing Federation to hold training sessions, and sports society Dinamo.
            </p>
        </div>
    </div>
    <div class="row" style="margin-bottom: 0">
        <div class="col-md-4">
            <img class="img-responsive img-thumbnail" src="images/content/social/sport-1.jpg"/>

            <div class="text-center img-annotate">
                Photo: Members of the junior FC Neftyanik in Ulyanovsk region.
            </div>
        </div>
        <div class="col-md-4 text-center">
            <img class="img-responsive img-thumbnail" src="images/content/social/sport-2.jpg"/>

            <div class="img-annotate">
                Photo: Competition of junior sports school <br>BelkamMotosport in Udmurtia
            </div>
        </div>
        <div class="col-md-4">
            <img class="img-responsive img-thumbnail" src="images/content/social/sport-3.jpg"/>

            <div class="text-center img-annotate">
                Photo: Members of the junior FC Neftyanik in Ulyanovsk region.
            </div>
        </div>
    </div>
</div>