<div class="content-b" ng-show="lang == 1">
    <div class="row" style="margin-bottom: 10px">
        <div class="col-md-5">
            <h1 style="margin-bottom: 0">{{social}}</h1>
        </div>
        <div class="col-md-2 text-right" style="padding-top: 5px">
            <a class="btn btn-primary" href="#/social">
                <span class="glyphicon glyphicon-arrow-left" style="vertical-align: top"></span>
                <span style="vertical-align: top">ВЕРНУТЬСЯ</span>
            </a>
        </div>
    </div>

    <h2>Здравоохранение</h2>

    <div class="row" style="margin-bottom: 0">
        <div class="col-md-6">
            <p>
                Группа Компаний «РуссНефть» уделяет большое внимание реализации благотворительных проектов в сфере медицины и здравоохранения. При
                финансовой поддержке
                «РуссНефти» в регионах действия предприятий холдинга приобретается необходимое медицинское оборудование, оказывается помощь в
                строительстве объектов здравоохранения, осуществляется ремонт районных и поселковых больниц. На личные средства Президента
                Группа Компаний «РуссНефть» Михаила Гуцериева в Саратовской области для областного врачебно-физкультурного диспансера и детской
                поликлиники г.Балаково были приобретены два передвижных медицинских центра «Мобильный центр здоровья»; в Удмуртии – 10 современных
                реанимационных автомобилей для медицинский учреждений «Скорой помощи».
            </p>
        </div>
        <div class="col-md-3">
            <img class="img-responsive img-thumbnail" src="images/content/social/z-1.jpg"/>

            <div class="text-center img-annotate">
                На фото: передвижной медицинский центр «Мобильный центр здоровья».
            </div>
        </div>
        <div class="col-md-3">
            <img class="img-responsive img-thumbnail" src="images/content/social/z-2.jpg"/>

            <div class="text-center img-annotate">
                На фото: один из автомобилей «Скорой помощи», приобретенных на личные средства главы «РуссНефти» Михаила Гуцериева для медицинских
                учреждений Удмуртии.
            </div>
        </div>

    </div>
    <div class="row" style="margin-bottom: 0">
        <div class="col-md-9">
            <p>
                Долгосрочные партнерские отношения связывают Группу Компаний и Научный центр сердечно-сосудистой хирургии им.А.Н.Бакулева. Группа
                оказала содействие в проведении капитального ремонта и оснащении уникальной аппаратурой ведущего подразделения центра – отделения
                неинвазивной аритмологии. Поддержка нефтяной компании позволила сохранить высококвалифицированный врачебный коллектив, увеличить объем
                и качество медицинской помощи пациентам.
            </p>

            <div class="row" style="margin-bottom: 0">
                <div class="col-md-6">
                    <img class="img-responsive img-thumbnail" src="images/content/social/z-3.jpg"/>

                    <div class="text-center img-annotate">
                        На фото: Научный центр сердечно-сосудистой хирургии им. А.Н.Бакулева
                    </div>
                </div>
                <div class="col-md-6 text-center">
                    <img class="img-responsive img-thumbnail" src="images/content/social/z-5.jpg"/>

                    <div class="text-center img-annotate">
                        На фото: Научный центр сердечно-сосудистой хирургии им. А.Н.Бакулева. Во время операции.
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <img class="img-responsive img-thumbnail" src="images/content/social/z-4.jpg"/>

            <div class="text-center img-annotate">
                На фото: директор Научного центра сердечно-сосудистой хирургии им. А.Н.Бакулева Лео Бокерия.
            </div>
        </div>
    </div>
</div>


<div class="content-b" ng-show="lang == 2">
    <div class="row" style="margin-bottom: 10px">
        <div class="col-md-5">
            <h1 style="margin-bottom: 0">{{social}}</h1>
        </div>
        <div class="col-md-2 text-right" style="padding-top: 5px">
            <a class="btn btn-primary" href="#/social">
                <span class="glyphicon glyphicon-arrow-left" style="vertical-align: top"></span>
                <span style="vertical-align: top">BACK</span>
            </a>
        </div>
    </div>

    <h2>Healthcare</h2>

    <div class="row" style="margin-bottom: 0">
        <div class="col-md-6">
            <p>
                RussNeft Group devotes much attention to implementation of charitable projects in the sphere of healthcare. RussNeft finances purchase
                of necessary medical equipment, construction of healthcare facilities, renovation of hospitals in villages and settlements within the
                regions of operation of the holding. The president of RussNeft Group Mikhail Gutseriev assigned his personal funds for purchasing two mobile
                healthcare centers for the regional medical exercise dispensary. He also allocated his funds to the ambulatory pediatric clinic of
                Balakovo in Saratov Region as well as to purchase of 10 reanimation ambulances for the Emergency Aid Departments in Udmurtia.
            </p>
        </div>
        <div class="col-md-3">
            <img class="img-responsive img-thumbnail" src="images/content/social/z-1.jpg"/>

            <div class="text-center img-annotate">
                Photo: a mobile healthcare center.
            </div>
        </div>
        <div class="col-md-3">
            <img class="img-responsive img-thumbnail" src="images/content/social/z-2.jpg"/>

            <div class="text-center img-annotate">
                Photo: one of the ambulances acquired for the personal funds of RussNeft Group President Mikhail Gutseriev for medical facilities in
                Udmurtia.
            </div>
        </div>

    </div>
    <div class="row" style="margin-bottom: 0">
        <div class="col-md-9">
            <p>
                RussNeft Group maintains long-term partner relations with Cardiovascuar Surgery Scientific Center named after A.N.Bakulev. The Company
                sponsored major overhaul and acquisition of unique equipment for Noninvasive Arhythmology Division, the leading division of the
                Center. The support offered by the oil company enabled the Center to retain highly-qualified medical staff, to increase quality of
                medical care and to admit more patients.
            </p>

            <div class="row" style="margin-bottom: 0">
                <div class="col-md-6">
                    <img class="img-responsive img-thumbnail" src="images/content/social/z-3.jpg"/>

                    <div class="text-center img-annotate">
                        Photo: Cardiovascuar Surgery Scientific Center named after A.N.Bakulev.
                    </div>
                </div>
                <div class="col-md-6 text-center">
                    <img class="img-responsive img-thumbnail" src="images/content/social/z-5.jpg"/>

                    <div class="text-center img-annotate">
                        Photo: Cardiovascuar Surgery Scientific Center named after<br>A.N.Bakulev. Operation in progress.
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <img class="img-responsive img-thumbnail" src="images/content/social/z-4.jpg"/>

            <div class="text-center img-annotate">
                Photo: Director of the Cardiovascuar Surgery Scientific Center named after A.N.Bakulev, Leo Bokeria.
            </div>
        </div>
    </div>

</div>