<div class="content-b" ng-show="lang == 1">
    <div class="row" style="margin-bottom: 10px">
        <div class="col-md-5">
            <h1 style="margin-bottom: 0">{{social}}</h1>
        </div>
        <div class="col-md-2 text-right" style="padding-top: 5px">
            <a class="btn btn-primary" href="#/social/1">
                <span class="glyphicon glyphicon-arrow-left" style="vertical-align: top"></span>
                <span style="vertical-align: top">ВЕРНУТЬСЯ</span>
            </a>
        </div>
    </div>

    <h2>Cовместный образовательный проект с МГТУ им.Н.Э.Баумана</h2>

    <div class="row" style="margin-bottom: 0">
        <div class="col-md-8">
            <p>
                «РуссНефть» является пионером реализации важнейшего для России проекта – возвращения известных российских ученых из-за рубежа и
                создания оптимальных условий для их
                плодотворной работы на родине. Компания оказывает всемерное содействие в реализации инновационных научных исследований в различных
                областях науки и техники.
            </p>

            <p>
                Совместно с МГТУ им.Н.Э.Баумана разработана и реализуется специальная 3-х летняя программа создания в России научно-инженерной школы
                мирового уровня в области
                оптоэлектроники (2011-2013 г.г).
            </p>

            <p>
                В 2012 году на базе МГТУ им.Н.Э.Баумана был открыт Научно-образовательный центр «Фотоники и ИК техники», который объединяет 5
                научно-исследовательских лабораторий.
                Их научными руководителями являются ведущие отечественные и зарубежные ученые.
            </p>

            <p>
                Партнерами проекта стали крупнейшие зарубежные университеты. Группа Компаний «РуссНефть» полностью финансирует строительство и ремонт
                помещений, приобретение и монтаж
                научного оборудования, оргтехники, оплату труда персонала.
            </p>

            <p>
                10 апреля 2013 года в МГТУ прошло торжественное открытие Центра плазменных исследований и технологий - уникального
                научно-образовательного и инжинирингового
                комплекса, не имеющего аналогов в России. Он объединяет три лаборатории: «Пылевая плазма», «Технология плазменных покрытий и
                источников плазмы», «Новые материалы».
                В ближайшем будущем ожидается открытие новых лабораторий для проведения исследований в области коллоидной физики, плазменной медицины
                и космических исследований.
            </p>

            <p>
                Площадь, занимаемая Центром, составляет 657 м², строительство и оснащение производилось при софинансировании Группа Компаний «РуссНефть».
                Руководитель - директор Мюнхенского
                Института Внеземной Физики общества имени Макса Планка Грегор Морфилл.
            </p>

            <p>
                В настоящее время в Центре работает 25 научных сотрудников, которые представляют МГТУ им. Н.Э. Баумана, Институт Внеземной Физики
                (ИВФ) общества Макса Планка
                (Мюнхен, Германия), Объединённый Институт Высоких Температур (ОИВТ) РАН. К деятельности Центра привлекаются молодые специалисты,
                аспиранты и студенты Бауманского
                университета.
            </p>
        </div>
        <div class="col-md-4 text-center">
            <img class="img-thumbnail" src="images/content/social/obr3-2.jpg"/>

            <div class="text-center img-annotate">
                На фото: МГТУ им.Н.Э.Баумана.
            </div>
            <img class="img-thumbnail" src="images/content/social/obr3-1.jpg"/>

            <div class="text-center img-annotate">
                На фото: председатель правительства РФ Д.Медведев, президент НК «РуссНефть» М.Гуцериев, ректор МГТУ им.Н.Э.Баумана А.Александров во
                время открытия
                Научно-образовательного центра «Фотоники и ИК техники»
            </div>
            <img class="img-thumbnail" src="images/content/social/obr3-3.jpg"/>

            <div class="text-center img-annotate" style="margin-bottom: 0">
                На фото: Во время открытия Центра плазменных исследований и технологий.
            </div>
        </div>
    </div>

</div>


<div class="content-b" ng-show="lang == 2">
    <div class="row" style="margin-bottom: 10px">
        <div class="col-md-5">
            <h1 style="margin-bottom: 0">{{social}}</h1>
        </div>
        <div class="col-md-2 text-right" style="padding-top: 5px">
            <a class="btn btn-primary" href="#/social/1">
                <span class="glyphicon glyphicon-arrow-left" style="vertical-align: top"></span>
                <span style="vertical-align: top">BACK</span>
            </a>
        </div>
    </div>

    <h2>Joint educational project with the Moscow State Technical University named after N.E.Bauman</h2>

    <div class="row" style="margin-bottom: 0">
        <div class="col-md-8">
            <p>
                RussNeft is a pioneer in the realization of a project crucial for Russia – the return of famous Russian scientists from abroad and
                creation of optimal conditions for their fruitful work in their home country. The Company provides all possible assistance in the
                realization of innovative scientific research works in various fields of science and technology.
            </p>
            <p>
                In cooperation with MSTU named after N.E. Bauman the Group drew up and is implementing a special 3-year program of creating a
                world-class scientific engineering school in the field of optical electronics in Russia (2011-2013).
            </p>
            <p>
                In 2012 the “Photonic and IR-technic Scientific and Educational Center” based on MSTU named after N.E. Bauman started working. It
                incorporates 5 research & development laboratories headed by leading national and international scientists.
            </p>
            <p>
                The project is partnered by major foreign universities. OAO NK RussNeft provides full funding for the construction and repair of
                premises, purchase and installation of research and office equipment, personnel salary.
            </p>
            <p>
                On April 10, 2013 MSTU witnessed the triumphant ceremony of opening of Plasma Research and Technology Center - a unique scientific,
                educational and engineering complex having no analogues in Russia. It incorporates three laboratories: “Dusty Plasma”, “ Technology of
                plasma coatings and plasma sources”, “New materials”. In the near future new laboratories for research in the field of colloid
                physics, plasma medicine and space research will be opened.
            </p>
            <p>
                The Center occupies the area of 657 m², its construction and equipment was co-financed by OAO NK RussNeft. The Center will be headed
                by the Director of Munich Max Plank Society Extraterrestrial Physics Institute, Gregor Morfill.
            </p>
            <p>
                At present the staff of the Center number 25 scientists, representing the MSTU named after N.E.Bauman, the Max Plank Society
                Extraterrestrial Physics Institute (Munich, Germany), the United High Temperatures Institute at the Russian Academy of Sciences. Young
                specialists, post-graduates and students of the Bauman University are expected to work at the Center.
            </p>
        </div>
        <div class="col-md-4 text-center">
            <img class="img-thumbnail" src="images/content/social/obr3-2.jpg"/>

            <div class="text-center img-annotate">
                Photo: Moscow State Technical University named after N.E.Bauman
            </div>
            <img class="img-thumbnail" src="images/content/social/obr3-1.jpg"/>

            <div class="text-center img-annotate">
                Photo: Chairman of the Government of the RF D. Medvedev, president of OAO NK RussNeft M.Gutseriev , rector of the MSTU named after
                N.E.Bauman A.Aleksandrov at the opening of the “Photonic and IR-technic Scientific and Educational Center”
            </div>
            <img class="img-thumbnail" src="images/content/social/obr3-3.jpg"/>

            <div class="text-center img-annotate" style="margin-bottom: 0">
                Photo: Opening of Plasma Research and Technology Center
            </div>
        </div>
    </div>

</div>