<div class="content-b" ng-show="lang == 1">
    <div class="row" style="margin-bottom: 10px">
        <div class="col-md-5">
            <h1 style="margin-bottom: 0">{{social}}</h1>
        </div>
        <div class="col-md-2 text-right" style="padding-top: 5px">
            <a class="btn btn-primary" href="#/social">
                <span class="glyphicon glyphicon-arrow-left" style="vertical-align: top"></span>
                <span style="vertical-align: top">ВЕРНУТЬСЯ</span>
            </a>
        </div>
    </div>
    <h2>Культура</h2>

    <div class="row" style="margin-bottom: 0">
        <div class="col-md-6">
            <p>
                Поддержка культуры является важной составляющей социальной политики Группы Компаний «РуссНефть». Холдинг оказывает поддержку проведению
                общественно-значимых мероприятий, реализации ярких творческих проектов и программ в области искусства и духовного просвещения. Группа
                содействует возрождению и развитию национальных и этнических традиций России. «Русснефть» является традиционным спонсором
                проведения крупных региональных фестивалей и праздников, в том числе – «Года Мариинского театра в Югре», кинофестиваля «Дух огня»,
                телекинофорума «Вместе», культурно-экологической акции «Спасти и сохранить» и других.
            </p>
        </div>
        <div class="col-md-3">
            <img class="img-responsive img-thumbnail" src="images/content/social/kult-1.jpg"/>

            <div class="text-center img-annotate">
                На снимке: Саратовская государственная консерватория имени Л.В. Собинова
            </div>
        </div>
        <div class="col-md-3">
            <img class="img-responsive img-thumbnail" src="images/content/social/kult-2.jpg"/>

            <div class="text-center img-annotate">
                На снимке: Воспитанники школы для одаренных детей при Саратовской государственной консерватории имени Л.В. Собинова
            </div>
        </div>
    </div>
    <div class="row" style="margin-bottom: 0">
        <div class="col-md-6">
            <img class="img-responsive img-thumbnail" src="images/content/social/kult-4.jpg"/>

            <div class="text-center img-annotate">
                На снимке: Д.Мацуев и В.Гергиев. Во время концерта.
            </div>
        </div>
        <div class="col-md-6">
            <p>
                Ежегодно при поддержке «РуссНефти» в рамках Международного фестиваля Мстислава Ростроповича в Саратове проводятся концерты
                симфонического оркестра Саратовской областной филармонии им. Шнитке. Давние партнерские отношения связывают «РуссНефть» и
                Мариинский театр.
            </p>

            <p>
                Кроме того, холдинг оказывает благотворительную помощь школе для одарённых детей при Саратовской государственной консерватории
                (академии) имени Л.В. Собинова. При содействии нефтяников осуществляется приобретение музыкальных инструментов, а также оказывается
                поддержка участию маленьких пианистов, скрипачей, виолончелистов, баянистов и флейтистов в различных всероссийских и международных
                музыкальных конкурсах.
            </p>
        </div>
    </div>
    <div class="row" style="margin-bottom: 0">
        <div class="col-md-6">
            <p>
                В 2012 году в г.Вифлеем (Палестинская автономия) был торжественно открыт Российский центр науки и культуры (РЦНК), построенный по
                инициативе Императорского Православного Палестинского Общества и при поддержке Группы Компаний «РуссНефть».
            </p>

            <p>
                Строительство Культурно-делового центра в Палестине велось по благословению Святейшего Патриарха Московского и всея Руси Кирилла.
                Просторный современный комплекс был в короткие сроки возведен на земельном участке площадью 1 га.
            </p>

            <p>
                На трех тысячах квадратных метров разместились просторная библиотека, вмещающая 3,5 тыс. томов, современный киноконцертный зал на 350
                зрителей и танцевальный зал. Также комплекс включает офисные помещения, гостиницу, подземную парковку, школу изучения русского языка.
                «РуссНефть» полностью финансировала проект и разработала проектную документацию строительства. Возведение центра придало импульс
                развитию культурного и духовного присутствия России в Святой Земле, сохранению исторических традиций и российского наследия в странах
                библейского региона.
            </p>
        </div>
        <div class="col-md-6">
            <img class="img-responsive img-thumbnail" src="images/content/social/kult-6.jpg"/>

            <div class="text-center img-annotate">
                На снимке: В 2012 году в г.Вифлеем (Палестинская автономия) был торжественно открыт Российский центр науки и культуры (РЦНК).
            </div>
        </div>
    </div>
</div>


<div class="content-b" ng-show="lang == 2">
    <div class="row" style="margin-bottom: 10px">
        <div class="col-md-5">
            <h1 style="margin-bottom: 0">{{social}}</h1>
        </div>
        <div class="col-md-2 text-right" style="padding-top: 5px">
            <a class="btn btn-primary" href="#/social">
                <span class="glyphicon glyphicon-arrow-left" style="vertical-align: top"></span>
                <span style="vertical-align: top">BACK</span>
            </a>
        </div>
    </div>
    <h2>Culture</h2>

    <div class="row" style="margin-bottom: 0">
        <div class="col-md-6">
            <p>
                Support of cultural projects is an integral part of RussNeft Group social policy. RussNeft supports socially-significant events, outstanding creative projects, arts
                programs and spiritual education programs. The holding contributes to the revival and development of national and ethnic traditions of Russia. RussNeft Group is a
                traditional sponsor of major regional festivals and public holidays, including The Year of the Mariinsky Theatre in Yugra, film festival Spirit of Fire, television
                and film forum Together, cultural and ecological action To Save and Preserve and others.
            </p>
        </div>
        <div class="col-md-3">
            <img class="img-responsive img-thumbnail" src="images/content/social/kult-1.jpg"/>

            <div class="text-center img-annotate">
                Photo: Sobinov Saratov Conservatory
            </div>
        </div>
        <div class="col-md-3">
            <img class="img-responsive img-thumbnail" src="images/content/social/kult-2.jpg"/>

            <div class="text-center img-annotate">
                Photo: Sobinov Saratov Conservatory for gifted children
            </div>
        </div>
    </div>
    <div class="row" style="margin-bottom: 0">
        <div class="col-md-6">
            <img class="img-responsive img-thumbnail" src="images/content/social/kult-4.jpg"/>

            <div class="text-center img-annotate">
                Photo: D. Matsuev and V. Gergiev during the concert.
            </div>
        </div>
        <div class="col-md-5">
            <p>
                Mstislav Rastropovich International Festival with the Concert of Symphony orchestra named after Shnitke sponsored by RussNeft Group is annually held in Saratov at
                Saratov Regional Philarmonic Society. Profound partnership links RussNeft Group and The State Academic Mariinsky theatre.
            </p>

            <p>
                RussNeft Group also donates to Sobinov Saratov Academy for the gifted children. Musical instruments are purchased with the help of oilmen. Participation of young
                pianists, cellists, bayan-players in Russian and international contests is also actively supported.
            </p>

            <p>
                Russian Center of Science and Culture was opened in Bethlehem in 2012 (The Palestinian Authority). It was built on the initiative of the Imperial Orthodox
                Palestinian Society and with the support of RussNeft Group.
            </p>
        </div>
    </div>
    <div class="row" style="margin-bottom: 0">
        <div class="col-md-6">
            <p>His Holiness Kirill, Patriarch of Moscow and Russia blessed the construction of the Cultural and Business center in Palestine. A spacious modern complex was built in
               a relatively short time with the land area of one hectare.
            </p>

            <p>The Center’s three thousand square meters space accommodates a spacious library, containing 3.5 thousand books, a modern cinema hall for 350 spectators and a dance
               hall. The complex also includes office premises, a hotel, an underground parking and Russian language school. RussNeft Group fully funded the project and developed
               the project documentation for construction.
            </p>

            <p>Construction of the Center will give impetus to the development of the cultural and spiritual presence of Russia in the Holy Land, as well as preservation of the
               historical traditions and Russian heritage in the countries of biblical region.
            </p>

        </div>
        <div class="col-md-6">
            <img class="img-responsive img-thumbnail" src="images/content/social/kult-6.jpg"/>

            <div class="text-center img-annotate">
                Photo: Russian Center of Science and Culture was opened in Bethlehem in 2012 (The Palestinian Authority).
            </div>
        </div>
    </div>
</div>