<div class="content-b" ng-show="lang == 1" style="font-size: 15px">
    <div class="row" style="margin-bottom: 10px">
        <div class="col-md-5">
            <h1 style="margin-bottom: 0">{{social}}</h1>
        </div>
        <div class="col-md-2 text-right" style="padding-top: 5px">
            <a class="btn btn-primary" href="#/social/1">
                <span class="glyphicon glyphicon-arrow-left" style="vertical-align: top"></span>
                <span style="vertical-align: top">ВЕРНУТЬСЯ</span>
            </a>
        </div>
    </div>

    <h2>Cовместный образовательный проект с МГУ им.М.В.Ломоносова</h2>

    <div class="row" style="margin-bottom: 0">
        <div class="col-md-3 text-center">
            <img class="img-thumbnail" src="images/content/social/obr1-1.jpg"/>

            <div class="text-center img-annotate">
                На фото: Торжественное вручение студенческих билетов студентам Высшей школы инновационного бизнеса
            </div>
            <img class="img-thumbnail" src="images/content/social/obr1-2.jpg"/>

            <div class="text-center img-annotate">
                Президент Группы Компаний «РуссНефть» М.Гуцериев, ректор МГУ им. М.В.Ломоносова В.Садовничий, студенты Высшей школы инновационного бизнеса.
            </div>
            <img class="img-thumbnail" src="images/content/social/obr1-3.jpg"/>

            <div class="text-center img-annotate">
                На фото: Подписание Соглашения между Группой Компаний «РуссНефть» и МГУ им.М.В.Ломоносова.
            </div>
            <img class="img-thumbnail" src="images/content/social/obr1-4.jpg"/>

            <div class="text-center img-annotate">
                На фото: Президент Группы Компаний «РуссНефть» М.Гуцериев
            </div>
        </div>
        <div class="col-md-9">
            <p>
                Старт проекту, предусматривающему создание и развитие факультета «Высшая школа инновационного бизнеса МГУ» (корпоративный
                университет), был дан в 2006 г.
            </p>

            <p>
                В ходе реализации проекта МГУ сформировал профессорско-преподавательский состав Школы, оказал содействие в разработке специальных
                программ обучения на факультете.
            </p>

            <p>
                «РуссНефть» способствовала формированию материально-технической базы факультета, в т.ч. оснащению современным
                научно-исследовательским и учебным оборудованием, приобретению современного программного обеспечения, изданию методической литературы.
            </p>

            <p>
                В рамках проекта было осуществлено два выпуска магистрантов, успешно прошедших образовательные программы Школы.
            </p>

            <p>
                2006-2008 гг. – 20 выпускников;<br/>
                2010-2012г.г. – 20 выпускников.
            </p>

            <p>
                Текущий набор учебного курса 2012-2014 гг. состоит из 23 магистрантов.
            </p>

            <p>
                Магистерские программы Высшей школы инновационного бизнеса МГУ разрабатывались специалистами Московского государственного университета
                и «РуссНефти» с учетом актуальных задач, стоящих перед нефтяными корпорациями. Инновационные образовательные программы
                ориентированы на использование
                накопленного опыта фундаментальных и прикладных исследований в Московском университете, его научно-образовательного потенциала и
                возможностей академической науки.
                Кроме того, в ходе образовательного процесса разрабатываются и внедряются принципиально новые, междисциплинарные инновационные
                программы.
            </p>
            <h4>Обучение в магистратуре ведется по направлениям и программам:</h4>
            <table class="table">
                <tr>
                    <th>
                        Направление
                    </th>
                    <th>
                        Программы
                    </th>
                </tr>
                <tr>
                    <td>
                        "Менеджмент"
                    </td>
                    <td>
                        <b>
                            "Управление природными ресурсами"
                        </b><br/>
                        Цель программы – подготовка магистров менеджмента в области управления
                        природными ресурсами, рационального природопользования, устойчивого развития
                        регионов и высокоурбанизированных территорий.
                    </td>
                </tr>
                <tr>
                    <td>
                        "Геология"
                    </td>
                    <td>
                        <b>
                            "Геолого-геофизические исследования нефтяных и газовых месторождений"
                        </b><br/>
                        В рамках программ по направлению "Геология" магистранты получают базовые знания в области геолого-геофизических и
                        инженерно-геологических исследований
                        месторождений нефти и газа, лицензирования ресурсных объектов, экологической безопасности, прогнозирования и мониторинга
                        эксплуатации месторождений,
                        менеджмента в инновационной сфере и в области геологических изысканий и др.
                    </td>
                </tr>
                <tr>
                    <td>
                        "Химия"
                    </td>
                    <td>
                        <b>
                            "Химическая переработка углеводородного сырья".
                        </b><br/>
                        Цель программы – подготовка специалистов в области переработки нефти, нефтехимии и газохимии, обладающих широким кругозором в
                        указанных областях с учетом
                        новых экологических и технологических требований, разбирающихся в современных проблемах производства топлив, масел и продуктов
                        нефтехимии.
                    </td>
                </tr>
            </table>
            <p>
                В 2013 году в МГУ был создан Попечительский Совет, который возглавил Президент РФ Владимир Путин. Президент Группы Компаний «РуссНефть» Михаил
                Гуцериев вошел в состав Попечительского совета. На первом заседании обсуждалась программа развития вуза до 2020 года, а также создание
                на базе МГУ научно-технологического кластера «Воробьёвы горы».
            </p>
        </div>
    </div>
</div>


<div class="content-b" ng-show="lang == 2" style="font-size: 15px">
    <div class="row" style="margin-bottom: 10px">
        <div class="col-md-5">
            <h1 style="margin-bottom: 0">{{social}}</h1>
        </div>
        <div class="col-md-2 text-right" style="padding-top: 5px">
            <a class="btn btn-primary" href="#/social/1">
                <span class="glyphicon glyphicon-arrow-left" style="vertical-align: top"></span>
                <span style="vertical-align: top">BACK</span>
            </a>
        </div>
    </div>
    <h2>Joint educational project with Lomonosov Moscow State University</h2>

    <div class="row" style="margin-bottom: 0">
        <div class="col-md-3 text-center">
            <img class="img-thumbnail" src="images/content/social/obr1-1.jpg"/>

            <div class="text-center img-annotate">
                Photo: Ceremony of giving Student ID cards to the students of Graduate School of Innovative Business
            </div>
            <img class="img-thumbnail" src="images/content/social/obr1-2.jpg"/>

            <div class="text-center img-annotate">
                Photo: President of RussNeft Group of Companies M. Gutseriev and Rector Lomonosov Moscow State University V.Sadovnichy, Students of Graduate School of Innovative
                Business
            </div>
            <img class="img-thumbnail" src="images/content/social/obr1-3.jpg"/>

            <div class="text-center img-annotate">
                Photo: Signing of the Agreement between RussNeft Group of Companies and Lomonosov Moscow State University
            </div>
            <img class="img-thumbnail" src="images/content/social/obr1-4.jpg"/>

            <div class="text-center img-annotate">
                Photo: President of RussNeft Group M.Gutseriev
            </div>
        </div>
        <div class="col-md-9">


            <p>
                Graduate School of Innovative Business was set up in 2006 by MSU in cooperation with RussNeft for the training of top-ranked specialists for oil and gas industry.
                Training programs for the postgraduates include oil geology, geophysics of oil and gas fields, natural resources management, environmental engineering, expertise
                etc. In 2006 the first 20 candidates for MA degree were enlisted, 11 of them were employees of RussNeft (the Group paid for their studies) and the other 9 people
                were MSU graduates.
            </p>

            <p>The project of foundation and development of the Graduate school of innovative business at the MSU (Corporate University) was launched in 2006.
            </p>

            <p>In the course of the project implementation MSU recruited teaching staff for the Graduate School of Innovative Business, assisted in training programs development at
               the Faculty. NK RussNeft contributed to the material and technical base establishment at the Faculty, i.e. provided modern scientific-research and training
               equipment, up-to-date software, issuance of courseware.
            </p>

            <p>Within the project two MA groups who had successfully undergone educational programs graduated from the School.</p>

            <p>
                2006-2008 - 20 graduates<br>
                2010-2012 - 20 graduates
            </p>

            <p>
                The current admission for the training course of 2012-2014 counts 23 people.
            </p>

            <p>
                Degree programs of the Graduate School of Innovative Business at MSU were devised by specialists of MSU and RussNeft considering actual challenges for oil
                corporations and RussNeft in particular. Innovative educational programs are focused on using the experience of fundamental and applied researches made in MSU, its
                scientific and educational potential and modern research possibilities. Furthermore conceptually new, interdisciplinary innovative programs are being introduced in
                course of the educational process.
            </p>
            <h4>Direction and programs for MA degree:</h4>
            <table class="table">
                <tr>
                    <th>
                        Direction
                    </th>
                    <th>
                        Programs
                    </th>
                </tr>
                <tr>
                    <td>
                        "Management"
                    </td>
                    <td>
                        <b>Natural resources management</b><br/>
                        The program is aimed at MA training in the field of natural resources management, rational ecosystem exploitation, stable development of regions and highly
                        urbanized territories.
                    </td>
                </tr>
                <tr>
                    <td>
                        "Geology"
                    </td>
                    <td>
                        <b>Geological and geophysical exploration of oil and gas deposits</b><br/>
                        Within Geology program the students obtain basic knowledge in the field of geological, geophysical and engineering-geological exploration of oil and gas
                        deposits, licensing of resource objects, ecological safety, oil and gas fields exploitation forecasting and monitoring, management in the sphere of
                        innovations and in the field of geological exploration.
                    </td>
                </tr>
                <tr>
                    <td>
                        "Chemistry"
                    </td>
                    <td>
                        <b>Petrochemical processing</b><br/>
                        The purpose of the program is to train specialists in the field of oil processing, petrochemistry and gas chemistry with wide scope of knowledge in the said
                        spheres considering ecological and process requirements and current problems of fuels, oils and oil chemistry products.
                    </td>
                </tr>
            </table>
            <p>
                The Board of Trustees headed by the President Vladimir Putin was set up in 2013 in MSU. Mr. Gutseriev has taken part in it. During the first meeting were discussed
                the development programs till 2020 year and the future foundation based on MSU science-engineering cluster Vorobjevy Gory.
            </p>
        </div>
    </div>
</div>