<div class="content-b" ng-show="lang == 1">
    <div class="row" style="margin-bottom: 10px">
        <div class="col-md-5">
            <h1 style="margin-bottom: 0">{{social}}</h1>
        </div>
        <div class="col-md-2 text-right" style="padding-top: 5px">
            <a class="btn btn-primary" href="#/social">
                <span class="glyphicon glyphicon-arrow-left" style="vertical-align: top"></span>
                <span style="vertical-align: top">ВЕРНУТЬСЯ</span>
            </a>
        </div>
    </div>
    <h2>Образовательные проекты Группы Компаний «РуссНефть»</h2>

    <p>
        «РуссНефть» сотрудничает с Московским государственным университетом им. Ломоносова, Российским государственным университетом нефти и газа
        им.Губкина, Тюменским нефтегазовым
        университетом, Уфимским государственным техническим нефтяным университетом, Ульяновским государственным университетом. В соответствии с
        ежегодной потребностью предприятий в
        молодых специалистах заключаются договоры на подготовку специалистов с высшим профессиональным образованием для последующей работы на
        предприятиях холдинга.
    </p>

    <p>
        <a href="#/social/1/1" style="display: inline-block;vertical-align:top">
            <img class="img-responsive img-thumbnail" src="images/content/social/obr1.jpg"/>
        </a>
        <a href="#/social/1/1" style="display: inline-block;vertical-align:top;padding: 20px 0 0 10px" class="fs20">
            Совместный проект в сфере образования с МГУ им. Ломоносова
        </a>
    </p>

    <p>
        <a href="#/social/1/2" style="display: inline-block;vertical-align:top">
            <img class="img-responsive img-thumbnail" src="images/content/social/obr2.jpg"/>
        </a>
        <a href="#/social/1/2" style="display: inline-block;vertical-align:top;padding: 20px 0 0 10px" class="fs20">
            Совместный проект в сфере образования с РГУ нефти и газа им.Губкина
        </a>
    </p>

    <p>
        <a href="#/social/1/4" style="display: inline-block;vertical-align:top">
            <img class="img-responsive img-thumbnail" src="images/content/social/obr4.jpg"/>
        </a>
        <a href="#/social/1/4" style="display: inline-block;vertical-align:top;padding: 20px 0 0 10px" class="fs20">
            Совместный образовательный проект с Институтом нефти и газа Удмуртского государственного университета
        </a>
    </p>

</div>


<div class="content-b" ng-show="lang == 2">
    <div class="row" style="margin-bottom: 10px">
        <div class="col-md-5">
            <h1 style="margin-bottom: 0">{{social}}</h1>
        </div>
        <div class="col-md-2 text-right" style="padding-top: 5px">
            <a class="btn btn-primary" href="#/social">
                <span class="glyphicon glyphicon-arrow-left" style="vertical-align: top"></span>
                <span style="vertical-align: top">BACK</span>
            </a>
        </div>
    </div>

    <h2>Educational projects of NK RussNeft</h2>

    <p>
        RussNeft cooperates with Lomonosov Moscow State University, Gubkin Russian State Oil and Gas University, Tyumen Oil and Gas University, Ufa
        State Technical Oil University, Ulyanovsk State University. The Company makes contracts for training of specialists with higher professional
        education for further work at the enterprises of the holding in conformity with annual demand for young professionals.
    </p>

    <p>
        <a href="#/social/1/1" style="display: inline-block;vertical-align:top">
            <img class="img-responsive img-thumbnail" src="images/content/social/obr1.jpg"/>
        </a>
        <a href="#/social/1/1" style="display: inline-block;vertical-align:top;padding: 20px 0 0 10px" class="fs20">
            Joint educational project with Lomonosov Moscow State University
        </a>
    </p>

    <p>
        <a href="#/social/1/2" style="display: inline-block;vertical-align:top">
            <img class="img-responsive img-thumbnail" src="images/content/social/obr2.jpg"/>
        </a>
        <a href="#/social/1/2" style="display: inline-block;vertical-align:top;padding: 20px 0 0 10px" class="fs20">
            Joint educational project with the Gubkin Russian State Oil and Gas University
        </a>
    </p>

    <p>
        <a href="#/social/1/4" style="display: inline-block;vertical-align:top">
            <img class="img-responsive img-thumbnail" src="images/content/social/obr4.jpg"/>
        </a>
        <a href="#/social/1/4" style="display: inline-block;vertical-align:top;padding: 20px 0 0 10px" class="fs20">
            Joint educational project with Udmurtia University Institute of Oil and Gas
        </a>
    </p>

</div>