<div class="content-b" ng-show="lang == 1">
    <div class="row" style="margin-bottom: 10px">
        <div class="col-md-5">
            <h1 style="margin-bottom: 0">{{social}}</h1>
        </div>
        <div class="col-md-2 text-right" style="padding-top: 5px">
            <a class="btn btn-primary" href="#/social/1">
                <span class="glyphicon glyphicon-arrow-left" style="vertical-align: top"></span>
                <span style="vertical-align: top">ВЕРНУТЬСЯ</span>
            </a>
        </div>
    </div>

    <h2>Cовместный образовательный проект с РГУ нефти и газа им.И.М.Губкина</h2>

    <div class="row" style="margin-bottom: 0">
        <div class="col-md-9">
            <p>
                Реализация совместного образовательного проекта между «РуссНефтью» и РГУ нефти и газа им.И.М.Губкина была начата в 2010 году. Его
                главной задачей стала
                подготовка будущих специалистов для нефтегазодобывающей отрасли. В рамках проекта первое региональное подготовительное отделение (РПО)
                было открыто в Саратове в
                2010 году.
            </p>

            <p>
                Основная цель программы занятий на РПО– знакомство со спецификой нефтегазовой отрасли и подготовка к сдаче ЕГЭ. Пройдя серьезную
                довузовскую подготовку и при
                условии успешной сдачи экзаменов лучшие слушатели РПО зачисляются в ряды студентов выбранных факультетов. Кроме того, руководством
                Группы Компаний «РуссНефть» планируется полное финансирование их обучения с дальнейшим трудоустройством на предприятиях холдинга.
            </p>

            <p>
                В рамках двух выездных сессий в течение учебного года (2010-2011 гг.) с ребятами занимались лучшие преподаватели вуза, все расходы на
                подготовку и обучение взяла на себя «РуссНефть». Закономерным итогом явилось поступление лучших выпускников подготовительного отделения в РГУ нефти и газа им И.
                М. Губкина.
            </p>

            <p>
                В следующем учебном году (2011-2012 гг.) проект охватил не только Поволжье, но и Западную Сибирь. На базе ОАО «Саратовнефтегаз» и в
                г.Радужном на базе ОАО
                «Варьеганнефть» состоялось открытие 2-х региональных подготовительных отделений для абитуриентов Университета. Участниками проекта
                стали более 50 старшеклассников
                из Саратовской, Ульяновской, Томской областей и Ханты-Мансийского автономного округа.
            </p>

            <p>
                В новом учебном году (2012-2013 гг.) реализация проекта была продолжена в Поволжье и Западной Сибири. В настоящее время он охватывает
                порядка 90 чел.
            </p>

            <p>
                35 выпускников РПО уже стали студентами 1 и 2 курсов РГУ нефти и газа им. И.М.Губкина.
            </p>
        </div>
        <div class="col-md-3 text-center">
            <img class="img-thumbnail" src="images/content/social/obr2-3.jpg"/>

            <div class="text-center img-annotate">
                На фото: Слушатели РПО в г.Саратов во время обучения.
            </div>
            <img class="img-thumbnail" src="images/content/social/obr2-2.jpg"/>

            <div class="text-center img-annotate">
                На фото: Президент Группы Компаний «РуссНефть» М.Гуцериев
            </div>
        </div>
    </div>

</div>


<div class="content-b" ng-show="lang == 2">
    <div class="row" style="margin-bottom: 10px">
        <div class="col-md-5">
            <h1 style="margin-bottom: 0">{{social}}</h1>
        </div>
        <div class="col-md-2 text-right" style="padding-top: 5px">
            <a class="btn btn-primary" href="#/social/1">
                <span class="glyphicon glyphicon-arrow-left" style="vertical-align: top"></span>
                <span style="vertical-align: top">BACK</span>
            </a>
        </div>
    </div>

    <h2>Joint educational project with Gubkin Russian State Oil and Gas University</h2>

    <div class="row" style="margin-bottom: 0">
        <div class="col-md-9">


            <p>Implementation of the joint educational project between RussNeft Group and Gubkin Russian State Oil and Gas University started in 2010. Its main purpose was to
               prepare future professionals for oil and gas industry. The Regional Preparation Department (RPD) was opened in Saratov in 2010.
            </p>

            <p>The main purpose of studies at the RPD is to acquaint the future students with the specificity of oil and gas industry and to prepare them for State Exams. After
               serious pre-institute training and on the condition of successfully passed exams the best RPD students shall be admitted to the faculties they choose. Besides, the
               management of RussNeft is planning full financing of their education and further employment at the holding.
            </p>

            <p>During the academic year 2010-2011, within the frames of two off-site sessions the children were taught by the best university teachers, all the preparation and
               training costs were undertaken by RussNeft Group. The logical result of it was the fact that the best RPD graduates shall be matriculated to Gubkin Russian State Oil
               and Gas University.
            </p>

            <p>In the new academic year (2011-2012) the project covered not only the Volga region, but West Siberia as well. Two RPDs were opened at the base of OAO Saratovneftegas
               and in Raduzhny at the basis of OAO Varioganneft. The number of the participants of the present projects amounts to 50 students from senior school from the Saratov,
               Ulyanovsk, Tomsk regions and Khanty-Mansisk Autonomous Okrug.
            </p>

            <p>In the new academic year (2012-2013) implementation of the project in the Volga region and West Siberia is being continued. At present the number of participants of
               the project totals to 90.
            </p>

            <p>35 RPD graduates have already become students of the 1st and 2nd years of Gubkin Russian State Oil and Gas University.
            </p>
        </div>
        <div class="col-md-3 text-center">
            <img class="img-thumbnail" src="images/content/social/obr2-3.jpg"/>

            <div class="text-center img-annotate">
                Photo: RPD students in Saratov at a lesson
            </div>
            <img class="img-thumbnail" src="images/content/social/obr2-2.jpg"/>

            <div class="text-center img-annotate">
                Photo: Ceremony of giving Student ID cards to the students of Gubkin RSU of Oil and Gas
            </div>
        </div>
    </div>

</div>