<div class="content-b" ng-show="lang == 1">
    <div class="row" style="margin-bottom: 10px">
        <div class="col-md-5">
            <h1 style="margin-bottom: 0">{{social}}</h1>
        </div>
        <div class="col-md-2 text-right" style="padding-top: 5px">
            <a class="btn btn-primary" href="#/social/1">
                <span class="glyphicon glyphicon-arrow-left" style="vertical-align: top"></span>
                <span style="vertical-align: top">ВЕРНУТЬСЯ</span>
            </a>
        </div>
    </div>

    <h2>Совместный образовательный проект с Институтом нефти и газа Удмуртского государственного университета</h2>

    <div class="row" style="margin-bottom: 0;">
        <div class="col-md-6 text-center">
            <img class="img-thumbnail" src="images/content/social/obr4-1.jpg"/>

            <div class="text-center img-annotate">
                На фото: здание Института нефти и газа УдГУ, г.Ижевск.
            </div>

            <div class="row" style="margin-bottom: 15px;">
                <div class="col-md-6 text-center">
                    <img class="img-thumbnail" src="images/content/social/obr4-2.jpg"/>

                    <div class="text-center img-annotate">
                        На фото: Во время торжественного открытия корпуса Института нефти и газа.
                    </div>
                </div>
                <div class="col-md-6 text-center">
                    <img class="img-thumbnail" src="images/content/social/obr4-3.jpg"/>

                    <div class="text-center img-annotate" style="margin-bottom: 0">
                        На фото: В 2013 г. "РуссНефть" завершила строительство современного общежития для студентов Института нефти и газа УДГУ,
                        г.Ижевск.
                    </div>
                </div>
            </div>

        </div>
        <div class="col-md-6">
            <p>
                В Удмуртии при поддержке Группы Компаний «РуссНефть» были построены здания Института нефти и газа УдГУ и общежитие для студентов.
                Новый корпус Института нефти и газа был возведен всего за один год и введен в эксплуатацию в 2011 году. Событие является значимым для
                развития образовательной сферы нефтяной и газовой промышленности России. На его строительство «РуссНефть» направила 10 млн.
                долларов. Корпус рассчитан на обучение 600 студентов.
            </p>

            <p>
                Девятиэтажное здание площадью 8 тыс квадратных метров вмещает 21 научную лабораторию, 12 аудиторий. Сегодня более 100
                квалифицированных преподавателей обучают студентов нефтяным специальностям, востребованным во всем мире.
            </p>

            <p>
                А в 2013 году состоялось торжественное открытие общежития для студентов-нефтяников УдГУ. Объект также возведен на средства Группы
                Компаний «РуссНефть».
            </p>

            <p>
                Современное 9-этажное общежитие рассчитано на 300 мест. Здание расположено вблизи нефтяного института и оборудовано в соответствие со
                всеми современными требованиями комфорта. В общежитии имеются комнаты для проживания студентов, кухни, столовая, буфет, спортивный
                зал.
            </p>

            <p>
                «РуссНефть» продолжает оказывать поддержку Институту нефти и газа УдГУ. На средства холдинга для Института нефти и газа приобретается
                высокотехнологичное оборудование и специализированная литература. В дальнейшем «Русснефть» намерена привлечь к развитию этого проекта
                РГУ нефти и газа
                им.И.М.Губкина.
            </p>
        </div>
    </div>

    <p>
        Совместное формирование образовательных программ будет способствовать дальнейшему развитию научного потенциала Института нефти и газа,
        позволит ему в будущем стать крупным образовательным центром нефтяной и газовой отрасли России. За вклад в реализацию этого проекта
        руководство Республики присвоило Институту нефти и газа УдГУ имя руководителя Группы Компаний «РуссНефть».
    </p>

</div>


<div class="content-b" ng-show="lang == 2">
    <div class="row" style="margin-bottom: 10px">
        <div class="col-md-5">
            <h1 style="margin-bottom: 0">{{social}}</h1>
        </div>
        <div class="col-md-2 text-right" style="padding-top: 5px">
            <a class="btn btn-primary" href="#/social/1">
                <span class="glyphicon glyphicon-arrow-left" style="vertical-align: top"></span>
                <span style="vertical-align: top">BACK</span>
            </a>
        </div>
    </div>

    <h2>Joint educational project with Udmurtia University Institute of Oil and Gas</h2>

    <div class="row" style="margin-bottom: 0;">
        <div class="col-md-6 text-center">
            <img class="img-thumbnail" src="images/content/social/obr4-1.jpg"/>

            <div class="text-center img-annotate">
                Photo: The building of Udmurtia University Institute of Oil and Gas, Izhevsk
            </div>
        </div>
        <div class="col-md-5">
            <p>
                Udmurtia University Oil and Gas Institute building and a campus for the students were built in the Republic of Udmurtia with the
                support of RussNeft Group. The new building of the Institute of Oil and Gas was constructed within a year and put into operation in
                2011. This event is considered to be significant and important for the development of the educational sphere of the Russian oil and
                gas industry. RussNeft Group allocated $10 million to its construction. The new building admits up to 600 students. It is a 9-storey
                building, the area of which makes up 8 000 m2. It includes 21 teaching and research laboratories and 12 classrooms. More than 100
                highly –qualified lecturers teach students oil professions which are much sought after.
            </p>
        </div>
    </div>
    <div class="row" style="margin-bottom: 15px;">
        <div class="col-md-3 text-center">
            <img class="img-thumbnail" src="images/content/social/obr4-2.jpg"/>

            <div class="text-center img-annotate">
                Photo: At the opening of the building of the Institute of Oil and Gas.
            </div>
        </div>
        <div class="col-md-3 text-center">
            <img class="img-thumbnail" src="images/content/social/obr4-3.jpg"/>

            <div class="text-center img-annotate" style="margin-bottom: 0">
                Photo: RussNeft Group completed construction of a modern campus for the students of Udmurtia University Oil and Gas Institute, Izhevsk
                in 2013
            </div>
        </div>
        <div class="col-md-6">
            <p>
                Institute of Oil and Gas campus for the students of oil faculty was solemnly opened in 2013. The facility was built with the funds
                from RussNeft Group.
            </p>
            <p>The modern 9-storey campus can host over 300 students. The building is located near the Institute of Oil and Gas and equipped in
                accordance with modern requirements. The campus contains the room for student accommodation, kitchen, dining room, pantry and gym.
            </p>
            <p>RussNeft Group continues to offer support to the Institute of Oil and Gas. In the nearest future RussNeft Group intends to involve
                Gubkin RSU of Oil and Gas into development of this project.
            </p>
        </div>
    </div>

    <p>
        Joint collaboration of the educational programs will contribute to further development to scientific potential of the Institute of Oil and Gas
        and enable it to become a major educational center of oil and gas industry in Russia. By the order of the government of the Republic of
        Udmurtia the Institute of Oil and Gas at the Udmurtia University will be named after President of RussNeft Group, Mikhail Gutseriev for his
        contribution to the implementation of this project.
    </p>

</div>