<div class="content-b" ng-show="lang == 1">

    <div class="row" style="margin-bottom: 10px">
        <div class="col-md-2">
            <h1 style="margin-bottom: 0">{{upstream}}</h1>
        </div>
        <div class="col-md-2 text-right" style="padding-top: 5px">
            <a class="btn btn-primary" href="#/upstream">
                <span class="glyphicon glyphicon-arrow-left" style="vertical-align: top"></span>
                <span style="vertical-align: top">ВЕРНУТЬСЯ</span>
            </a>
        </div>
    </div>

    <div class="row" style="margin-bottom: 10px">
        <div class="col-md-7">
            <h2 class="fs25">Добыча нефти</h2>

            <p>
                <br/>
                <img class="img-responsive" src="images/content/graph/neft1.png"/>
            </p>
        </div>
        <div class="col-md-5" style="padding-top: 120px;padding-left: 50px">
            <div class="text-center fs18">
                <p>Объем добычи нефти в 2013 году достиг</p>

                <p><span class="btn btn-primary btn-lg btn-block fs25">17,0 млн. тонн</span></p>

                <br/>

                <p>Финансирование капитальных вложений<br> по блоку добычи <b class="text-danger">29,5 млрд руб.</b><br>(в 2012 году – <b
                        class="text-danger">23,8 млрд руб.</b>)
                </p>

                <p><span class="btn btn-primary btn-lg btn-block fs25">+23%</span></p>

            </div>
        </div>
    </div>

    <p>
        В состав «РуссНефти» вошли новые перспективные активы: в Саратовской области – ООО «РедОйл» и в Томской области – ООО
        «Средне-Васюганское» и ООО «Муромское».
    </p>
    <br/>

    <div class="row">
        <div class="col-md-4 text-center">
            <p>
                Новых добывающих скважин введено в эксплуатацию в 2013 году
            </p>

            <p><span class="btn btn-primary btn-lg btn-block fs25">200</span></p>
        </div>
        <div class="col-md-4 col-md-offset-1  text-center">
            <p>
                <br/>
                Суммарный прирост добычи нефти в 2013 году
            </p>

            <p>
                <span class="btn btn-primary btn-lg btn-block fs25">
                700 тыс. тонн
            </span>
            </p>
        </div>
    </div>
    <div class="row" style="margin-bottom: 20px">
        <div class="col-md-3">
            <img class="img-responsive img-thumbnail" src="images/content/upstream/neft/1.jpg"/>
        </div>
        <div class="col-md-9">
            <table class="table table-bordered" style="margin-bottom: 50px">
                <tr>
                    <th class="info">Показатель</th>
                    <th class="info">Ед. изм.</th>
                    <th class="info">2012</th>
                    <th class="info">2013</th>
                    <th class="info">Отклонение 2013/2012, %</th>
                </tr>
                <tr>
                    <td>Эксплуатационный фонд скважин</td>
                    <td>шт.</td>
                    <td>5 880</td>
                    <td>6 045</td>
                    <td>+3</td>
                </tr>
                <tr>
                    <td>Геолого-технические мероприятия (ГТМ)</td>
                    <td>шт.</td>
                    <td>2 269</td>
                    <td>2 512</td>
                    <td>+11</td>
                </tr>
            </table>
        </div>
    </div>

    <div class="row" style="margin-bottom: 0">
        <div class="col-md-8">
            <h3>Основные цели добывающего комплекса «РуссНефти» в рамках утвержденной стратегии развития:</h3>
            <ul>
                <li>обеспечение роста добычи углеводородного сырья</li>
                <li>рост запасов</li>
            </ul>
            <h3>Для достижения этих целей был разработан ряд эффективных<br> производственных программ. Они позволяют:</h3>
            <ul>
                <li>сформировать системы управления разведкой и добычей</li>
                <li>снизить операционные издержки</li>
                <li>нарастить потенциал НИОКР</li>
            </ul>
            <h3>Основные мероприятия в рамках указанных программ:</h3>
            <ul>
                <li>поиск инженерных решений эффективной разработки низкорентабельных месторождений</li>
                <li>внедрение инновационных методов интенсификации добычи нефти и повышения нефтеотдачи пластов</li>
                <li>осуществление мониторинга разработки месторождений холдинга с использованием постоянно действующих геолого-гидродинамических
                    моделей
                </li>
            </ul>
        </div>
        <div class="col-md-4">
            <img class="img-responsive img-thumbnail" src="images/content/upstream/neft/13.jpg"/>
        </div>
    </div>


</div>


<div class="content-b" ng-show="lang == 2">

    <div class="row" style="margin-bottom: 10px">
        <div class="col-md-2">
            <h1 style="margin-bottom: 0">{{upstream}}</h1>
        </div>
        <div class="col-md-2 text-right" style="padding-top: 5px">
            <a class="btn btn-primary" href="#/upstream">
                <span class="glyphicon glyphicon-arrow-left" style="vertical-align: top"></span>
                <span style="vertical-align: top">BACK</span>
            </a>
        </div>
    </div>

    <div class="row" style="margin-bottom: 10px">
        <div class="col-md-7">
            <h2 class="fs25">Oil Production</h2>

            <p>
                <br/>
                <img class="img-responsive" src="images/content/graph/neft1-en.png"/>
            </p>
        </div>
        <div class="col-md-5" style="padding-top: 120px;padding-left: 50px">
            <div class="text-center fs18">
                <p>
                    Oil production output in 2013 amounted to
                </p>

                <p><span class="btn btn-primary btn-lg btn-block fs25">17.0 mln tons</span></p>

                <br/>

                <p>
                    Financing of capital investments for production block amounts to
                    <b class="text-danger">29.5 bn RUB</b>
                    (2012 – <b class="text-danger">23.8 bn RUB</b>)
                </p>

                <p><span class="btn btn-primary btn-lg btn-block fs25">+23%</span></p>

            </div>
        </div>
    </div>

    <p>
        New advanced assets included into RussNeft Group are OOO Redoil in Saratov region and OOO Sredne-Vasyuganskoye and OOO Muromskoye in Tomsk region
    </p>
    <br/>

    <div class="row">
        <div class="col-md-4 text-center">
            <p>
                Producing wells commissioned in 2013 reached
            </p>

            <p><span class="btn btn-primary btn-lg btn-block fs25">200</span></p>
        </div>
        <div class="col-md-4 col-md-offset-1  text-center">
            <p>
                Total oil production increase reached in 2013
            </p>

            <p>
                <span class="btn btn-primary btn-lg btn-block fs25">700 thousand tons</span>
            </p>
        </div>
    </div>
    <div class="row" style="margin-bottom: 20px">
        <div class="col-md-3">
            <img class="img-responsive img-thumbnail" src="images/content/upstream/neft/1.jpg"/>
        </div>
        <div class="col-md-9">
            <table class="table table-bordered" style="margin-bottom: 50px">
                <tr>
                    <th class="info">Description</th>
                    <th class="info">Measurement Unit</th>
                    <th class="info">2012</th>
                    <th class="info">2013</th>
                    <th class="info">Decline 2013/2012, %</th>
                </tr>
                <tr>
                    <td>Operating wells</td>
                    <td>pcs</td>
                    <td>5 880</td>
                    <td>6 045</td>
                    <td>+3</td>
                </tr>
                <tr>
                    <td>Well interventions</td>
                    <td>pcs</td>
                    <td>2 269</td>
                    <td>2 512</td>
                    <td>+11</td>
                </tr>
            </table>
        </div>
    </div>

    <div class="row" style="margin-bottom: 0">
        <div class="col-md-8">
            <h3>The main objectives of the upstream complex of RussNeft within the frame of the approved development strategy:</h3>
            <ul>
                <li>provision of hydrocarbon production growth</li>
                <li>growth of stocks</li>
            </ul>
            <h3>To achieve these objectives, there was developed a number of efficient production programs. They allow to:</h3>
            <ul>
                <li>
                    form E&P management system
                </li>
                <li>
                    reduce operating costs
                </li>
                <li>
                    augment R&D work potential
                </li>
            </ul>
            <h3>Basic activities within the frame of the said programs:</h3>
            <ul>
                <li>
                    search for engineering solutions of effective development of marginally profitable oilfields
                </li>
                <li>
                    introduction of innovative methods of oil production and enhancement of oil recovery
                </li>
                <li>
                    monitoring and development of the oilfields of the Holding with the use of ongoing geological and hydrodynamic models
                </li>
            </ul>
        </div>
        <div class="col-md-4">
            <img class="img-responsive img-thumbnail" src="images/content/upstream/neft/13.jpg"/>
        </div>
    </div>


</div>