<div class="content-b" ng-show="lang == 1">

    <div class="row" style="margin-bottom: 10px">
        <div class="col-md-2">
            <h1 style="margin-bottom: 0">{{upstream}}</h1>
        </div>
        <div class="col-md-2 text-right" style="padding-top: 5px">
            <a class="btn btn-primary" href="#/upstream/gas">
                <span class="glyphicon glyphicon-arrow-left" style="vertical-align: top"></span>
                <span style="vertical-align: top">ВЕРНУТЬСЯ</span>
            </a>
        </div>
    </div>
    <h2>
        Программа эффективного использования ПНГ на 2014.г.
    </h2>

    <div class="row" style="margin-bottom: 0">
        <div class="col-md-8">
            <dl class="dl-horizontal" style="margin-bottom: 40px">
                <dt>Задача</dt>
                <dd>увеличение использования ПНГ Группой Компаний «РуссНефть»</dd>
                <dt>Период реализации</dt>
                <dd>2014 г.</dd>
                <dt>Главная цель</dt>
                <dd>строительство объектов инженерной инфраструктуры для поддержания эффективного использования ПНГ на уровне не менее 95% и снижения
                    воздействия на окружающую среду.
                </dd>
                <dt>Объем вложений</dt>
                <dd>460,00 млн. рублей.</dd>
            </dl>

            <h3>Западно-Сибирский регион</h3>

            <div class="bs-callout-info">
                <h5>
                    ОАО «Варьеганнефть»
                </h5>
                <ul>
                    <li>
                        Газоснабжение котельной Варьеганского месторождения
                    </li>
                </ul>
            </div>
            <div class="bs-callout-info">
                <h5>
                    ОАО «Аганнефтегазгеология»
                </h5>
                <ul>
                    <li>
                        Проектирование вакуумной компрессорной станции (ВКС) на ДНС-3 Рославльского месторождения
                    </li>
                    <li>
                        Строительство газопровода "Центральный пункт сбора (ЦПС) Западно-Могутлорского месторождения – точка врезки в газопровод "ДНС-2
                        Рославльского месторождения – п.г.т. Новоаганск"
                    </li>
                    <li>
                        Завершение строительства ГПЭС № 9,10 на Егурьяхском месторождении
                    </li>
                    <li>
                        Строительство ВКС на ЦПС Мохтиковского месторождения
                    </li>
                </ul>
            </div>
            <div class="bs-callout-info">
                <h5>
                    ОАО НАК «АКИ-ОТЫР»
                </h5>

                <ul>
                    <li>
                        Реконструкция УПН Нижне-Шапшинского месторождения
                    </li>
                    <li>
                        Строительство эжекторной установки ВКС на Верхне-Шапшинском месторождении
                    </li>
                </ul>
            </div>


            <h3>Поволжский регион</h3>

            <div class="bs-callout-info">
                <h5>
                    ОАО «Саратовнефтегаз»
                </h5>

                <ul>
                    <li>
                        Строительство узлов учета газа
                    </li>
                    <li>
                        Строительство газопровода "НСП Гуселский – кирпичный завод"
                    </li>
                </ul>
            </div>

            <h3>Центрально-сибирский регион</h3>

            <div class="bs-callout-info">
                <h5>
                    ООО «Томская нефть»
                </h5>
                <ul>
                    <li>
                        Строительство газопровода "УПН Федюшкинского нефтяного месторождения – ГТЭС <br>Игольско-Талового месторождения"
                    </li>
                </ul>
            </div>

        </div>
        <div class="col-md-4">
            <img class="img-thumbnail" src="images/content/upstream/gas/13.jpg"/>
            <br/>
            <br/>
            <img class="img-thumbnail" src="images/content/upstream/gas/14.jpg"/>
            <br/>
            <br/>
            <img class="img-thumbnail" src="images/content/upstream/gas/15.jpg"/>
        </div>
    </div>

</div>


<div class="content-b" ng-show="lang == 2">

    <div class="row" style="margin-bottom: 10px">
        <div class="col-md-2">
            <h1 style="margin-bottom: 0">{{upstream}}</h1>
        </div>
        <div class="col-md-2 text-right" style="padding-top: 5px">
            <a class="btn btn-primary" href="#/upstream/gas">
                <span class="glyphicon glyphicon-arrow-left" style="vertical-align: top"></span>
                <span style="vertical-align: top">BACK</span>
            </a>
        </div>
    </div>
    <h2>
        Program for APG efficient utilization for 2014
    </h2>


    <div class="row" style="margin-bottom: 0">
        <div class="col-md-8">
            <dl class="dl-horizontal" style="margin-bottom: 40px">
                <dt>
                    Objective
                </dt>
                <dd>
                    increase of APG utilization by RussNeft Group
                </dd>
                <dt>
                    Implementation period
                </dt>
                <dd>
                    2014
                </dd>
                <dt>
                    Main goal
                </dt>
                <dd>
                    construction of engineering infrastructure facilities to maintain the APG efficient gas utilization at levels not less than 95% and reduce
                    the environmental impact.
                </dd>
                <dt>
                    Investments amount
                </dt>
                <dd>
                    460,00 mln rubles
                </dd>
            </dl>

            <h3>
                West-Siberian region
            </h3>

            <div class="bs-callout-info">
                <h5>
                    ОАО Varioganneft
                </h5>
                <ul>
                    <li>
                        Supply of gas to Variogan field boiler
                    </li>
                </ul>
            </div>
            <div class="bs-callout-info">
                <h5>
                    ОАО Aganneftegazgeologia
                </h5>

                <ul>
                    <li>
                        Design of a vacuum compressor station at Roslavlskoye field DNS-3 booster pump station
                    </li>
                    <li>
                        Construction of a gas pipeline from Zapadno-Mogutlorskoye field CPF to the tie-in point in the gas pipeline from Roslavlskoye field DNS-2
                        booster pump station to Novoagansk village
                    </li>
                    <li>
                        Completion of construction of GPES-9 and GPES-10 gas-piston power stations at Eguryakhskoye field
                    </li>
                    <li>
                        Construction of a vacuum compressor station at Mokhtikovskoye field CPF
                    </li>
                </ul>
            </div>
            <div class="bs-callout-info">
                <h5>
                    ОАО NAK AKI-OTYR
                </h5>

                <ul>
                    <li>
                        Upgrade of Nizhne-Shapshinskoye field oil treatment unit
                    </li>
                    <li>
                        Construction of an ejection unit at Verkhne-Shapshinskoye field vacuum compressor station
                    </li>
                </ul>
            </div>

            <h3>
                Volga region
            </h3>

            <div class="bs-callout-info">
                <h5>
                    ОАО Saratovneftegaz
                </h5>

                <ul>
                    <li>
                        Construction of gas metering units
                    </li>
                    <li>
                        Construction of a gas pipeline from Guselsky NSP to the brick factory
                    </li>
                </ul>
            </div>


            <h3>
                Central-Siberian region
            </h3>

            <div class="bs-callout-info">
                <h5>
                    ООО Tomskaya neft
                </h5>
                <ul>
                    <li>
                        Construction of a gas pipeline from Fedyushkinskoye oil field oil treatment unit to Igolsko-Talovoye field gas-turbine power station
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-4">
            <img class="img-thumbnail" src="images/content/upstream/gas/13.jpg"/>
            <br/>
            <br/>
            <img class="img-thumbnail" src="images/content/upstream/gas/14.jpg"/>
            <br/>
            <br/>
            <img class="img-thumbnail" src="images/content/upstream/gas/15.jpg"/>
        </div>
    </div>

</div>