<div class="content-b" ng-show="lang == 1">

    <div class="row" style="margin-bottom: 10px">
        <div class="col-md-2">
            <h1 style="margin-bottom: 0">{{upstream}}</h1>
        </div>
        <div class="col-md-2 text-right" style="padding-top: 5px">
            <a class="btn btn-primary" href="#/upstream/gas">
                <span class="glyphicon glyphicon-arrow-left" style="vertical-align: top"></span>
                <span style="vertical-align: top">ВЕРНУТЬСЯ</span>
            </a>
        </div>
    </div>

    <h2>Программа газоэнергетики на 2013-2016 гг.</h2>

    <div class="row" style="margin-bottom: 0">
        <div class="col-md-8">
            <h3>Западно-Сибирский регион</h3>

            <div class="bs-callout-info">
                <h5>
                    ОАО «Аганнефтегазгеология»
                </h5>
                <ul>
                    <li>
                        Энергокомплекс на Мохтиковском месторождении введен в эксплуатацию в 2013 г. Финансирование осуществлялось по инвестиционному
                        проекту. На
                        газоэнергетическом комплексе установлено 7 агрегатов ГПЭС «Jenbacher» с суммарной установленной мощностью 7,5 МВт. Так же
                        предусматривается аварийный источник электроэнергии – дизельная электростанция мощностью 1 МВт. В настоящее время ведется
                        промышленная
                        эксплуатация энергокомплекса.
                    </li>
                    <li>
                        Обустройство Западно-Могутлорского лицензионного участка. Электроснабжение Могутлорского и Западно-Могутлорского
                        месторождений.
                        Реконструкция ПС 110/6 кВ 6300 кВА «Западно-Могутлорская».
                    </li>
                    <li>
                        Энергокомплекс на Егурьяхском месторождении. На газоэнергетическом комплексе установлено 7 агрегатов ГПЭС «Jenbacher» с
                        суммарной
                        установленной мощностью 7 МВт. Введены в эксплуатацию агрегаты №8, и запущены в работу 9, 10 агрегаты ГПЭС, при этом
                        установленная мощность электростанции составила 10 МВт.
                    </li>
                </ul>
            </div>
            <div class="bs-callout-info">
                <h5>
                    ОАО НАК «АКИ-ОТЫР»
                </h5>

                <ul>
                    <li>
                        Запущена в эксплуатацию мини-энергосистема на группе Шапшинских месторождений. Энергосистема состоит из 2-х электростанций с
                        суммарной
                        установленной мощностью 27,2 МВт и сетевого комплекса, состоящего из 2-х подстанций 110 кВ, а также линии электропередачи 110
                        кВ.
                        Инвестиции составили 1,3 млрд. руб. Инвестор - группа Компаний «BLUE LINE».
                    </li>
                </ul>
            </div>


            <h3>
                Центрально-сибирский регион
            </h3>

            <div class="bs-callout-info">
                <h5>
                    ООО «Томская нефть»
                </h5>
                <ul>
                    <li>
                        Энергокомплекс на Столбовом месторождении. Финансирование осуществляется по инвестиционному проекту. На газоэнергетическом
                        комплексе
                        установлены 17 агрегатов ГПЭС «Jenbacher» с общей установленной мощностью 19,2 МВт. Так же предусмотрен резервный источник
                        электроэнергии
                        – дизельные электростанции в количестве 6 шт. с суммарной установленной мощностью 7,6 МВт.
                    </li>
                    <li>
                        Энергокомплекс на Столбовом месторождении введен в промышленную эксплуатацию в 1-ом квартале 2013 г. Общая стоимость
                        инвестиционного
                        проекта составила 1,34 млрд.руб. Инвестор - ООО "Север-Проект".
                    </li>
                    <li>
                        Энергокомплекс на Поселковом месторождении. Энергокомплекс на базе газотурбинной электростанции ГТЭС мощностью 2,5 МВт
                        производства ОАО
                        «Сатурн – газовые турбины». Предполагаемый срок ввода объекта в эксплуатацию - 4-ый квартал 2015 года.
                    </li>
                    <li>
                        Энергокомплекс на Федюшкинском месторождении. Финансирование осуществляется по инвестиционному проекту. На газоэнергетическом
                        комплексе
                        планируется установить 6 агрегатов ГПЭС «Jenbacher» с суммарной установленной мощностью 6 МВт и 4 резервных ДЭС с суммарной
                        установленной
                        мощностью 4 МВт. Планируется ввод объекта в эксплуатацию в 4-м квартале 2014 г. Инвестор - ООО "Север-Проект".
                    </li>
                </ul>
            </div>

            <h3>
                Кроме того:
            </h3>

            <p>
                <b>
                    Группа Компаний «РуссНефть» реализует программу энергосбережения. Фактические затраты в 2013 г. составили 52, 451 млн. руб.;
                    полученный экономический
                    эффект - 446, 167 млн. руб.
                </b>
            </p>

            <p>
                <b>
                    Холдинг проводит работу по выводу на оптовый рынок электроэнергии и мощности Обществ, входящих в корпоративную структуру Группа
                    Компаний «РуссНефть».
                    В 2013 году были завершены работы по созданию автоматизированных информационно-измерительных систем коммерческого учёта
                    электрической энергии на энергопринимающем оборудовании (АИИС КУЭ ) в ОАО НАК «АКИ-ОТЫР» и ОАО «Ульяновскнефть» .
                </b>
            </p>

        </div>
        <div class="col-md-4">
            <br/>
            <br/>
            <img class="img-thumbnail" src="images/content/upstream/gas/16.jpg"/>
            <br/>
            <br/>
            <br/>
            <br/>
            <img class="img-thumbnail" src="images/content/upstream/gas/18.jpg"/>
            <br/>
            <br/>
            <br/>
            <br/>
            <img class="img-thumbnail" src="images/content/upstream/gas/17.jpg"/>
            <br/>
            <br/>
            <br/>
            <br/>
            <img class="img-thumbnail" src="images/content/upstream/gas/19.jpg"/>
        </div>
    </div>

</div>


<div class="content-b" ng-show="lang == 2">

    <div class="row" style="margin-bottom: 10px">
        <div class="col-md-2">
            <h1 style="margin-bottom: 0">{{upstream}}</h1>
        </div>
        <div class="col-md-2 text-right" style="padding-top: 5px">
            <a class="btn btn-primary" href="#/upstream/gas">
                <span class="glyphicon glyphicon-arrow-left" style="vertical-align: top"></span>
                <span style="vertical-align: top">BACK</span>
            </a>
        </div>
    </div>

    <h2>Gas power program for 2013-2016</h2>

    <div class="row" style="margin-bottom: 0">
        <div class="col-md-8">
            <h3>West-Siberian region</h3>

            <div class="bs-callout-info">
                <h5>
                    ОАО Aganneftegazgeologiya
                </h5>

                <ul>
                    <li>
                        Power generation complex was put into operation at Mokhtikovskoye field. Funding was performed under an investment project.
                        The gas power
                        generation complex is equipped with 7 Jenbacher gas-piston power generation units with cumulative installed capacity of 7.5
                        MW. A backup
                        power unit is also provided for – 1 MW diesel power station. The power generation complex is in operation phase now.
                    </li>
                    <li>
                        Zapadno-Mogutlorsky license area infrastructure development. Power supply to Mogutlorskoye and Zapadno-Mogutlorskoye fields.
                        Upgrade of
                        Zapadno-Mogutlorskaya 110/6 kV 6300 kWA substation.
                    </li>
                    <li>
                        Power generation complex at Eguryakhskoye field. The gas power generation complex is equipped with 7 Jenbacher gas-piston
                        power generation
                        units with cumulative installed capacity of 7 MW. Unit 8 was put into operation and unit 9 and unit 10 were commissioned in Q4
                        2013, when
                        the installed capacity of the power complex reached 10 MW.
                    </li>
                </ul>
            </div>
            <div class="bs-callout-info">
                <h5>
                    ОАО NAK AKI-OTYR
                </h5>
                <ul>
                    <li>
                        Mini power generation system was put into operation at Shapshinskoye fields group. The system comprises 2 power generation
                        units with
                        cumulative installed capacity of 27.2 MW and a grid complex of two 110kV substations as well as an 110 kV electrical power
                        transmission
                        line. The investments totaled 1.3 bln rubles. BLUE LINE group of companies was the investor.
                    </li>
                </ul>
            </div>


            <h3>
                Central-Siberian region
            </h3>

            <div class="bs-callout-info">
                <h5>
                    ООО Tomskaya neft
                </h5>

                <ul>
                    <li>
                        Power generation complex at Stolbovoye field. Funding was performed under an investment project. The gas power generation
                        complex is
                        equipped with 17 Jenbacher gas-piston power generation units with cumulative installed capacity of 19.2 MW. Backup power is
                        also provided
                        for – 6 diesel power stations with cumulative capacity of 7.6 MW. The power generation complex at Stolbovoye field was put
                        into operation
                        in Q1 2013. The overall cost of the investment project was 1.34 bln rubles. OOO Sever-Proyekt was the investor.
                    </li>
                    <li>
                        Power generation complex at Poselkovoye field. The complex is based on a 2.5 MW gas-turbine power generation station
                        manufactured by OAO
                        Saturn – gas turbines. The estimated startup is Q4 2015.
                    </li>
                    <li>
                        Power generation complex at Fedyushkinskoye field. Funding is performed under an investment project. The gas power generation
                        complex will
                        be equipped with 6 Jenbacher gas-piston power generation units with cumulative installed capacity of 6 MW and 4 backup diesel
                        power
                        stations with cumulative capacity of 4 MW. Startup is scheduled for Q4 2014. OOO Sever-Proyekt is the investor. 7,6 МВт.
                    </li>
                </ul>
            </div>

            <h3>
                In addition:
            </h3>

            <p>
                <b>
                    RussNeft Group implements a program for power saving. The actual costs were 52.451 mln rubles in 2013; the obtained economic
                    effect was 446.167 mln rubles.
                </b>
            </p>

            <p>
                <b>
                    RussNeft Group works on taking the electrical power and generation capacities of the Group’s corporate structure enterprises to
                    the wholesale market. In 2013, the Company completed installation of automated metering systems for electrical power commercial
                    metering at the power receiving equipment of OAO NAK AKI-OTYR and OAO Ulyanovskneft.
                </b>
            </p>

        </div>
        <div class="col-md-4">
            <br/>
            <br/>
            <img class="img-thumbnail" src="images/content/upstream/gas/16.jpg"/>
            <br/>
            <br/>
            <br/>
            <br/>
            <img class="img-thumbnail" src="images/content/upstream/gas/18.jpg"/>
            <br/>
            <br/>
            <br/>
            <br/>
            <img class="img-thumbnail" src="images/content/upstream/gas/17.jpg"/>
            <br/>
            <br/>
            <br/>
            <br/>
            <img class="img-thumbnail" src="images/content/upstream/gas/19.jpg"/>
        </div>
    </div>

</div>