<div class="content-b" ng-show="lang == 1">

    <div class="row" style="margin-bottom: 10px">
        <div class="col-md-2">
            <h1 style="margin-bottom: 0">{{upstream}}</h1>
        </div>
        <div class="col-md-2 text-right" style="padding-top: 5px">
            <a class="btn btn-primary" href="#/upstream/gas">
                <span class="glyphicon glyphicon-arrow-left" style="vertical-align: top"></span>
                <span style="vertical-align: top">ВЕРНУТЬСЯ</span>
            </a>
        </div>
    </div>

    <h2>Программа эффективного использования ПНГ на 2013 г.</h2>

    <div class="row" style="margin-bottom: 0px">
        <div class="col-md-8">

            <dl class="dl-horizontal" style="margin-bottom: 40px">
                <dt>Задача</dt>
                <dd>увеличение использования ПНГ Группой Компаний «РуссНефть»</dd>
                <dt>Период реализации</dt>
                <dd>2013 г.</dd>
                <dt>Главная цель</dt>
                <dd>строительство первоочередных объектов инженерной инфраструктуры,<br>позволяющих резко увеличить объем эффективного использования ПНГ</dd>
                <dt>Объем вложений</dt>
                <dd>3 382 млн. рублей</dd>
            </dl>

            <h3>Западно-Сибирский регион</h3>
            <dl class="dl-horizontal" style="margin-bottom: 25px">
                <dt>Объем капвложений</dt>
                <dd>
                    2 919 млн. рублей
                </dd>
            </dl>

            <div class="bs-callout-info">
                <h5>ОАО «Варьеганнефть»</h5>

                <p>
                    <b>
                        Объем капвложений
                    </b>
                    2 663 млн. рублей
                </p>
                <ul>
                    <li>
                        Строительство газопровода УПСВ Западно-Варьеганского месторождения – КС-3 «Варьеганская» с подводящим газопроводом ДНС-Рославльское –
                        точка врезки
                    </li>
                    <li>
                        Строительство энергокомлекса на Валюнинском месторождении
                    </li>
                    <li>
                        Реконструкция факельных систем
                    </li>
                </ul>
            </div>
            <div class="bs-callout-info">
                <h5>
                    ОАО «Аганнефтегазгеология»
                </h5>

                <p>
                    <b>
                        Объем капвложений
                    </b>
                    124 млн. рублей
                </p>
                <ul>
                    <li>
                        Строительство ГПЭС №9,10 на Егурьяхском месторождении
                    </li>
                    <li>
                        Обустройство Мохтиковского месторождения
                    </li>
                </ul>
            </div>

            <div class="bs-callout-info">
                <h5>
                    ОАО НАК «АКИ-ОТЫР»
                </h5>

                <p>
                    <b>
                        Объем капвложений
                    </b>
                    132 млн. рублей
                </p>

                <ul>
                    <li>
                        Завершение строительства межпромыслового газопровода Шапшинских групп месторождений
                    </li>
                    <li>
                        Строительство газопровода "Точка врезки УПН Нижне-Шапшинского месторождения – БКС"
                    </li>
                    <li>
                        Реконструкция УПН Нижне-Шапшинского месторождения. Строительство эжекторной установки
                    </li>
                </ul>
            </div>


            <h3>Поволжский регион</h3>
            <dl class="dl-horizontal" style="margin-bottom: 25px">
                <dt>Объем капвложений</dt>
                <dd>107 млн. рублей</dd>
            </dl>

            <div class="bs-callout-info">
                <h5>
                    ОАО «Саратовнефтегаз»
                </h5>

                <p>
                    <b>
                        Объем капвложений
                    </b>
                    98 млн. рублей
                </p>
                <ul>
                    <li>
                        Газопровод "ГКС Степновская – УПН Грязнушенская"
                    </li>
                    <li>
                        Реконструкция комссорной станции на Степновских головных сооружениях
                    </li>
                    <li>
                        Техническое перевооружение Разумовской установки комплексной подготовки газа (УКПГ)
                    </li>
                    <li>
                        Реконструкция системы газопроводов "Нефтесборный пункт (НСП) Малиновый Овраг – с. Хлебновка, с. Неёловка"
                    </li>
                </ul>
            </div>
            <div class="bs-callout-info">
                <h5>
                    ОАО «Ульяновскнефть»
                </h5>

                <p>
                    <b>
                        Объем капвложений
                    </b>
                    9 млн. рублей
                </p>
                <ul>
                    <li>
                        Переход на использование ПНГ в качестве топлива
                    </li>
                </ul>
            </div>
            <h3>Центрально-сибирский регион</h3>
            <dl class="dl-horizontal" style="margin-bottom: 25px">
                <dt>Объем капвложений</dt>
                <dd>356 млн. рублей</dd>
            </dl>

            <div class="bs-callout-info">
                <h5>
                    ООО «Томская нефть»
                </h5>

                <p>
                    <b>
                        Объем капвложений
                    </b>
                    356 млн. рублей
                </p>
                <ul>
                    <li>
                        Строительство высоконапорного газопровода "УПН-КП №2"
                    </li>
                    <li>
                        Строительство энергокомплекса на Поселковом месторождении
                    </li>
                    <li>
                        Строительство газопровода "УПН Федюшкинского месторождения – ГТЭС Игольско-Талового месторождения"
                    </li>
                </ul>
            </div>

        </div>
        <div class="col-md-4">
            <img class="img-thumbnail" src="images/content/upstream/gas/9.jpg"/>
            <br/><br/><br/><br/>
            <img class="img-thumbnail" src="images/content/upstream/gas/12.jpg"/>
            <br/><br/><br/><br/>
            <img class="img-thumbnail" src="images/content/upstream/gas/8.jpg"/>
            <br/><br/><br/><br/>
            <img class="img-thumbnail" src="images/content/upstream/gas/10.jpg"/>
        </div>
    </div>

</div>


<div class="content-b" ng-show="lang == 2">

<div class="row" style="margin-bottom: 10px">
    <div class="col-md-2">
        <h1 style="margin-bottom: 0">{{upstream}}</h1>
    </div>
    <div class="col-md-2 text-right" style="padding-top: 5px">
        <a class="btn btn-primary" href="#/upstream/gas">
            <span class="glyphicon glyphicon-arrow-left" style="vertical-align: top"></span>
            <span style="vertical-align: top">BACK</span>
        </a>
    </div>
</div>

<h2>
    Program for APG efficient utilization for 2013
</h2>

<div class="row" style="margin-bottom: 0">
<div class="col-md-8">
    <dl class="dl-horizontal" style="margin-bottom: 40px">
        <dt>
            Objective
        </dt>
        <dd>
            increase of APG utilization by OAO NK RussNeft
        </dd>
        <dt>
            Implementation period
        </dt>
        <dd>
            2013
        </dd>
        <dt>
            Main goal
        </dt>
        <dd>
            construction of priority facilities of engineering infrastructure which will allow to strongly increase the APG effective
            utilization
        </dd>
        <dt>
            Investments amount
        </dt>
        <dd>
            3,382 mln rubles
        </dd>
    </dl>


    <h3>
        West-Siberian region
    </h3>
    <dl class="dl-horizontal" style="margin-bottom: 25px">
        <dt>Capital investments</dt>
        <dd>
            2,919 mln rubles
        </dd>
    </dl>
    <div class="bs-callout-info">
        <h5>
            ОАО Varioganneft
        </h5>

        <p>
            <b>
                Capital investments amount
            </b>
            2,663 mln rubles
        </p>
        <ul>
            <li>
                Construction of a gas pipeline from Zapadno-Varioganskoye field FWKO unit to Varioganskaya KS-3 compressor station with a branch to
                Roslavlskoye booster pump station
            </li>
            <li>
                Construction of a power generation complex at Valyuninskoye field
            </li>
            <li>
                Revamp of flare systems
            </li>
        </ul>
    </div>
    <div class="bs-callout-info">
        <h5>
            ОАО Aganneftegazgeologia
        </h5>

        <p>
            <b>
                Capital investments amount
            </b>
            124 mln rubles
        </p>
        <ul>
            <li>
                Construction of GPES-9 and GPES-10 gas-piston power stations at Eguryakhskoye field
            </li>
            <li>
                Mokhtikovskoye field infrastructure development
            </li>
        </ul>
    </div>
    <div class="bs-callout-info">
        <h5>
            ОАО NAK AKI-OTYR
        </h5>

        <p>
            <b>
                Capital investments amount
            </b>
            132 mln rubles
        </p>
        <ul>
            <li>
                Completion of construction of an inter-field gas pipeline at Shapshinskaya group of fields
            </li>
            <li>
                Construction of a gas pipeline from Nizhneshapshinskoye field oil treatment unit tie-in point to the block compressor station
            </li>
            <li>
                Upgrade of Nizhneshapshinskoye field oil treatment unit. Construction of an ejection unit
            </li>
        </ul>
    </div>

    <h3>
        Volga region
    </h3>
    <dl class="dl-horizontal" style="margin-bottom: 25px">
        <dt>Capital investments</dt>
        <dd>
            107 mln rubles
        </dd>
    </dl>
    <div class="bs-callout-info">
        <h5>
            ОАО Saratovneftegaz
        </h5>

        <p>
            <b>
                Capital investments amount
            </b>
            98 mln rubles
        </p>

        <ul>
            <li>
                Gas pipeline from Stepanovskaya gas compressor station to Gryaznushenskaya oil treatment unit
            </li>
            <li>
                Upgrade of the compressor station at Stepanovsk GOSP
            </li>
            <li>
                Revamp of Razumovskaya gas processing plant
            </li>
            <li>
                Upgrade of the gas pipelines system from Malinovy Ovrag oil gathering facility to Klebnovka and Neyelovka villages
            </li>
        </ul>

    </div>
    <div class="bs-callout-info">
        <h5>
            ОАО Ulyanovskneft
        </h5>

        <p>
            <b>
                Capital investments amount
            </b>
            9 mln rubles
        </p>
        <ul>
            <li>
                Conversion to utilization of APG as fuel
            </li>
        </ul>
    </div>

    <h3>
        Central-Siberian region
    </h3>
    <dl class="dl-horizontal" style="margin-bottom: 25px">
        <dt>Capital investments</dt>
        <dd>
            356 mln rubles
        </dd>
    </dl>
    <div class="bs-callout-info">
        <h5>
            ООО Tomskaya neft
        </h5>

        <p>
            <b>
                Capital investments amount
            </b>
            356 mln rubles
        </p>
        <ul>
            <li>
                Construction of a high-pressure gas pipeline from Oil treatment unit to Well pad 2
            </li>
            <li>
                Construction of a high-pressure gas pipeline from Oil treatment unit to Well pad 2
            </li>
            <li>
                Construction of a gas power generation complex at Poselkovoye field
            </li>
            <li>
                Construction of a gas pipeline from Fedyushkinskoye field oil treatment unit to Igolsko-Talovoye field gas-turbine power station
            </li>
        </ul>
    </div>
</div>
<div class="col-md-4">
    <img class="img-thumbnail" src="images/content/upstream/gas/9.jpg"/>
    <br/><br/><br/><br/>
    <img class="img-thumbnail" src="images/content/upstream/gas/12.jpg"/>
    <br/><br/><br/><br/>
    <img class="img-thumbnail" src="images/content/upstream/gas/8.jpg"/>
    <br/><br/><br/><br/>
    <img class="img-thumbnail" src="images/content/upstream/gas/10.jpg"/>
</div>
</div>

</div>