<div class="content-b">

    <h1>{{upstream}}</h1>

    <div class="row" style="margin-bottom: 20px">
        <div class="col-md-3 text-center">
            <a href="#/upstream/neft" class="img-thumbnail">
                <img class="img-responsive" src="images/content/upstream/neft/21.jpg"/>
            </a>
        </div>
        <div class="col-md-8" style="padding-top: 62px">
            <a href="#/upstream/neft" class="fs20" ng-show="lang == 1">
                Добыча нефти
            </a>
            <a href="#/upstream/neft" class="fs20" ng-show="lang == 2">
                Oil production
            </a>
        </div>
    </div>
    <div class="row" style="margin-bottom: 20px">
        <div class="col-md-3 text-center">
            <a href="#/upstream/gas" class="img-thumbnail">
                <img class="img-responsive" src="images/content/upstream/gas/6.jpg"/>
            </a>
        </div>
        <div class="col-md-8" style="padding-top: 62px">
            <a href="#/upstream/gas" class="fs20" ng-show="lang == 1">
                Газовые проекты
            </a>
            <a href="#/upstream/gas" class="fs20" ng-show="lang == 2">
                Gas projects
            </a>
        </div>
    </div>
    <div class="row" style="margin-bottom: 0">
        <div class="col-md-3 text-center">
            <a href="#/upstream/geo" class="img-thumbnail">
                <img class="img-responsive" src="images/content/upstream/neft/5.jpg"/>
            </a>
        </div>
        <div class="col-md-8" style="padding-top: 62px">
            <a href="#/upstream/geo" class="fs20" ng-show="lang == 1">
                Геологоразведка и запасы
            </a>
            <a href="#/upstream/geo" class="fs20" ng-show="lang == 2">
                Geological exploration and reserves
            </a>
        </div>
    </div>

</div>