<div class="content-b" ng-show="lang == 1">

    <div class="row" style="margin-bottom: 10px">
        <div class="col-md-2">
            <h1 style="margin-bottom: 0">{{upstream}}</h1>
        </div>
        <div class="col-md-2 text-right" style="padding-top: 5px">
            <a class="btn btn-primary" href="#/upstream">
                <span class="glyphicon glyphicon-arrow-left" style="vertical-align: top"></span>
                <span style="vertical-align: top">ВЕРНУТЬСЯ</span>
            </a>
        </div>
    </div>

    <h2>Геология и запасы</h2>

    <div class="row" style="margin-bottom: 30px">
        <div class="col-md-6">
            <h3>Главные итоги 2013 года в сфере геологии:</h3>
            <ul>
                <li>
                    Открыта новая залежь нефти на Западно-Варьеганском месторождении и расширены границы залежей нефти на Рославльском,<br>
                    Верхне-Шапшинском и Тагринском месторождениях.
                </li>
                <li>
                    В 2013 году завершено картирование сейсморазведочными работами 3D Западно-Варьеганского и Дуклинского месторождений.
                </li>
                <li>
                    Пробурены разведочные скважины на Западно-Варьеганском и Унтыгейском месторождениях в ХМАО и Динтемском лицензионном участке в Удмуртии.
                </li>
            </ul>

        </div>
        <div class="col-md-6">
            <img class="img-thumbnail" src="images/content/upstream/1.jpg"/>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3 text-center">
            <p>Прирост запасов категорий ABC1 + C2 компенсировал добычу в 2013 году на</p>

            <p>
                <span class="btn btn-primary btn-lg btn-block fs25">105,6%</span>
            </p>
        </div>
        <div class="col-md-4 col-md-offset-1 text-center">
            <br/>
            <p>
                «РуссНефть» осуществляет геолого-разведочные работы и добычу нефти, газа и конденсата на
            </p>

            <p>
                <span class="btn btn-primary btn-lg btn-block fs25">208</span>
            </p>

            <p>
                лицензионных участках
            </p>
        </div>
        <div class="col-md-3 col-md-offset-1 text-center">
            <br/>

            <p>
                Суммарный объем сейсморазведки 3D в 2013 году
            </p>

            <p>
                <span class="btn btn-primary btn-lg btn-block fs25">
                    297 км<sup>2</sup>
                </span>
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <img class="img-thumbnail" src="images/content/upstream/2.jpg"/>
        </div>
        <div class="col-md-8">
            <h3>В рамках участия Группы Компаний «РуссНефть» в зарубежных проектах в 2013 году:</h3>
            <ul>
                <li>
                    выполнена интерпретация сейсморазведочных работ 3D на блоке Падар в Азербайджане
                </li>
                <li>
                    холдинг имеет сертификат Министерства энергетики и горнодобывающей промышленности Алжира на право ведения поисковой и геолого-разведочной деятельности на
                    территории республики
                </li>
            </ul>
        </div>
    </div>


</div>

<div class="content-b" ng-show="lang == 2">

    <div class="row" style="margin-bottom: 10px">
        <div class="col-md-2">
            <h1 style="margin-bottom: 0">{{upstream}}</h1>
        </div>
        <div class="col-md-2 text-right" style="padding-top: 5px">
            <a class="btn btn-primary" href="#/upstream">
                <span class="glyphicon glyphicon-arrow-left" style="vertical-align: top"></span>
                <span style="vertical-align: top">BACK</span>
            </a>
        </div>
    </div>

    <h2>Geology and Reserves</h2>

    <div class="row" style="margin-bottom: 30px">
        <div class="col-md-6">
            <h3>Key 2013 results in Geology:</h3>
            <ul>
                <li>New oil deposit was discovered at Zapadno-Varioganskoye field. Oil deposit borders at Roslavlskoye, Verkhne-Shapshinskoye and Tagrinskoye fields were extended.</li>
                <li>Mapping of Zapadno-Varioganskoye and Duklinskoye fields with 3D seismic was completed in 2013.</li>
                <li>Exploration wells were drilled at Zapadno-Varioganskoye and Untygeyskoye fields in KhMAO as well as at Dintemskoye license in Udmurtia.</li>
            </ul>

        </div>
        <div class="col-md-6">
            <img class="img-thumbnail" src="images/content/upstream/1.jpg"/>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3 text-center">
            <p>ABC1+C2 reserves increment compensated for production in 2013 by</p>

            <p>
                <span class="btn btn-primary btn-lg btn-block fs25">105.6%</span>
            </p>
        </div>
        <div class="col-md-3 col-md-offset-1 text-center">
            <br/>

            <p>
                RussNeft performs exploration works and produces oil and condensate at
            </p>

            <p>
                <span class="btn btn-primary btn-lg btn-block fs25">208</span>
            </p>

            <p>
                licenses
            </p>
        </div>
        <div class="col-md-3 col-md-offset-1 text-center">
            <br/>

            <p>
                Total 3D seismic area in 2013 made up
            </p>

            <p>
                <span class="btn btn-primary btn-lg btn-block fs25">
                    297 km<sup>2</sup>
                </span>
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <img class="img-thumbnail" src="images/content/upstream/2.jpg"/>
        </div>
        <div class="col-md-8">
            <h3>By participating in international projects in 2013 RussNeft Group performed:</h3>
            <ul>
                <li>
                    3D Seismic data interpretation at Padar block, Azerbaijan
                </li>
                <li>
                    The holding is certified by the Algeria Ministry of Energy and Mining for exploration works at the territory of the Republic
                </li>
            </ul>
        </div>
    </div>

</div>
    
    
    