<div class="content-b" ng-show="lang == 1">

    <div class="row" style="margin-bottom: 10px">
        <div class="col-md-2">
            <h1 style="margin-bottom: 0">{{upstream}}</h1>
        </div>
        <div class="col-md-2 text-right" style="padding-top: 5px">
            <a class="btn btn-primary" href="#/upstream">
                <span class="glyphicon glyphicon-arrow-left" style="vertical-align: top"></span>
                <span style="vertical-align: top">ВЕРНУТЬСЯ</span>
            </a>
        </div>
    </div>

    <h2 class="fs25">Газовые проекты</h2>

    <p>
        Группа Компаний «РуссНефть» уделяет особое внимание реализации проектов, направленных на повышение уровня эффективного использования попутного нефтяного
        газа (ПНГ), а также программам добычи природного газа, газопереработки и газоэнергетики.
    </p>

    <h3>Программы эффективного использования ПНГ.</h3>

    <p>
        В рамках этого направления в Группе была реализована трехлетняя программа мероприятий, позволяющая повысить уровень использования
        попутного нефтяного газа до 95%. Для достижения этой цели на месторождениях «РуссНефти» был построен ряд крупных объектов инженерной газовой
        инфраструктуры.
        Общий объем инвестиций в период с 2010-2013 гг. составил <b class="text-danger">7,2 млрд. руб.</b>
    </p>


    <div class="row" style="margin-bottom: 0">
        <div class="col-md-8">
            <h4>Итоги реализации трехлетней программы повышения уровня использования ПНГ:</h4>

            <ul>
                <li>Построено 56 ГПЭС/ГТЭС общей мощностью 61 МВт;</li>
                <li>Проложены промысловые газопроводы протяженностью 238 км;</li>
                <li>Установлено 152 узла учета газа;</li>
                <li>Введены в эксплуатацию 2 компрессорных станции.</li>
            </ul>

            <h4>В том числе в 2013 году в рамках программы эффективного использования ПНГ:</h4>
        </div>
        <div class="col-md-4">
            <img class="img-responsive img-thumbnail" src="images/content/upstream/gas/3.jpg"/>
        </div>
    </div>

    <ul style="margin-top: 10px">
        <li>
            введен в эксплуатацию газопровод «УПСВ Западно-Варьеганского месторождения – КС-3 «Варьеганская» с подводящим газопроводом
            ДНС-Рославльское – точка врезки», что позволило сдавать ПНГ ОАО «Аганнефтегазгеология» и ОАО «Варьеганнефть» на Белозерский ГПЗ и
            довести уровень утилизации по этим компаниям до 96%.
        </li>
        <li>
            на Столбовом месторождении введена в эксплуатацию компрессорная станция по закачке ПНГ в пласт, что позволило повысить полезное
            использование ПНГ и повысить нефтеотдачу.
        </li>
        <li>
            начато переоборудование факельных систем современными оголовками, позволяющими значительно снизить воздействие на окружающую среду и,
            соответственно, сократить экологические платежи.
        </li>
    </ul>

    <p style="padding-left: 40px"><a style="text-decoration: underline" href="#/upstream/gas/1">Программа эффективного использования ПНГ на 2013 г.</a></p>

    <p style="padding-left: 40px"><a style="text-decoration: underline" href="#/upstream/gas/2">Программа эффективного использования ПНГ на 2014 г.</a></p>
    <br/>

    <h3>Программа газоэнергетики на 2013-2016 гг.</h3>

    <p>
        Группа Компаний «РуссНефть» прорабатывает возможность эффективной реализации проектов, связанных с переработкой ПНГ и подготовкой природного газа.
        <a style="text-decoration: underline" href="#/upstream/gas/3">Подробнее</a>
    </p>

</div>


<div class="content-b" ng-show="lang == 2">

    <div class="row" style="margin-bottom: 10px">
        <div class="col-md-2">
            <h1 style="margin-bottom: 0">{{upstream}}</h1>
        </div>
        <div class="col-md-2 text-right" style="padding-top: 5px">
            <a class="btn btn-primary" href="#/upstream">
                <span class="glyphicon glyphicon-arrow-left" style="vertical-align: top"></span>
                <span style="vertical-align: top">BACK</span>
            </a>
        </div>
    </div>

    <h2 class="fs25">Gas projects</h2>

    <p>
        RussNeft attributes special attention to projects for associated petroleum gas (APG) utilization enhancement as well as natural gas
        production, gas processing and gas power generation.
    </p>


    <h3> Programs for APG efficient utilization</h3>

    <p>
        In this direction, the Company developed a 3-year program allowing to increase the APG utilization up to 95%. For this purpose, the Company
        has built a number of gas infrastructure facilities at its fields.
        The overall amount of investments from 2010 through 2013 was <b class="text-danger">7.2 bln rubles</b>.
    </p>


    <div class="row" style="margin-bottom: 0">
        <div class="col-md-8">
            <h4> Results of implementation of the 3-year program for APG utilization enhancement:</h4>
            <ul>
                <li>56 gas-piston and gas-turbine power plants were built with overall capacity of 61 MW;</li>
                <li>Gas flow lines were laid with overall length of 238 km;</li>
                <li>152 gas metering units were installed;</li>
                <li>2 compressor stations were started up.</li>
            </ul>
            <h4>The works performed in 2013 under the Program for APG efficient utilization included:</h4>
        </div>
        <div class="col-md-4">
            <img class="img-responsive img-thumbnail" src="images/content/upstream/gas/3.jpg"/>
        </div>
    </div>

    <ul style="margin-top: 10px">
        <li>
            Gas pipeline from Zapadno-Varioganskoye field FWKO unit to Varioganskaya KS-3 compressor station with a branch to Roslavlskoye booster
            pump station was put into operation which allowed to deliver APG of OAO Aganneftegazgeologiya and OAO Varioganneft to Beloozersky refinery
            and reach 96% utilization for those companies.
        </li>
        <li>
            Compressor station for gas injection was put into operation at Stolbovoye field which allowed to enhance the APG utilization and
            increase the oil recovery.
        </li>
        <li>
            Flare systems revamp with up-to-date headers commenced which will allow significant reduction of the environmental impact, thus reducing
            the environmental payments.
        </li>
    </ul>

    <p style="padding-left: 40px"><a style="text-decoration: underline" href="#/upstream/gas/1">Program for APG efficient utilization for 2013</a></p>

    <p style="padding-left: 40px"><a style="text-decoration: underline" href="#/upstream/gas/2">Program for APG efficient utilization for 2014</a></p>
    <br/>

    <h3>
        Gas power program for 2013-2016
    </h3>

    <p>
        RussNeft Group studies possibilities of efficient implementation of projects on APG and natural gas processing
        <a style="text-decoration: underline" href="#/upstream/gas/3">More details</a>
    </p>

</div>