<div class="content-b" ng-show="lang == 1" style="padding-top: 0">
    <div class="text-center">
        <object
                type="application/x-shockwave-flash"
                data="images/player.swf"
                height="600" width="800">
            <param name="bgcolor" value="#FFFFFF"/>
            <param name="allowFullScreen" value="true"/>
            <param name="allowScriptAccess" value="always"/>
            <param name="movie" value="images/player.swf"/>
            <param name="FlashVars"
                   value="way=v_ru.mp4&amp;swf=images/player.swf&amp;w=800&amp;h=600&amp;pic=http://&amp;autoplay=1&amp;tools=0&amp;skin=white&amp;volume=100&amp;q=1&amp;comment=ASCASC"/>
        </object>
    </div>
</div>

<div class="content-b" ng-show="lang == 2" style="padding-top: 0">
    <div class="text-center">
        <object
                type="application/x-shockwave-flash"
                data="images/player.swf"
                height="600" width="800">
            <param name="bgcolor" value="#FFFFFF"/>
            <param name="allowFullScreen" value="true"/>
            <param name="allowScriptAccess" value="always"/>
            <param name="movie" value="images/player.swf"/>
            <param name="FlashVars"
                   value="way=v_eng.mp4&amp;swf=images/player.swf&amp;w=800&amp;h=600&amp;pic=http://&amp;autoplay=1&amp;tools=0&amp;skin=white&amp;volume=100&amp;q=1&amp;comment=ASCASC"/>
        </object>
    </div>
</div>